
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Agent/Views/Shared/_New_Agent_Layout.cshtml";
}


@*<section class="dashboard">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                <!--  -->
                <div class=" dashboard_body">

                    <div class=" clearfix ">
                        <h3>Select Receiver Type     </h3>
                        <hr>
                        <div class="mobile_design text-center">
                            <!--  -->
                            <div class="col-lg-4 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("PayMFTCCardUser")">
                                        <div class="das-icon">

                                            <img src="~/Areas/Agent/images/icon/7.png" />
                                        </div>
                                        <h4>Pay E-Card User</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-4 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("PayNonMFTCCardUser")">
                                        <div class="das-icon">
                                            <img src="~/Areas/Agent/images/icon/8.png">
                                        </div>
                                        <h4>Cash to Cash Payment</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-4 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("PayBusinessCardUser")">
                                        <div class="das-icon">
                                            <img src="~/Areas/Agent/images/icon/9.png">
                                        </div>
                                        <h4>Pay Business Card User</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->


                        </div>
                    </div>

                    <a href="@Url.Action("Index","AgentDashboard")" class="btn radius-20 btn-primary"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to Dashboard</a>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
    <!--  -->
    <!--  -->
</section>*@



<section class="dashboard">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2">

                <!--  -->
                <div class="dashboard_body">

                    <div class=" clearfix">
                        <h3>Pay a Receiver</h3>
                        <hr>
                        <div class="mobile_design text-center">


                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">

                                    <a href="@Url.Action("PayAReceiverKiiPayWallet")">

                                        <div class="das-icon">
                                            <img src="~/Areas/Agent/Content/images/icon/svg/kiipay.svg">
                                        </div>
                                        <h4>KiiPay Wallet </h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("PayAReceiverCashPickup")">
                                        <div class="das-icon">
                                            <img src="~/Areas/Agent/Content/images/icon/svg/cash-pickup.svg">
                                        </div>
                                        <h4>Cash Pickup</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!-- back btn -->
                            <div class="clearfix">
                                <hr>
                                <center>
                                    <a href="@Url.Action("GoToDashboard","AgentDashboard")" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                                </center>
                            </div>
                            <!-- back btn end-->



                        </div>
                    </div>

                </div>
                <!--  -->

            </div>
        </div>
    </div>
    <!--  -->
    </div>
    </div>
    <!--  -->
    </div>
    <!--  -->
</section>


@*To Delete From Here*@

<!--  -->
@*<div class="dynamic_bg_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <h1>Select Receiver Type</h1>

                </div>

            </div>
        </div>
    </div>*@
<!--  -->
<!--  -->
@*<div class="real_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <select class="form-control input-lg" onchange="getval(this);">
                                    <option>- Select Receiver Type--</option>
                                    <option value="@Url.Action("PayMFTCCardUser")">Pay MFTC Card </option>
                                    <option value="@Url.Action("PayNonMFTCCardUser")">Pay Non Card Transfer</option>
                                    <option value="@Url.Action("PayBusinessCardUser")">Pay Business Card </option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="clearfix"></div>
                    </form>

                </div>

            </div>
        </div>


    </div>*@
<!--  -->
<!--  -->
@*<div class="dynamic_footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <a href="@Url.Action("Login","AgentLogin")" class="fbtn btn-next" id="proceed_payment">Proceed  <i class="fa fa-chevron-right" aria-hidden="true"></i></a>

                </div>
            </div>
        </div>
    </div>*@
<!--  -->
@*To Delete Till Here*@