@model FAXER.PORTAL.Areas.Agent.Models.PayAReceiveCashPickupReceiverDetailsViewModel
@{
    ViewBag.Title = "PayAReceiveCashPickupReceiverDetails";
    Layout = "~/Areas/Agent/Views/Shared/_New_Agent_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <!--  -->
    @Html.HiddenFor(model => model.Id)


    <div class="real_form pattern2 pdt40 ">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 ">


                    <div class="login_signup mb50 clearfix  ">
                        <div class=" ">

                            <div class="col-lg-12">
                                <h3>Receiver Details</h3>
                            </div>


                        </div>
                        <div class="clearfix">

                        </div>
                        <hr>
                        <div class=" ">

                            <!--  -->
                            <div class="col-lg-6">
                                <div class="form-group mb30">
                                    <label>First Name</label>
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-blue", placeholder = "Enter First Name", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6">
                                <div class="form-group mb30">
                                    <label>Middle Name</label>
                                    @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-blue", placeholder = "Enter Middle Name", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clearfix">

                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6">
                                <div class="form-group mb30">
                                    <label>Last/Family Name</label>
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-blue", placeholder = "Enter Last/Family Name", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6">
                                <div class="form-group mb30">
                                    <label>Mobile Number</label>
                                    @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-blue", placeholder = "Enter Mobile Number", type = "number", maxlength = "10", minlength = "10", autocomplete = "off", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clearfix">

                            </div>
                            <!--  -->
                            <!--  -->
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6">
                                <div class="form-group mb30">
                                    <label>Country of Birth</label>
                                    @Html.DropDownListFor(model => model.BirthCountry, (IEnumerable<SelectListItem>)ViewBag.BirthCountry, "Select Birth Country", new { @class = "form-blue" })
                                    @Html.ValidationMessageFor(model => model.BirthCountry, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <!--  -->



                        </div>
                        <div class="clearfix">

                        </div>


                        <div class="clearfix">
                            <div class="col-lg-12">
                                <h3>Identification Information</h3>
                                <hr>
                            </div>

                            <!--  -->
                            <div class="col-lg-6">
                                <div class="form-group mb30">
                                    <label>ID Type <span class="required">*</span></label>
                                    @Html.DropDownListFor(model => model.IdType, (IEnumerable<SelectListItem>)ViewBag.IDTypes, "Select ID Type", new { @class = "form-blue" })
                                    @Html.ValidationMessageFor(model => model.IdType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6">
                                <div class="form-group mb30">
                                    <label>ID Number <span class="required">*</span></label>
                                    @Html.TextBoxFor(model => model.IdNumber, new { @class = "form-blue", placeholder = "Enter ID Number" })
                                    @Html.ValidationMessageFor(model => model.IdNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clearfix">

                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6">
                                <div class="form-group mb30">
                                    <label>Expiry Date <span class="required">*</span></label>
                                    @Html.TextBoxFor(model => model.ExpiryDate, new { type = "date", @class = "form-blue" })
                                    @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" }) 
                                    @Html.ValidationMessage("IDExpired", "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6">
                                <div class="form-group mb30">
                                    <label>Issuing Country <span class="required">*</span></label>
                                    @Html.DropDownListFor(model => model.IssuingCountry, (IEnumerable<SelectListItem>)ViewBag.IdIssuingCountry, "Select Issuing Country", new { @class = "form-blue" })
                                    @Html.ValidationMessageFor(model => model.IssuingCountry, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--  -->


                            <div class="clearfix">

                            </div>

                        </div>




                        <div class="clearfix">
                            <div class="col-lg-12">
                                <h3>Address</h3>
                                <hr>
                            </div>
                            <!--  -->
                            <div class="col-lg-6">
                                <div class="form-group mb30">
                                    <label>Address Line 1 <span class="required">*</span></label>
                                    @Html.TextBoxFor(model => model.AddressLine1, new { @class = "form-blue", placeholder = "Enter Address Line 1" })
                                    @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6">
                                <div class="form-group mb30">
                                    <label>Address Line 2</label>
                                    @Html.TextBoxFor(model => model.AddressLine2, new { @class = "form-blue", placeholder = "Enter Address Line 2" })
                                    @Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clearfix">

                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6">
                                <div class="form-group mb30">
                                    <label>Postcode/Zipcode <span class="required">*</span></label>
                                    @Html.TextBoxFor(model => model.PostCode, new { @class = "form-blue", placeholder = "Enter Postcode/Zipcode" })
                                    @Html.ValidationMessageFor(model => model.PostCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6">
                                <div class="form-group mb30">
                                    <label>Country <span class="required">*</span></label>
                                    @Html.DropDownListFor(model => model.Country, (IEnumerable<SelectListItem>)ViewBag.Countries, "Select Country", new { @class = "form-blue" })
                                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--  -->

                            <div class="clearfix">

                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>


                    <div class="text-center   clearfix">
                        <hr>

                        <button type="submit" class="btn btn-primary btn-lg  mb30 ">Continue <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        <!-- back btn -->
                        <div class="clearfix ">

                            <center>
                                <a href="@Url.Action("PayAReceiverCashPickup","PayAReceiver", new { @Area = "Agent"})" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                            </center>
                        </div>
                        <!-- back btn end-->
                    </div>
                </div>

                <!--  -->

            </div>

        </div>
    </div>

}


@if (ViewBag.AgentResult.Status == FAXER.PORTAL.Common.ResultStatus.Warning)
{
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="onload" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">MoneyFex Service-Alert</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="icon_al">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <h4>@ViewBag.AgentResult.Message</h4>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close alert window</button>
                    @*@if (ViewBag.AgentResult.Data != null)
                        {
                            <a class="btn btn-success btn-sm" target="_blank" href="@Url.Action("PrintPDFNonCardReceive","PayAReceiver",new { MFCN=ViewBag.AgentResult.Data.MFCN})">Print Payment Receipt</a>
                        }*@
                </div>
            </div>
        </div>
    </div>
}



@section Scripts{
    
    <script type="text/javascript">

        $("#BirthCountry").val('@Model.BirthCountry');

    </script>
    }





