@model FAXER.PORTAL.Models.PaymentMethodViewModel
@{
    ViewBag.Title = "PaymentMethod";
    Layout = "~/Areas/Agent/Views/Shared/_New_Agent_Layout.cshtml";
    string[] amountSplited = Model.TotalAmount.ToString("0.00").Split('.');
}


@using (Html.BeginForm())
{
    <!--  -->
    <div class="real_form pattern2 pdt40 ">
        <div class="container">
            <div class="row">


                <div class="col-lg-3">
                </div>

                <div class="col-lg-7  ">

                    <div class="login_signup mb50 clearfix text-center">

                        <!-- Available balance -->
                        <div class=" text-center mb30 mt20 ">
                            <div class="text-right wallet-balance  card-body">
                                <h5>Amount including fee</h5>
                                <h1 class="text-primary">@Model.SendingCurrencySymbol<span class="amountheader">@amountSplited[0]</span>.<small class="text-primary">@amountSplited[1]</small></h1>
                            </div>
                        </div>
                        <!-- Available balance -->
                        <div class="clearfix">

                        </div>

                        @Html.HiddenFor(model => model.TotalAmount)
                        @Html.HiddenFor(model => model.SendingCurrencySymbol)
                        @Html.HiddenFor(model => model.HasKiiPayWallet)

                        <ul class="paymentmethod-list mt20 mb20">
                            <h4 class="text-left">
                                @Html.ValidationMessage("TransactionError", "", new { @class = "text-danger" })
                            </h4>
                            <h4 class="text-left">How do you want to pay ?</h4>

                            @{
                                int index = 0;
                            }
                            @foreach (var item in Model.CardDetails)
                            {
                                <li>
                                    <label>
                                        @Html.RadioButtonFor(model => Model.CardDetails[index].IsChecked, true, new { @type = "radio", @id = item.CardId, @onchange = "RadioChange();" })
                                        <span class="cardsaved">
                                            @if (item.CreditDebitCardType == FAXER.PORTAL.Models.CreditDebitCardType.VisaCard)
                                            {
                                                <img src="~/Content/images/icon/card/visa.png">
                                            }
                                            else
                                            {
                                                <img src="~/Content/images/icon/card/master-card.png">
                                            }
                                        </span>
                                        <div class="details_method">
                                            <span class="title">Saved Credit/Debit Card</span> <span class="subtitle"> @item.CardNumber</span>
                                            <span class="subtitle"><a href="#">Fee: @ViewBag.SendingCountryCurrency @ViewBag.CreditDebitFee </a> </span>
                                        </div>
                                    </label>
                                    @Html.HiddenFor(model => Model.CardDetails[index].CardId)
                                    @Html.HiddenFor(model => Model.CardDetails[index].CreditDebitCardType)

                                    @Html.HiddenFor(model => Model.CardDetails[index].CardNumber)
                                    @{
                                        index++;
                                    }
                                </li>
                            }
                            <li>
                                <label class="clearfix">
                                    @Html.RadioButtonFor(model => model.SenderPaymentMode, FAXER.PORTAL.Models.SenderPaymentMode.CreditDebitCard, new { @onchange = "RadioChange();", id = "CreditDebitCard" })
                                    <span class="cardsaved ">
                                        <img src="~/Content/images/credit-debit.jpg">
                                    </span>
                                    <div class="details_method">
                                        <span class="title"> Credit/Debit</span> <span class="subtitle"> Card details required </span>
                                        <span class="subtitle"><a href="#">Fee: @ViewBag.SendingCountryCurrency @ViewBag.CreditDebitFee </a> </span>

                                    </div>

                                </label>
                            </li>
                            @if (Model.HasEnableMoneyFexBankAccount == true)
                            {
                                <li>
                                    <label class="clearfix">
                                        @Html.RadioButtonFor(model => model.SenderPaymentMode, FAXER.PORTAL.Models.SenderPaymentMode.MoneyFexBankAccount, new { @onchange = "RadioChange();", id = "MoneyFexBankAccount" })
                                        <span class="cardsaved "><img src="~/Content/images/icon/svg/bank.svg"></span>
                                        <div class="details_method">
                                            <span class="title"> MoneyFex Bank Account  </span> <span class="subtitle"><a href="#"> Manually transfer from your bank account to ours</a></span>
                                            @*<span class="fee">Fee : GBP 0.95</span>*@
                                            <span class="subtitle"><a href="#">Fee: @ViewBag.SendingCountryCurrency  @ViewBag.ManualBankDepositFee </a> </span>
                                        </div>
                                    </label>
                                </li>
                            }
                        </ul>


                        <div class="clearfix">  </div>


                    </div>
                    <div class="clearfix"></div>
                    <div class="text-center  clearfix">
                        <hr>
                        <button type="submit" class="btn btn-primary btn-lg mb30">Continue <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        <!-- back btn -->
                        <div class="clearfix ">

                            <center>
                                <a href="@Url.Action("FundAccount","FundAccount")" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>

                            </center>
                        </div>
                        <!-- back btn end-->
                    </div>
                </div>

                <!--  -->

            </div>

        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        function RadioChange() {
            debugger;
            $("input[type=radio]").prop('checked', false)
            event.target.checked = true;
            if (event.target.id > 0) {

                $("02").show();
                $("01").hide();

            } else {

                $("01").show();
                $("02").hide();
            }
        }


        function submit() {

            var id = "";
            $("input[type=radio]").each(function () {
                debugger;
                if ($(this)[0].checked == true) {
                    id = $(this)[0].id;
                    return;
                };

            });
            if (id > 0) {
                $("#loader").show();
                $("form").submit();

            } else  {
                $("#loader").show();
                window.location.href = "DebitCreditCardDetails";
            }
        }

        var IsCreditDebitCard = '@Model.SenderPaymentMode';
        if (IsCreditDebitCard == 'CreditDebitCard') {
            $("#CreditDebitCard").attr("checked", true);
        }

    </script>
}