@model  FAXER.PORTAL.Models.MerchantAutoPaymentAddViewModel
@{
    ViewBag.Title = "MerchantAutoPaymentAdd";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <section class="dashboard">
        <div class="container">
            <div class="row">
                @*<div class="col-lg-3  hidden-xs hidden-sm col-md-4">
                        <a href="dashboard.php" class="btn btn-primary btn-sm btn-block">My Dashboard</a>
                        <br>
                        <div class="clearfix"></div>
                        @{Html.RenderPartial("_Dashboard_Sidebar");}
                    </div>*@
                <div class="col-lg-9 col-lg-offset-2">
                    <div class="dashboard_body">
                        <h3>Auto  Payments</h3>
                        <hr>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <br><br>
                                @Html.EditorFor(model => model.AutoPaymentAmount, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Auto Payment Amount", @id = "AutoTopUpAmount"  , type="number"} })
                                @Html.ValidationMessage("Error", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <span>How often do you want to auto pay this merchant ?</span>
                                @Html.EnumDropDownListFor(model => model.AutoPaymentFrequency, new { @class = "form-control", @id = "PaymentFrequency" })
                                @Html.ValidationMessageFor(model => model.AutoPaymentFrequency, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix">

                        <div class="col-lg-3">
                            <div class="form-group control-label">
                                <label>Payment Reference</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.PaymentReference, new { @class = "form-control", @id = "PaymentFrequency" })
                                @Html.ValidationMessageFor(model => model.PaymentReference, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.FrequencyDetails, new { @id = "PaymentDay" })
                        <div class="clearfix"></div>
                    </div>
                    <!--  -->
                    <diSv class="col-lg-12 mt20">
                        <div class="clearfix"></div>
                        <a href="@Url.Action("MerchantAutoPayments")" class="btn btn-sm btn-danger pull-left">Back</a>
                        <button type="submit" class="btn btn-sm btn-primary pull-right">Proceed to set up</button>
                    </diSv>
                </div>
            </div>
            <!--  -->
        </div>
        <!--  -->
    </section>


    <div class="modal" id="PaymentWeekly" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>MoneyFex</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="icon_al">
                                <i class="fa fa-info-circle" aria-hidden="true" style="color:blue"></i>
                            </div>
                        </div>
                        <div class="col-lg-9" id="PaymentDate">
                            <p>
                                Please Choose Your Payment Day .
                                <br />

                                <label id="InvalidWeekDay" style="color:red;display:none;"> Please choose a day</label>
                                <div class="col-lg-6">
                                    <label><input type="radio" id="Sunday" name="Payment" value="0">Sunday</label><br />
                                    <label><input type="radio" id="Monday" name="Payment" value="1"> Monday</label><br />
                                    <label><input type="radio" id="Tuesday" name="Payment" value="2"> Tuesday</label><br />
                                    <label><input type="radio" id="Wednesday" name="Payment" value="3"> Wednesday</label><br />
                                </div>
                                <div class="col-lg-6">
                                    <label><input type="radio" id="Thursday" name="Payment" value="4"> Thursday</label><br />
                                    <label><input type="radio" id="Friday" name="Payment" value="5"> Friday</label><br />
                                    <label><input type="radio" id="Saturday" name="Payment" value="6"> Saturday</label><br />
                                </div>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" onclick="WeelyAutoPayments()">Ok</button>
                    <button type="button" class="btn btn-danger btn-sm" onclick="ResetFrequency()" data-dismiss="modal">close</button>
                </div>
            </div>
        </div>
    </div>



        <div class="modal" id="PaymentMonthly" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>MoneyFex</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="icon_al">
                                    <i class="fa fa-info-circle" aria-hidden="true" style="color:blue"></i>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <p>
                                    Please Choose Your Payment Day .
                                </p>
                                <select aria-label="Day" name="PaymentDateMonthly" id="PaymentDateMonthly" title="Day" required>
                                    <option value="0">Select Day of the Month</option>
                                    <option value="01">1</option>
                                    <option value="02">2</option>
                                    <option value="03">3</option>
                                    <option value="04">4</option>
                                    <option value="05">5</option>
                                    <option value="06">6</option>
                                    <option value="07">7</option>
                                    <option value="08">8</option>
                                    <option value="09">9</option>
                                    @for (int i = 10; i <= 31; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                                <br />
                                <label id="invalidMonthlyDay" style="color:red;display:none">Please Choose Day</label>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm" onclick="MonthlyAutoPayments()">Ok</button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="ResetFrequency()" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>


    <div class="modal" id="PaymentYearly" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>MoneyFex</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="icon_al">
                                <i class="fa fa-info-circle" aria-hidden="true" style="color:blue"></i>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <p>
                                Please Choose Your Payment Month and Day .
                            </p>

                            <select aria-label="Month" name="Month" id="Month" title="Month" required>
                                <option value="0">Select Month</option>
                                <option value="01">Jan</option>
                                <option value="02">Feb</option>
                                <option value="03">Mar</option>
                                <option value="04">Apr</option>
                                <option value="05">May</option>
                                <option value="06">Jun</option>
                                <option value="07">Jul</option>
                                <option value="08">Aug</option>
                                <option value="09">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                            <select aria-label="Month" name="Day" id="Day" title="Month" required>
                                <option value="0">Select Day</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                @for (int i = 10; i <= 31; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <br />
                            <label id="invalidMonth" style="color:red;display:none">Please Choose Month</label>
                            <label id="invalidDay" style="color:red;display:none">Please Choose Day</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary btn-sm" onclick="YearlyAutoPayment()">Ok</button>
                    <button type="button" class="btn btn-danger btn-sm" onclick="ResetFrequency()" data-dismiss="modal">close</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal" id="freqency_alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>MoneyFex</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="icon_al">
                                <i class="fa fa-info-circle" aria-hidden="true" style="color:blue"></i>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <p>
                                Are you sure you want to pay this merchant <b>@ViewBag.FaxerCurrency  <span id="AutoPaymentAmount"></span></b> , every <b><span id="FrequencyDay"></span></b> of the <b><span id="Frequency"></span></b> ?

                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Yes Proceed</button>
                    <button type="button" class="btn btn-danger btn-sm" onclick="ResetAutoPayment()" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {


            $('#PaymentFrequency').change(function (event) {
                if ($("#PaymentFrequency").val() != 0) {
                    var Amount = $("#AutoTopUpAmount").val();
                    var Frequency = $("#PaymentFrequency").val();
                    $("#AutoPaymentAmount").text(Amount);

                    if (Frequency == "1") {
                        $("#PaymentWeekly").modal("show");
                        $("#Frequency").text("Week");
                    }
                    else if (Frequency == "2") {
                        $("#PaymentMonthly").modal("show");
                        $("#Frequency").text("Month");
                    }
                    else if (Frequency == "3") {
                        $("#PaymentYearly").modal("show");
                        $("#Frequency").text("Year");


                    }



                    //$("#freqency_alert").modal("show");
                }
            });

            $("#PaymentDate").change(function (event) {
                var radios = document.getElementsByName('Payment');
                var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

                for (var i = 0, length = radios.length; i < length; i++) {
                    if (radios[i].checked) {
                        // do whatever you want with the checked radio

                        $("#PaymentDay").val(radios[i].value);
                        $("#FrequencyDay").text(days[radios[i].value]);

                        // only one radio can be logically checked, don't check the rest
                        break;
                    }
                }


            });


        });
        function WeelyAutoPayments() {
            var values = $("#PaymentDay").val();
            if (values == "") {
                $("#InvalidWeekDay").show();
            }
            else {
                $("#InvalidWeekDay").hide();

                $("#freqency_alert").modal("show");

                $("#PaymentWeekly").modal("hide");
            }

        }

        function MonthlyAutoPayments() {


            var values = $("#PaymentDateMonthly").val();

            if (values == "0") {
                $("#invalidMonthlyDay").show();

            } else {

                $("#PaymentDay").val(values);
                if (values == "01" || values == "21" || values == "31") {
                    $("#FrequencyDay").text(values + "st");
                }
                else if (values == "02" || values == "22") {
                    $("#FrequencyDay").text(values + "nd");
                }
                else if (values == "03" || values == "22") {
                    $("#FrequencyDay").text(values + "rd");
                }

                else {
                    $("#FrequencyDay").text(values + "th");
                }

                $("#invalidMonthlyDay").hide();
                $("#freqency_alert").modal("show");

                $("#PaymentMonthly").modal("hide");


            }
        }

        function YearlyAutoPayment() {
            var Month = $("#Month").val();
            var Day = $("#Day").val();

            if (Month == "0") {
                $("#invalidMonth").show();
                $("#invalidDay").hide();
            }
            else if (Day == "0") {
                $("#invalidMonth").hide();
                $("#invalidDay").show();
            }
            else {

                $("#invalidMonth").hide();
                $("#invalidDay").hide();

                $("#PaymentDay").val(Month + Day);
                $("#FrequencyDay").text($("#Month option:selected").text() + " " + Day);
                $("#freqency_alert").modal("show");

                $("#PaymentYearly").modal("hide");
            }
        }

        function ResetAutoPayment() {
            $("#AutoTopUpAmount").val(0);
            $("#PaymentFrequency").val(0);
            $("#freqency_alert").modal("hide");

        }

        function ResetFrequency() {
            $("#AutoTopUpAmount").val(0);
            $("#PaymentFrequency").val(0);
            $("#PaymentDay").val("");
            $("#FrequencyDay").text("");
            $("#PaymentWeekly").modal("hide");

        }



    </script>
}
