@model FAXER.PORTAL.Models.CreditDebitCardViewModel
@{
    ViewBag.Title = "DebitCreditCardDetails";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";

    string[] SendingAmount = Model.FaxingAmount.ToString().Split('.');
    string Amount1 = SendingAmount[0];
    string Amount2 = "00";
    if (SendingAmount.Length > 1)
    {

        Amount2 = SendingAmount[1];
    }
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FaxingCurrencySymbol)
    <!--  -->
    <div class="real_form pattern2 pdt40 ">
        <div class="container">
            <div class="row">

                <div class="col-lg-4">
                    <div class="login_signup mb20">

                        <ul class="wiz">
                            <li>
                                <div class="wiz-list row">
                                    <div class="col-xs-2">
                                        <div class="icon active">
                                            <i class="fa fa-check"></i>
                                        </div>
                                    </div>

                                    <div class="col-xs-8">
                                        <span class=" "><i class="flag-icon flag-icon-ng"></i> @ViewBag.ReceivingCountryCurrency @ViewBag.TransferMethod </span>
                                    </div>

                                    <div class="col-xs-2">
                                        <a href="@Url.Action("Index","SenderTransferMoneyNow")">Edit</a>
                                    </div>

                                </div>

                            </li>
                            <li>
                                <div class="wiz-list row">
                                    <div class="col-xs-2">
                                        <div class="icon active">
                                            <i class="fa fa-check"></i>
                                        </div>
                                    </div>

                                    <div class="col-xs-8">
                                        <span class=" "><i class="fa fa-money"></i> Amount @ViewBag.SendingCountryCurrency @ViewBag.SendingAmount </span>
                                    </div>

                                    <div class="col-xs-2">
                                        <a href="@Url.Action("Index","SenderTransferMoneyNow")">Edit</a>
                                    </div>

                                </div>

                            </li>

                            <li>
                                <div class="wiz-list row">
                                    <div class="col-xs-2">
                                        <div class="icon active">
                                            <i class="fa fa-check"></i>
                                        </div>
                                    </div>

                                    <div class="col-xs-8">
                                        <span class=" "><i class="fa fa-user"></i> @ViewBag.ReceiverName </span>
                                    </div>

                                    <div class="col-xs-2">
                                        <a href="@Url.Action("Index","SenderCashPickUp")">Edit</a>
                                    </div>

                                </div>

                            </li>



                            <li>
                                <div class="wiz-list row">
                                    <div class="col-xs-2">
                                        <div class="icon last">
                                            <i class="fa fa-credit-card"></i>
                                        </div>
                                    </div>

                                    <!--  <div class="col-xs-8">
                                       <span class=" "><i class="fa fa-money"></i> Amount GBP 458445 </span>
                                     </div>

                                    <div class="col-xs-2">
                                        <a href=""  >Edit</a>
                                     </div> -->

                                </div>

                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-6  ">
                    <div class="login_signup mb50 clearfix text-center">
                        <div class="flex-container amount-group flex-middle">
                            <div>
                                <div class="userimage  ">
                                    <img src="~/Content/images/user.svg" alt="">
                                </div>
                                @Html.HiddenFor(model => model.ReceiverName)
                            </div>
                            <div>
                                <span class="font-30 text-primary">@Model.ReceiverName</span>
                            </div>
                        </div>
                        <hr>
                        <!-- Available balance -->
                        <div class="col-lg-6 col-lg-offset-3 text-center mb30 mt20 ">
                            <div class="text-right wallet-balance  card-body">
                                <h5>Amount including fee</h5>
                                <h1 class="text-primary">@Model.FaxingCurrencySymbol<span class="amountheader">@Amount1</span>.<small class="text-primary">@Amount2</small></h1>
                            </div>
                        </div>
                        <!-- Available balance -->
                        <div class="clearfix">
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <img src="~/Content/images/icon/card/visa.png" alt="" width="35" id="VisaCard"> &nbsp;&nbsp;
                                <img src="~/Content/images/icon/card/master-card.png" alt="" width="35" id="MasterCard">

                            </div>
                            <div class="panel-body text-left mt20">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="text-danger" id="StripeError"></label>
                                            @Html.ValidationMessage("TransactionError", "", new { @class = "text-danger" })
                                            @Html.ValidationMessage("StripeError", "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @Html.HiddenFor(model => model.FaxingAmount)
                                    @Html.HiddenFor(model => model.FaxingCurrency)
                                    <!--  -->
                                    @*<div class="col-lg-12">
                                            <div class="form-group">
                                                @Html.EnumDropDownListFor(model => model.CreditDebitCardType, new { @class = "form-control " })
                                                @Html.ValidationMessageFor(model => model.CreditDebitCardType, "", new { @class = "text-danger" })

                                            </div>
                                        </div>*@
                                    <!--  -->
                                    <!--  -->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.CardNumber, new { @class = "form-control creditcardNumber", @placeholder = "Card number" })
                                            @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <!--  -->
                                    <!--  -->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.EndMM, new { @class = "form-control", @placeholder = "MM", @type = "number" })
                                            @Html.ValidationMessageFor(model => model.EndMM, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <!--  -->
                                    <!--  -->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.EndYY, new { @class = "form-control", @placeholder = "YY", @type = "number" })
                                            @Html.ValidationMessageFor(model => model.EndYY, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.SecurityCode, new { @class = "form-control", @placeholder = "Security code", type = "password", @maxlength = "3" })
                                            @Html.ValidationMessageFor(model => model.SecurityCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <!--  --> <!--  -->
                                    <div class="col-lg-12">
                                        <div class="form-group">

                                            @Html.TextBoxFor(model => model.NameOnCard, new { @class = "form-control", @placeholder = "Name on card" })
                                            @Html.ValidationMessageFor(model => model.NameOnCard, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <!--  -->
                                    <!--  -->
                                    <div class="col-lg-12">
                                        <div class="form-group">

                                            @Html.TextBoxFor(model => model.AddressLineOne, new { @class = "form-control", @placeholder = "Address", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(model => model.AddressLineOne, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <!--  -->
                                    <!--  -->
                                    @if (ViewBag.HasOneSavedCard == false)
                                    {

                                        <div class="col-lg-8"><label>Save this card for future use ?</label></div>
                                        <div class="col-lg-2">
                                            <label> @Html.RadioButtonFor(model => model.SaveCard, true) Yes </label>
                                        </div>
                                        <div class="col-lg-2"><label> @Html.RadioButtonFor(model => model.SaveCard, false) No </label></div>
                                        <!--  -->
                                    }
                                    <div class="col-lg-10">
                                        <label id="CreditCardlabelText" style="display:none;" class="text-danger">
                                            You're using a credit card: An additional fee of <span id="extrafee"> </span> will be added to the amount
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="text-center  clearfix">
                            <hr>
                            @*<button type="submit" class="btn btn-primary btn-lg mb30">Confirm & Transfer <i class="fa fa-chevron-right" aria-hidden="true"></i></button>*@
                            <a id="confirm" onclick="confirm()" class="btn btn-primary btn-lg mb30">Confirm & Transfer <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                            <!-- back btn -->
                            <div class="clearfix ">
                                <center>
                                    <a href="javascript:history.back()" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                                </center>
                            </div>
                            <!-- back btn end-->
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
    </div>
}

<!-- Information -->


<div id="information" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md text-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><i class="fa fa-info-circle"></i> Information</h3>
            </div>
            <div class="modal-body uk-text-center ">
                <h4>
                    Credit/Debit cards issued by Natwest, Nationwide, RBS, Halifax, Lloyds and TSB Bank are sometimes declined on our website,
                    please contact them if having any difficulty in making your payment.
                </h4>

                @*<h4>Natwest,   Nationwide,   RBS,   Halifax,   Llods and TSB Bank</h4>*@
                <p class="text-primary"><b>All other major cards are smoothly processed!</b></p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary radius-20" data-dismiss="modal">Ok</button>
                <!-- <button type="button" class="btn btn-default radius-20" data-dismiss="modal">No</button> -->
            </div>
        </div>

    </div>
</div>

<!-- Information -->

<form name="form" id="acsurl" method="POST">
    <div>
        <input type="hidden" name="PaReq" id="pareq" />
        <input type="hidden" name="TermUrl" id="termurl" />
        <input type="hidden" name="MD" id="md" />
    </div>
</form>

@section Scripts{

    <script type="text/javascript">
        //function Nextfocus(e) {

        //    debugger;
        //    if ($(this).val() == 2) {

        //        $(this).next().focus();
        //    }
        //}
        $("#VisaCard").hide();
        $("#MasterCard").hide();

        $("#information").modal('show');
        $("#CardNumber").on('keyup', function (e) {

            debugger;
            if ($(this).val().startsWith(4)) {
                $("#VisaCard").show();
                $("#MasterCard").hide();
            }
            if ($(this).val().startsWith(5)) {
                $("#MasterCard").show();
                $("#VisaCard").hide();
            }
            if ($(this).val().length >= 19) {

                $("#EndMM").focus();
            }
        });
        $("#EndMM").on('keyup', function (e) {

            debugger;
            if ($(this).val().length >= 2) {

                $("#EndYY").focus();
            }
        });
        $("#EndYY").on('keyup', function (e) {

            debugger;
            if ($(this).val().length >= 2) {

                $("#SecurityCode").focus();
            }
        });

        IsFromSavedDebitCard();
        function IsFromSavedDebitCard() {
            if ('@ViewBag.IsFromSavedDebitCard' == 'True') {
            confirm();
            }
        }

        function confirm() {

                $("#loader").show();
                var data = $($('form')[0]).serialize();
                $.post("ThreeDQuery",
                    data,
                    function (result) {
                        //for (var item in result.Data) {
                        //    var selector = "";
                        //}
                        //for (var item in result.Data) {
                        //    var selector = '[name="' + item + '"]';
                        //    $(selector).val(result.Data[item]);
                        //}
                        console.log(result.Data);
                        $("#loader").hide();
                        if (result.Status == 1) {

                            if (result.IsGetType3dAuth == true) {

                                window.location.href = result.Data.redirect_url;

                            } else {
                                $("#pareq").val(result.Data.PaReq);
                                $("#termurl").val(result.Data.termurl);
                                $("#md").val(result.Data.MD);
                                $("#acsurl").attr("action", result.Data.acsurl);
                                $("#acsurl").submit();
                            }
                          
                        }
                        else {
                            $("#StripeError").text(result.Message);
                        }

                    });
        }




        $("#SecurityCode").on('keyup', function (e) {
            debugger;
            var cardNumber = $("#CardNumber").val();
            var month = $("#EndMM").val();
            var year = $("#EndYY").val();
            var securityCode = $("#SecurityCode").val();

            if (securityCode.length > 2) {

                $("#NameOnCard").focus();

                $.getJSON("/SenderCashPickUp/IsCrebitCard?cardNumber=" + cardNumber +
                    "&month=" + month + "&year=" + year + "&securityCode=" + securityCode, function (result) {
                        debugger;
                        if (result.IsCrebitCard == true) {

                            $("#extrafee").text(result.ExtraAmount);
                            $("#CreditCardlabelText").show();
                        } else {

                            $("#CreditCardlabelText").hide();
                        }
                    });
            }
        });
    </script>
}
