@model FAXER.PORTAL.Models.CreditDebitCardViewModel
@{
    ViewBag.Title = "DebitCreditCardDetails";
    Layout = "~/Areas/Admin/Views/Shared/New_Layout.cshtml";

    string[] SendingAmount = Model.FaxingAmount.ToString().Split('.');
    string Amount1 = SendingAmount[0];
    string Amount2 = "00";
    if (SendingAmount.Length > 1)
    {

        Amount2 = SendingAmount[1];
    }
}

@using (Html.BeginForm())
{

    <div class="pcoded-content">
        <div class="pcoded-inner-content">

            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-body">
                        <div class="row">

                            <div class="col-sm-12">

                                <div class="card">

                                    <div class="card-header border-bottom">
                                        <h4 class="f-left f-left m-t-5 m-b-0">Sender <label class="text-primary">@ViewBag.SenderName</label> <span>Account Number: @ViewBag.SenderAccountNo<br>Country:@ViewBag.SenderCountry</span></h4>
                                        <button onclick="window.history.go(-1);" class=" btn btn-primary f-right btn-round">
                                            <i class="fa fa-angle-left m-r-5"></i> Back
                                        </button>
                                    </div>

                                    <div class="  p-t-30 b-b-30">

                                        <div class="row">
                                            <div class="col-lg-6  col-sm-12 col-xs-12 offset-lg-3">
                                                <div class="login_signup mb50 clearfix text-center">
                                                    <div class="d-flex align-items-center amount-group   p-30">
                                                        <div>
                                                            <div class="userimage  ">
                                                                <img src="assets/images/user.svg" alt="">
                                                            </div>
                                                        </div>
                                                        @Html.HiddenFor(model => model.ReceiverName)

                                                        <div>
                                                            <h2 class="text-primary"> @Model.ReceiverName</h2>
                                                        </div>
                                                    </div>

                                                    <hr>
                                                    <!-- Available balance -->
                                                    <div class="text-center   wallet-balance  card-body">
                                                        <h6><b>Amount including fee</b></h6>
                                                        @*<h1 class="text-primary">$100.<small class="text-primary">00</small></h1>*@
                                                        <h1 class="text-primary">@Model.FaxingCurrencySymbol<span class="amountheader">@Amount1</span>.<small class="text-primary">@Amount2</small></h1>

                                                    </div>
                                                    <!-- Available balance -->
                                                    <div class="clearfix">
                                                    </div>
                                                    <div class="card card-default">
                                                        <div class="card-header">
                                                            @*<img src="images/icon/card/visa.png" alt="" width="35"> &nbsp;&nbsp; <img src="images/icon/card/master-card.png" alt="" width="35"> &nbsp;&nbsp; <img src="assets/images/e-payment/card/visa.jpg" alt="" width="35"> &nbsp;&nbsp;
                                                                <img src="assets/images/e-payment/card/mastercard.jpg" alt="" width="35">*@


                                                            <img src="~/Content/images/icon/card/visa.png" alt="" width="35" id="VisaCard">

                                                            <img src="~/Content/images/icon/card/master-card.png" alt="" width="35" id="MasterCard">

                                                        </div>
                                                        <div class="card-body text-left mt20">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="form-group">
                                                                        <label class="text-danger" id="StripeError"></label>
                                                                        @Html.ValidationMessage("TransactionError", "", new { @class = "text-danger" })
                                                                        @Html.ValidationMessage("StripeError", "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>

                                                                <!--  -->
                                                                <!--  -->
                                                                <!--  -->
                                                                <div class="col-lg-12">
                                                                    <div class="form-group">
                                                                        @Html.TextBoxFor(model => model.CardNumber, new { @class = "form-control form-control-lg form-control-round creditcardNumber", @placeholder = "Card number" })
                                                                        @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <!--  -->
                                                                <!--  -->
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        @Html.TextBoxFor(model => model.EndMM, new { @class = "form-control form-control-lg form-control-round", @placeholder = "Expiring month", @type = "number" })
                                                                        @Html.ValidationMessageFor(model => model.EndMM, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <!--  -->
                                                                <!--  -->
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        @Html.TextBoxFor(model => model.EndYY, new { @class = "form-control form-control-lg form-control-round", @placeholder = "Expiring year", @type = "number" })
                                                                        @Html.ValidationMessageFor(model => model.EndYY, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <!--  -->
                                                                <!--  -->
                                                                <div class="col-lg-12">
                                                                    <div class="form-group">
                                                                        @Html.TextBoxFor(model => model.SecurityCode, new { @class = "form-control  form-control-lg form-control-round", @placeholder = "Security code", type = "password", @maxlength = "3" })
                                                                        @Html.ValidationMessageFor(model => model.SecurityCode, "", new { @class = "text-danger" })

                                                                    </div>
                                                                </div>
                                                                <!--  -->
                                                                <!--  -->
                                                                <div class="col-lg-12">
                                                                    <div class="form-group">
                                                                        @Html.TextBoxFor(model => model.AddressLineOne, new { @class = "form-control  form-control-lg form-control-round", @placeholder = "Address", @readonly = "readonly" })
                                                                        @Html.ValidationMessageFor(model => model.AddressLineOne, "", new { @class = "text-danger" })

                                                                    </div>
                                                                </div>
                                                                <!--  -->
                                                                <!--  -->

                                                                @if (ViewBag.HasOneSavedCard == false)
                                                                {

                                                                    <div class="col-lg-8"><label>Save this card for future use?</label></div>
                                                                    <div class="col-lg-2">
                                                                        <label> @Html.RadioButtonFor(model => model.SaveCard, true) Yes </label>
                                                                    </div>
                                                                    <div class="col-lg-2"><label> @Html.RadioButtonFor(model => model.SaveCard, false) No </label></div>
                                                                    <!--  -->
                                                                }
                                                                <!--  -->
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-footer bg-light p-40">
                                        <div class="row">
                                            <div class="col-lg-4  col-sm-12 col-xs-12 offset-lg-4">

                                                <a id="confirm" class="btn btn-lg btn-block btn-primary btn-round ">Confirm & Transfer <i class="fa fa-angle-right"></i></a>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
<form name="form" id="acsurl" method="post">
    <div>
        <input type="hidden" name="PaReq" id="pareq" />
        <input type="hidden" name="TermUrl" id="termurl" />
        <input type="hidden" name="MD" id="md" />
    </div>
</form>
@section Scripts{

    <script type="text/javascript">

        $("#VisaCard").hide();
        $("#MasterCard").hide();
        $("#CardNumber").on('keyup', function (e) {
            if ($(this).val().length >= 19) {

                $("#EndMM").focus();
            }
            if ($(this).val().startsWith(4)) {
                $("#VisaCard").show();
                $("#MasterCard").hide();
            }
            if ($(this).val().startsWith(5)) {
                $("#MasterCard").show();
                $("#VisaCard").hide();
            }


        });


        $("#EndMM").on('keyup', function (e) {
            if ($(this).val().length >= 2) {

                $("#EndYY").focus();
            }
        });
        $("#EndYY").on('keyup', function (e) {
            if ($(this).val().length >= 2) {

                $("#SecurityCode").focus();
            }
        });

        $("#SecurityCode").on('keyup', function (e) {
            var cardNumber = $("#CardNumber").val();
            var month = $("#EndMM").val();
            var year = $("#EndYY").val();
            var securityCode = $("#SecurityCode").val();

            if (securityCode.length > 2) {

                $("#NameOnCard").focus();
                $.getJSON("/Admin/StaffCashPickUpTransfer/IsCrebitCard?cardNumber=" + cardNumber +
                    "&month=" + month + "&year=" + year + "&securityCode=" + securityCode, function (result) {
                        if (result.IsCrebitCard == true) {

                            $("#extrafee").text(result.ExtraAmount);
                            $("#CreditCardlabelText").show();
                        } else {

                            $("#CreditCardlabelText").hide();
                        }
                    });
            }
        });

        $("#confirm").click(function () {

            $("#loader").show();
            var data = $($('form')[0]).serialize();
            $.post("ThreeDQuery",
                data,
                function (result) {
                    console.log(result.Data);
                    $("#loader").hide();
                    if (result.Status == 1) {
                        if (result.IsGetType3dAuth == true) {
                            window.location.href = result.Data.redirect_url;
                        }
                        else {
                            $("#pareq").val(result.Data.PaReq);
                            $("#termurl").val(result.Data.termurl);
                            $("#md").val(result.Data.MD);
                            $("#acsurl").attr("action", result.Data.acsurl);
                            $("#acsurl").submit();
                        }
                    }
                    else {
                        $("#StripeError").text(result.Message);
                    }
                });
        });
    </script>
}
