@model FAXER.PORTAL.Models.PaymentUsingSavedCreditDebitCardVm
@{
    ViewBag.Title = "TopUpSomeoneElseCardUsingSavedCreditDebitCard";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";

    var FaxingCurrency = "";
    var FaxingCurrencySymbol = "";
    if (Model != null)
    {

        FaxingCurrency = Model.FaxingCurrency ?? "";
        FaxingCurrencySymbol = Model.FaxingCurrencySymbol ?? "";
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="progress">
        <div class="progress-bar  " role="progressbar" aria-valuenow="40"
             aria-valuemin="0" aria-valuemax="100" style="width:28%">

        </div>
        <div class="arrow"></div>
    </div>
    <!--  -->
    <div class="dynamic_bg_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <h1>Pay someone else's virtual account using saved Credit/Debit Card</h1>

                </div>

            </div>
        </div>


    </div>
    <!--  -->
    <!--  -->
    <div class="real_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="col-lg-5">
                        <label>Amount  </label>
                    </div>


                    <div class="col-lg-6">
                        <div class="input-group">

                            @Html.HiddenFor(model => model.FaxingCurrency)

                            @Html.HiddenFor(model => model.FaxingCurrencySymbol)
                            <span class="input-group-addon">@FaxingCurrencySymbol</span>
                            @Html.EditorFor(model => model.TopUpAmount, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                            <span class="input-group-addon">@FaxingCurrency</span>
                            @Html.ValidationMessageFor(model => model.TopUpAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="clearfix"><br></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-5">
                        <label> Select Saved Credit/Debit Card </label>
                    </div>

                    <div class="col-lg-6 ">
                        <div class="form-group">
                            @Html.DropDownListFor(x => x.SavedCard, null, "Select Saved Card", htmlAttributes: new { @class = "form-control", id = "SavedCard", @onchange = "getSavedCard(this.value);" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->

                    <div class="col-lg-5">

                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">

                            @Html.ValidationMessage("ErrorMessage", "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-lg-5">
                        <label> Name on Card </label>
                    </div>

                    <div class="col-lg-6 ">
                        <div class="form-group">
                            @Html.EditorFor(model => model.NameOnCard, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                            @Html.ValidationMessageFor(model => model.NameOnCard, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-5">
                        <label> Card Number</label>
                    </div>

                    <div class="col-lg-6 ">
                        <div class="form-group">
                            @Html.HiddenFor(model => model.CardNumber)
                            @Html.EditorFor(model => model.CardNumberMasked, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                            @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-5">
                        <label> End Date</label>
                    </div>

                    <div class="col-lg-3 ">
                        <div class="form-group">
                            @Html.EditorFor(model => model.EndMonth, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                            @Html.ValidationMessageFor(model => model.EndMonth, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="form-group">
                            @Html.EditorFor(model => model.EndYear, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                            @Html.ValidationMessageFor(model => model.EndYear, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-5">
                        <label>Security Code</label>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="form-group">
                            <input type="text" class="form-control" value="..." readonly="readonly" />
                            @Html.HiddenFor(model => model.SecurityCode)
                            @*@Html.EditorFor(model => model.SecurityCode, new { htmlAttributes = new { @class = "form-control", @readonly = true } })*@
                            @Html.ValidationMessageFor(model => model.SecurityCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="form-group">
                            <img src="/images/code.png">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <hr>
                    <h4>Your home & billing Address: </h4>
                    <p>For security and verification purposes, your home and billing address must be same</p>

                    <!--  -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control", placeholder = "Address line 1" } })
                            @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control", placeholder = "Address line 2 (optional)" } })
                            @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeholder = "City" } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Post/Zip Code" } })
                            @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Country, (IEnumerable<SelectListItem>)ViewBag.Countries, "Select Country", new { @class = "form-control" })
                            @*@Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", placeholder = "Country" } })*@
                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--  -->
                    <div class="clearfix"></div>

                    <div class="clearfix"></div>
                    @if (ViewBag.AutoTopUP == 0)
                    {
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Would you like to auto pay this Virtual Account ?</label>
                                <div class="checkbox">
                                    <label>@Html.CheckBoxFor(model => model.AutoTopUp, new { id = "Auto" }) Yes</label>
                                </div>
                            </div>
                        </div>
                    }

                    <div id="submit_prog" style="display: block;">
                        <div class="col-lg-4">
                            <div class="form-group">


                                <div>
                                    <h5>Select Amount</h5>
                                    <input list="browsers" name="AutoTopUpAmount" class="form-control" id="AutoTopUpAmount">
                                    <datalist id="browsers">
                                        <option value="10"></option>
                                        <option value="20"></option>
                                        <option value="50"></option>
                                        <option value="100"></option>
                                        <option value="150"></option>
                                        <option value="200"></option>
                                        <option value="500"></option>
                                    </datalist>
                                </div>
                                <label id="AutoTopUpAmountValidation" style="color:red;display:none;">Please enter amount greater than 0</label>
                            </div>

                        </div>

                        <div class="col-lg-8">
                            <div class="form-group">
                                <h5>How often do you want to auto pay this Virtual Account ?</h5>

                                <select class="form-control" name="AutoPaymentFrequency" id="PaymentFrequency">
                                    <option>Auto payment frequency</option>
                                    <option>Weekly</option>
                                    <option>Monthly</option>
                                    <option>Yearly</option>

                                </select>

                            </div>


                            <label id="Frequency_validation" style="color:red;display:none;">Please select the payment frequency to enable auto payment</label>
                            <input type="hidden" id="PaymentDay" name="PaymentDay" />
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>@Html.CheckBoxFor(x => x.Confirm) Accept our Terms and Conditions</label>
                                @Html.ValidationMessageFor(model => model.Confirm, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="dynamic_footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <a href="/TopUpSomeoneElseMFTCCard/PaymentMethod" class="fbtn btn-back hidden-sm hidden-xs"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
                    <button type="submit" class="fbtn btn-next">Review Payment<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    <br>
                    <a href="/TopUpSomeoneElseMFTCCard/PaymentMethod" class="fbtn btn-back hidden-lg hidden-md"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
                </div>
            </div>
        </div>
    </div>

}

<div class="modal" id="PaymentWeekly" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>MoneyFex</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">

                        <div class="icon_al">
                            <i class="fa fa-info-circle" aria-hidden="true" style="color:blue"></i>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8" id="PaymentDate">

                        <p>
                            Please Choose Your Payment Day .
                            <br />

                            <label id="InvalidWeekDay" style="color:red;display:none;"> Please choose a day</label>
                            <div class="col-lg-6">
                                <label><input type="radio" id="Sunday" name="Payment" value="0">Sunday</label><br />
                                <label><input type="radio" id="Monday" name="Payment" value="1"> Monday</label><br />
                                <label><input type="radio" id="Tuesday" name="Payment" value="2"> Tuesday</label><br />
                                <label><input type="radio" id="Wednesday" name="Payment" value="3"> Wednesday</label><br />
                            </div>
                            <div class="col-lg-6">
                                <label><input type="radio" id="Thursday" name="Payment" value="4"> Thursday</label><br />
                                <label><input type="radio" id="Friday" name="Payment" value="5"> Friday</label><br />
                                <label><input type="radio" id="Saturday" name="Payment" value="6"> Saturday</label><br />
                            </div>
                        </p>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" onclick="WeelyAutoPayments()">Ok</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="ResetFrequency()" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="PaymentMonthly" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;" data-backdrop="static">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h4>MoneyFex</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">

                        <div class="icon_al">
                            <i class="fa fa-info-circle" aria-hidden="true" style="color:blue"></i>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                        <p>
                            Please Choose Your Payment Day .
                        </p>
                        <select aria-label="Day" name="PaymentDateMonthly" id="PaymentDateMonthly" title="Day" required>
                            <option value="0">Select Day of the Month</option>
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            @for (int i = 10; i <= 31; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <br />
                        <label id="invalidMonthlyDay" style="color:red;display:none">Please Choose Day</label>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" onclick="MonthlyAutoPayments()">Ok</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="ResetFrequency()" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="PaymentYearly" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;" data-backdrop="static">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h4>MoneyFex</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">

                        <div class="icon_al">
                            <i class="fa fa-info-circle" aria-hidden="true" style="color:blue"></i>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                        <p>

                            Please Choose Your Payment Month and Day .

                        </p>
                        <select aria-label="Month" name="Month" id="Month" title="Month" required>
                            <option value="0">Select Month</option>
                            <option value="01">Jan</option>
                            <option value="02">Feb</option>
                            <option value="03">Mar</option>
                            <option value="04">Apr</option>
                            <option value="05">May</option>
                            <option value="06">Jun</option>
                            <option value="07">Jul</option>
                            <option value="08">Aug</option>
                            <option value="09">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>
                        <select aria-label="Month" name="Day" id="Day" title="Month" required>
                            <option value="0">Select Day</option>
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            @for (int i = 10; i <= 31; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <br />
                        <label id="invalidMonth" style="color:red;display:none">Please Choose Month</label>
                        <label id="invalidDay" style="color:red;display:none">Please Choose Day</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary btn-sm" onclick="YearlyAutoPayment()">Ok</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="ResetFrequency()" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="freqency_alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>MoneyFex</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">

                        <div class="icon_al">
                            <i class="fa fa-info-circle" aria-hidden="true" style="color:blue"></i>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                        <p>
                            Are you sure you want to pay this Virtual Account  <b>@Model.FaxingCurrency <span id="AutoPaymentAmount"></span></b> , every <b><span id="FrequencyDay"></span></b> of the <b><span id="Frequency"></span></b> ?

                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Yes Proceed</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="ResetAutoPayment()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function getSavedCard(val) {
            window.location.href = "/TopUpSomeoneElseMFTCCard/TopUpSomeoneElseCardUsingSavedCreditDebitCard?savedCardId=" + val;

        }

        $(document).ready(function () {
            $('#Auto').click(function (event) {
                if (this.checked) {

                    $('#submit_prog').show();
                }
                else {
                    $('#submit_prog').hide()
                }
            });

            $('#confirm').click(function (event) {
                if ($("#Auto").prop("checked") == true) {
                    if ($("#AutoTopUpAmount").val() == 0 || $("#AutoTopUpAmount").val() == "") {
                        $("#AutoTopUpAmountValidation").show();
                        $("#confirm").prop("checked", false);
                    }
                    else if ($("#PaymentFrequency").val() == "Auto payment frequency") {
                        $("#AutoTopUpAmountValidation").hide();
                        $("#Frequency_validation").show();
                        $("#confirm").prop("checked", false);

                    } else {

                        $("#AutoTopUpAmountValidation").hide();
                        $("#Frequency_validation").hide();


                    }
                }
            });
            $('#PaymentFrequency').change(function (event) {
                if ($("#PaymentFrequency").val() != 0) {
                    var Amount = $("#AutoTopUpAmount").val();
                    var Frequency = $("#PaymentFrequency").val();
                    $("#AutoPaymentAmount").text(Amount);

                    if (Frequency == "Weekly") {
                        $("#PaymentWeekly").modal("show");
                        $("#Frequency").text("Week");
                    }
                    else if (Frequency == "Monthly") {
                        $("#PaymentMonthly").modal("show");
                        $("#Frequency").text("Month");
                    }
                    else if (Frequency == "Yearly") {
                        $("#PaymentYearly").modal("show");
                        $("#Frequency").text("Year");


                    }



                    //$("#freqency_alert").modal("show");
                }
            });

            $("#PaymentDate").change(function (event) {

                var radios = document.getElementsByName('Payment');
                var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

                for (var i = 0, length = radios.length; i < length; i++) {
                    if (radios[i].checked) {
                        // do whatever you want with the checked radio

                        $("#PaymentDay").val(radios[i].value);
                        $("#FrequencyDay").text(days[radios[i].value]);

                        // only one radio can be logically checked, don't check the rest
                        break;
                    }
                }


            });





        });



        function WeelyAutoPayments() {
            var values = $("#PaymentDay").val();
            if (values == "") {
                $("#InvalidWeekDay").show();
            }
            else {
                $("#InvalidWeekDay").hide();

                $("#freqency_alert").modal("show");

                $("#PaymentWeekly").modal("hide");
            }

        }

        function MonthlyAutoPayments() {


            var values = $("#PaymentDateMonthly").val();

            if (values == "0") {
                $("#invalidMonthlyDay").show();

            } else {

                $("#PaymentDay").val(values);
                if (values == "01" || values == "21" || values == "31") {
                    $("#FrequencyDay").text(values + "st");
                }
                else if (values == "02" || values == "22") {
                    $("#FrequencyDay").text(values + "nd");
                }
                else if (values == "03" || values == "22") {
                    $("#FrequencyDay").text(values + "rd");
                }

                else {
                    $("#FrequencyDay").text(values + "th");
                }

                $("#invalidMonthlyDay").hide();
                $("#freqency_alert").modal("show");

                $("#PaymentMonthly").modal("hide");


            }
        }

        function YearlyAutoPayment() {
            var Month = $("#Month").val();
            var Day = $("#Day").val();

            if (Month == "0") {
                $("#invalidMonth").show();
                $("#invalidDay").hide();
            }
            else if (Day == "0") {
                $("#invalidMonth").hide();
                $("#invalidDay").show();
            }
            else {

                $("#invalidMonth").hide();
                $("#invalidDay").hide();

                $("#PaymentDay").val(Month + Day);
                $("#FrequencyDay").text($("#Month option:selected").text() + " " + Day);
                $("#freqency_alert").modal("show");

                $("#PaymentYearly").modal("hide");
            }
        }

        function ResetAutoPayment() {
            $("#AutoTopUpAmount").val(0);
            $("#PaymentFrequency").val("Auto payment frequency");
            $("#freqency_alert").modal("hide");

        }

        function ResetFrequency() {
            $("#AutoTopUpAmount").val(0);
            $("#PaymentFrequency").val("Auto payment frequency");
            $("#PaymentDay").val("");
            $("#FrequencyDay").text("");
            $("#PaymentWeekly").modal("hide");

        }
    </script>
}