@model FAXER.PORTAL.Models.CreditDebitCardViewModel
@{
    ViewBag.Title = "Receiver";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";

    var FaxingCurrency = "";
    var FaxingCurrencySymbol = "";
    if (Model != null)
    {
        FaxingCurrency = Model.FaxingCurrency ?? "";
        FaxingCurrencySymbol = Model.FaxingCurrencySymbol ?? "";

    }

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="progress">
        <div class="progress-bar  " role="progressbar" aria-valuenow="40"
             aria-valuemin="0" aria-valuemax="100" style="width:42%">
        </div>
        <div class="arrow"></div>
    </div>
    <!--  -->
    <div class="dynamic_bg_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Transfer Money Using  Credit/Debit Card</h1>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="real_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4></h4>
                    <hr>
                    <!--  -->
                    <div class="col-lg-5">
                        <label>Sending Amount including Fee</label>
                    </div>

                    @Html.HiddenFor(model => model.FaxingCurrency)
                    @Html.HiddenFor(model => model.FaxingCurrencySymbol)
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">@FaxingCurrencySymbol</span>
                            @Html.EditorFor(model => model.FaxingAmount, new { htmlAttributes = new { @class = "form-control", @readonly = true, placeholder = "Your Placeholder Text" } })

                            <span class="input-group-addon">@FaxingCurrency</span>
                        </div>
                        @Html.ValidationMessageFor(model => model.FaxingAmount, "", new { @class = "text-danger" })
                    </div>

                    <div class="clearfix"></div>
                    <br />
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->

                    <div class="col-lg-5">

                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">

                            @Html.ValidationMessage("ErrorMessage", "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-lg-5">
                        <label> Name on Card </label>
                    </div>

                    <div class="col-lg-6 ">
                        <div class="form-group">
                            @Html.EditorFor(model => model.NameOnCard, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NameOnCard, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-5">
                        <label> Card Number</label>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="form-group">
                            @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-5">
                        <label> End Date</label>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="form-group">
                            @Html.EditorFor(model => model.EndMM, new { htmlAttributes = new { @class = "form-control", placeholder = "MM" } })
                            @Html.ValidationMessageFor(model => model.EndMM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="form-group">
                            @Html.EditorFor(model => model.EndYY, new { htmlAttributes = new { @class = "form-control", placeholder = "YY" } })
                            @Html.ValidationMessageFor(model => model.EndYY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-5">
                        <label>Security Code</label>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="form-group">
                            @Html.EditorFor(model => model.SecurityCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SecurityCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="form-group">
                            <img src="~/images/code.png" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" name="savethis" value="savethis">Save this Credit/Debit card for future use</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="clearfix"></div>
                    <!--  -->
                    <hr>
                    <h4>Your home & billing Address: </h4>
                    <p>For security and verification purposes, your home and biling address must be same</p>

                    <!--  -->
                    <div class="col-lg-6">
                        <div class="form-group">

                            @Html.EditorFor(model => model.AddressLineOne, new { htmlAttributes = new { @class = "form-control", placeholder = "Address line 1" } })
                            @Html.ValidationMessageFor(model => model.AddressLineOne, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.EditorFor(model => model.AddressLineTwo, new { htmlAttributes = new { @class = "form-control", placeholder = "Address line 2 (optional)" } })
                            @Html.ValidationMessageFor(model => model.AddressLineTwo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control", placeholder = "City" } })
                            @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Post/Zip Code" } })
                            @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.CountyName, (IEnumerable<SelectListItem>)ViewBag.Countries, "Select Country", new { @class = "form-control" })
                            @*@Html.EditorFor(model => model.CountyName, new { htmlAttributes = new { @class = "form-control", placeholder = "Country" } })*@
                            @Html.ValidationMessageFor(model => model.CountyName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--  -->
                    <div class="clearfix"></div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" name="Accept" value="Accept"> Accept our Terms and Conditions</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="dynamic_footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <a href="/PaymentMethod/ReciverPaymentMethod" class="fbtn btn-back hidden-sm hidden-xs"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
                    @*<a href="hurraymessage.php" class="fbtn btn-next">Finish Faxing this Amount <i class="fa fa-chevron-right" aria-hidden="true"></i></a>*@
                    <button type="submit" class="fbtn btn-next">Finish Sending this Amount <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    <br>
                    <a href="/PaymentMethod/ReciverPaymentMethod" class="fbtn btn-back hidden-lg hidden-md"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
}
