@model FAXER.PORTAL.Areas.Staff.ViewModels.StaffLoginViewModel
@{
    ViewBag.Title = "FirstLogin";
    Layout = "~/Areas/Staff/Views/Shared/_staff_layout.cshtml";
}

<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h1>Login</h1>
            </div>
        </div>
    </div>

</div>
<!--  -->
<!--  -->
<form method="post">
    <div class="real_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="login_signup">
                        <div class="text-center">
                            <h4>Welcome to your MoneyFax Service Agent's Account</h4>
                            <p><i>This is your first login screen, you must change your password before proceeding to your account</i></p>
                        </div>
                        <hr>
                        <form>
                            <!--  -->


                            <div class="col-lg-12 ">
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.StaffEmail , new { @class ="form-control" , @placeholder = "Email Address"})
                                    @Html.ValidationMessageFor(x => x.StaffEmail , "" , new { @class ="text-danger"})
                                </div>
                            </div>

                            <!--  -->
                            <!--  -->
                            <div class="col-lg-12 ">
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.LoginCode, new { @class = "form-control", @placeholder = "Login Code" })
                                    @Html.ValidationMessageFor(x => x.LoginCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->


                            <!--  -->
                            <!--  -->


                            <div class="col-lg-12 ">
                                <div class="form-group">


                                        @Html.TextBoxFor(x => x.StaffPassword, new { @class = "form-control", @placeholder = "New Password" , @type="password"})
                                        @Html.ValidationMessageFor(x => x.StaffPassword, "", new { @class = "text-danger" })
                                
                                </div>
                            </div>

                            <!--  -->
                            <!--  -->


                            <div class="col-lg-12 ">
                                <div class="form-group">

                                        @Html.TextBoxFor(x => x.StaffConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @type = "password" })
                                        @Html.ValidationMessageFor(x => x.StaffConfirmPassword, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <!--  -->
                            <!--  -->
                            <div class="col-lg-5">

                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-7 ">
                                <button type="submit" class="fbtn btn-next">Login <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                            </div>
                            <!--  -->

                            <div class="clearfix"></div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
<!--  -->
