@model FAXER.PORTAL.Areas.Staff.ViewModels.StaffContactDetails_1ViewModel
@{
    ViewBag.Title = "StaffContactDetails1";
    Layout = "~/Areas/Staff/Views/Shared/_staff_layout.cshtml";
}





<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h1>Additional Address Information 1</h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<form method="post">
    <div class="real_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="login_signup">


                        <!--  -->
                        <div class="col-lg-5">
                            <label> Address 1 <span class="required">*</span></label>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group">

                                @Html.TextBoxFor(model => model.StaffAddress1, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StaffAddress1, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--  -->
                        <!--  -->
                        <div class="col-lg-5">
                            <label> Address 2  </label>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.StaffAddress2, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StaffAddress2, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--  -->
                        <!--  -->
                        <div class="col-lg-5">
                            <label>City <span class="required">*</span></label>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.StaffCity, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StaffCity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--  -->
                        <!--  -->
                        <div class="col-lg-5">
                            <label>State/Province/Region <span class="required">*</span></label>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.StaffState, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StaffState, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--  -->
                        <!--  -->
                        <div class="col-lg-5">
                            <label>Zip/Postal Code <span class="required">*</span></label>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.StaffPostalCode, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StaffPostalCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--  -->
                        <!--  -->
                        <div class="col-lg-5">
                            <label>Country   <span class="required">*</span></label>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.StaffCountry, (IEnumerable<SelectListItem>)ViewBag.Countries, "Select Country", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StaffCountry, "", new { @class = "text-danger" })



                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--  -->
                        <!--  -->
                        <div class="col-lg-5">
                            <label>Phone Number <span class="required">*</span></label>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.StaffPhoneNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StaffPhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--  -->
                        <!--  -->
                        <div class="col-lg-5">
                            <label>How long have you been living in this address ? <span class="required">*</span></label>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group">
                                @Html.EnumDropDownListFor(m => m.BeenLivingSince, "Please Select Year", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.BeenLivingSince, "", new { @class = "text-danger" })


                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--  -->


                    </div>
                </div>

            </div>
        </div>


        <!--  -->
        <!--  -->
        <div class="dynamic_footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">

                        <button type="submit" class="fbtn btn-next">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>

                    </div>
                </div>
            </div>
        </div>


    </div>
</form>
<!--  -->
