
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<div class="page-header" style="background:  url(images/page-header.jpg) no-repeat center;  background-size: cover;">
    <div class="bredcum_newmenu">
        <div class=" ">
            <div class="container">
                <ol class="breadcrumb ">
                    <li> <a href="index.php">Home</a></li>
                    <li class="active">News</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="  mb80 mt20">
                    <h1 class="page-new">News</h1>
                    <div class="row">
                        <!--  -->
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="@Url.Action("NewsDetails")" class=" "><img src="https://dummyimage.com/800x600/e6e6e6/00000" alt=" " class="img-responsive"></a>
                                </div>
                                <div class="bg-white pinside30 outline">
                                    <h2><a href="@Url.Action("NewsDetails")" class="title">Lorem ipsum dolor   consectetuer  </a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                    <a href="@Url.Action("NewsDetails")" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <!--  -->
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="@Url.Action("NewsDetails")" class=" "><img src="https://dummyimage.com/800x600/e6e6e6/00000" alt=" " class="img-responsive"></a>
                                </div>
                                <div class="bg-white pinside30 outline">
                                    <h2><a href="@Url.Action("NewsDetails")" class="title">Lorem ipsum dolor   consectetuer  </a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                    <a href="@Url.Action("NewsDetails")" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <!--  -->
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="post-block mb30">
                                <div class="post-img">
                                    <a href="@Url.Action("NewsDetails")" class=" "><img src="https://dummyimage.com/800x600/e6e6e6/00000" alt=" " class="img-responsive"></a>
                                </div>
                                <div class="bg-white pinside30 outline">
                                    <h2><a href="@Url.Action("NewsDetails")" class="title">Lorem ipsum dolor   consectetuer  </a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                    <a href="@Url.Action("NewsDetails")" class="btn-link">Read More</a>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-md-12 text-center col-sm-12 col-xs-12">
                            <div class="st-pagination">
                                <!--st-pagination-->
                                <ul class="pagination">
                                    <li> <a href="#" aria-label="previous"><span aria-hidden="true">previous</span></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li> <a href="#" aria-label="Next"><span aria-hidden="true">next</span></a></li>
                                </ul>
                            </div>
                            <!--/.st-pagination-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
