@model List<FAXER.PORTAL.Areas.Admin.ViewModels.ViewMFTCCardPurchaseUsageViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">View - Virtual Account Purchase Usage</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                <ol class="breadcrumb">
                    <li><a href="/Admin/AdminDashboard">Dashboard</a></li>
                    <li class="active">View - Virtual Account Purchase Usage</li>
                </ol>

            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                @Html.DropDownList("Country", (IEnumerable<SelectListItem>)ViewBag.Countries, "Filter By Country", new { @class = "form-control", id = "Country", onchange = "Fliter();" })

            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.DropDownList("City", (IEnumerable<SelectListItem>)ViewBag.SCities, "Choose City", new { @class = "form-control", id = "city", onchange = "Fliter();" })
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <div class="table-responsive">
                        <table class="csv display nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <td rowspan="2"><strong>SN</strong></td>
                                    <td rowspan="2"><strong>Sender's Name</strong></td>
                                    <td rowspan="2"><strong>Virtual Account User's Full Name</strong></td>
                                    <td colspan="3" align="center"><strong>Purchase Amount</strong></td>
                                    <td colspan="2"><strong>Business Merchant</strong></td>
                                    <td rowspan="2" align="center"><strong>Purchase Receipt</strong></td>
                                    @*<td rowspan="2" align="center"><strong>Payment Rejection</strong></td>*@
                                </tr>
                                <tr>

                                    <td><b>Amt</b></td>
                                    <td><b>Time</b></td>
                                    <td><b>Date</b></td>


                                    <td><b>Name</b></td>
                                    <td><b>BMFS Code</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 0;}
                                @foreach (var item in Model)
                                {
                                    i++;

                                    <tr>
                                        <td>@i</td>

                                        <td>@item.FaxerFullName</td>
                                        <td>@item.CardUserFullName</td>

                                        <td>@item.PurchaseAmount @item.Currency</td>
                                        <td>@item.PurchaseTime</td>
                                        <td>@item.PurchaseDate</td>

                                        <td>@item.BusinessMerchantName</td>
                                        <td>@item.BusinessMerchantBMFSCode</td>

                                        <td align="center"><button class="btn btn-sm btn-warning">PDF Receipt</button></td>
                                        @*<td>Payment Rej</td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        function Fliter() {
            var country = document.getElementById("Country").value;
            var city = document.getElementById("city").value;
            window.location.href = "/Admin/ViewMFTCCardPurchaseUsage/Index?CountryCode=" + country + "&City=" + city;
        }


    </script>
}