@model FAXER.PORTAL.Areas.KiiPayBusiness.ViewModels.AddressVM
@{
    ViewBag.Title = "BusinessOpeationAddressInfo";
    Layout = "~/Areas/KiiPayBusiness/Views/Shared/_Layout_KiiPayBusiness.cshtml";
}

@using (Html.BeginForm())
{

    <!--  -->
    <div class="real_form pattern2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="login_signup text-center">
                        <div class="text-center">
                            <h3>Confirm your registered business address </h3>
                            <p>Where your business was incorporated</p>
                        </div>
                        <hr>
                        <form>
                            <div class="pinside20">

                                <div class="form-group">
                                    <label><input type="checkbox" onclick="GetAddressInfo()"> Same as registered address</label>
                                </div>
                                <!--  -->
                                <div class="form-group">

                                    @Html.DropDownListFor(model => model.Country, (IEnumerable<SelectListItem>)ViewBag.Countries, "Select Country", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                </div>
                                <!--  -->
                                <!--  -->
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.City, new { @class = "form-control", @placeholder = "City" })
                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                </div>
                                <!--  -->
                                <!--  -->
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.AddressLine1, new { @class = "form-control", @placeholder = "Address line 1" })
                                    @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })

                                </div>
                                <!--  -->
                                <!--  -->
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.AddressLine2, new { @class = "form-control", @placeholder = "Address line 2 (optional)" })
                                    @Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "text-danger" })
                                </div>
                                <!--  -->
                                <!--  -->
                                <div class="form-group">

                                    @Html.TextBoxFor(model => model.PostcodeORZipCode, new { @class = "form-control", @placeholder = "Postcode/Zip Code (optional) " })
                                    @Html.ValidationMessageFor(model => model.PostcodeORZipCode, "", new { @class = "text-danger" })

                                </div>
                                <!--  -->



                            </div>
                            <div class="clearfix">
                                <hr>
                            </div>
                            <!--  -->

                            <div class="col-lg-12 mb20 ">
                                <button type="submit" class="btn btn-primary radius-20">Continue <i class="fa fa-chevron-right" aria-hidden="true"></i></button>

                            </div>
                            <!--  -->

                            <div class="clearfix">

                            </div>
                        </form>

                    </div>
                    <div class="clearfix">

                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--  -->

}

@section Scripts
    {

    <script type="text/javascript">

        function GetAddressInfo() {
            debugger;
            if (event.target.checked == true) {
                $.getJSON("/KiiPayBusiness/KiiPayBusinessSignUp/GetAddressInfo", function (result) {

                    for (var item in result) {

                        var selector = '[name="' + item + '"]';
                        $(selector).val(result[item]);

                    }
                });
            } else {

                $("input[type=text]").val("");

            }
        }

    </script>
}
