@model FAXER.PORTAL.Areas.KiiPayBusiness.ViewModels.AddMoneyToWalletEnterCardInfoVm
@{
    ViewBag.Title = "AddMoneyToWalletAddNewCard";
    Layout = "~/Areas/KiiPayBusiness/Views/Shared/_Layout_KiiPayBusiness.cshtml";
}
<!--  -->
@using (Html.BeginForm())
{
    <div class="real_form pattern2 pdt40 ">
        <div class="container">
            <div class="row">
                <!-- Available balance -->
                <div class="col-lg-4 col-lg-offset-4 ">
                    <div class="text-right wallet-balance  mb15">
                        <h5>Available balance</h5>
                        <h1 class="text-primary">$175.<small class="text-primary">86</small></h1>
                    </div>
                </div>
                <!-- Available balance -->
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">
                    <div class="login_signup mb50 clearfix text-center">


                        <div class="clearfix">
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <img src="/Areas/KiiPayBusiness/images/icon/card/visa.png" alt="" width="35"> &nbsp;&nbsp; <img src="/Areas/KiiPayBusiness/images/icon/card/master-card.png" alt="" width="35">
                                &nbsp;&nbsp; <img src="/Areas/KiiPayBusiness/images/icon/card/ae.png" alt="" width="35">
                                &nbsp;&nbsp;<img src="/Areas/KiiPayBusiness/images/icon/card/maestro.png" alt="" width="35">
                            </div>
                            <div class="panel-body text-left mt20">
                                <div class="row">
                                    <!--  -->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            @Html.EnumDropDownListFor(model => model.CardType, "Select Card", new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CardType, "", new { @class = "text-danger" })

                                        @Html.ValidationMessage("StripeError", "", new { @class = "text-danger" })

                                    </div>
                                    <!--  -->
                                    <!--  -->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.CardNumber, new { @type = "number", @placeholder = "Card Number", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <!--  -->
                                    <!--  -->
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.ExpiringDateMonth, new { @type = "number", @placeholder = "01", @class = "form-control", @maxlenght = "2" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ExpiringDateMonth, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.ExpiringDateYear, new { @type = "number", @placeholder = "19", @class = "form-control", @maxlenght = "2" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ExpiringDateYear, "", new { @class = "text-danger" })
                                    </div>
                                    <!--  -->
                                    <!--  -->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.SecurityCode, new { @type = "number", @placeholder = "Security Code", @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.SecurityCode, "", new { @class = "text-danger" })
                                    </div>
                                    <!--  -->
                                    <!--  -->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>Select your Address</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--  -->
                                    @Html.HiddenFor(model => model.CardId)
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="text-center  clearfix">
                            <hr>
                            <button type="submit" class="btn btn-primary btn-lg mb30">Update <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                            <!-- back btn -->
                            <div class="clearfix ">
                                <center>
                                    <a href="javascript:history.back()" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                                </center>
                            </div>
                            <!-- back btn end-->
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
    </div>

}