@model FAXER.PORTAL.Models.RegisterViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";

}


<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
    $('.datetimepicker').datetimepicker({
        format: 'MM/DD/YYYY',
        widgetPositioning: {
            horizontal: 'auto',
            vertical: 'bottom'
        }
    });
</script>


<div class="progress">
    <div class="progress-bar  " role="progressbar" aria-valuenow="40"
         aria-valuemin="0" aria-valuemax="100" style="width:28%">

    </div>
    <div class="arrow"></div>
</div>
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h1>Sender Registration</h1>

            </div>

        </div>
    </div>
</div>

@using (Html.BeginForm("Register", "FaxerAccount", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="real_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="login_signup " style="overflow:hidden;">
                        <h3>sender's Details</h3>
                        <hr />

                        <div class="form-group">
                            <div class="col-lg-4">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = " " }) <span class="required">*</span>
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control " } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-5">
                                @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "" })
                            </div>

                            <div class="col-md-6">
                                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-5">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = " " }) <span class="required">*</span>
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @*<div class="col-lg-5">
                                    @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = " " }) <span class="required">*</span>
                                </div>*@
                            <div class="col-lg-6">
                                @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control dateInput", style = "display:none" })

                            </div>
                        </div>

                        <!--  -->
                        <div class="col-lg-5 clearfix">
                            <label>Date of Birth <span class="required">*</span></label>
                        </div>

                        <div class="col-lg-2 ">
                            <div class="form-group">

                                <input type="number" class="form-control day" placeholder="Day">



                            </div>
                        </div>

                        <div class="col-lg-2 ">
                            <div class="form-group">
                                <select class="form-control month" style="font-size: 11px;">
                                    <option selected>Month</option>
                                    <option value='1'>Janaury</option>
                                    <option value='2'>February</option>
                                    <option value='3'>March</option>
                                    <option value='4'>April</option>
                                    <option value='5'>May</option>
                                    <option value='6'>June</option>
                                    <option value='7'>July</option>
                                    <option value='8'>August</option>
                                    <option value='9'>September</option>
                                    <option value='10'>October</option>
                                    <option value='11'>November</option>
                                    <option value='12'>December</option>
                                </select>


                            </div>
                        </div>


                        <div class="col-lg-2">
                            <div class="form-group">
                                <input type="number" class="form-control year" placeholder="Year">


                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            @*<label class="col-lg-6 col-lg-offset-5">Please enter the valid date</label>*@
                            @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "col-lg-6  col-lg-offset-5 text-danger" })
                        </div>
                        <div class="clearfix"></div>
                        <!--  -->


                        <div class="form-group">
                            <div class="col-lg-5">
                                @Html.LabelFor(m => m.GGender, new { @class = "" }) <span class="required">*</span>
                            </div>
                            <div class="col-lg-6">
                                @Html.EnumDropDownListFor(m => m.GGender, "Please Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.GGender, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-5">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = " " }) <span class="required">*</span>
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-5">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = " " }) <span class="required">*</span>
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-5">
                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = " " }) <span class="required">*</span>
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <small id="emailHelp" class="form-text text-muted"><b>Password Policy </b>:<i> Password should contain atleast one upper case, one number, one special character and one lower case</i></small>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="dynamic_footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <button value="Next" class="fbtn btn-next" type="submit">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>

                    <br />

                </div>
            </div>
        </div>
    </div>

}
