@model FAXER.PORTAL.Areas.KiiPayPersonal.ViewModels.KiiPayEnterAmountViewModel
@{
    ViewBag.Title = "KiiPayEnterAmount";
    Layout = "~/Areas/KiiPayPersonal/Views/Shared/_Layout_KiiPayPersonal.cshtml";
}


@using (Html.BeginForm())
{


    <!--  -->
    <div class="real_form pattern2 pdt40 ">
        <div class="container">

            <div class="row">
                <!-- Available balance -->
                <div class="col-lg-4 col-lg-offset-4 ">
                    <div class="text-right wallet-balance  mb15">
                        <h5>Available balance</h5>
                        <h1 class="text-primary">@FAXER.PORTAL.Common.CardUserSession.LoggedCardUserViewModel.CardUserCurrencySymbol @FAXER.PORTAL.Common.CardUserSession.LoggedCardUserViewModel.BalanceOnCard </h1>
                    </div>
                </div>
                <!-- Available balance -->
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">


                    <div class="login_signup mb50 clearfix text-center">
                        <div class="flex-container amount-group flex-middle">
                            <div>
                                <div class="userimage  ">
                                    <img src="@Model.PhotoUrl" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="font-30 text-primary"> @Model.Name</span>
                            </div>
                        </div>



                        <div class="amount-group  ">

                            <div>
                                <label>Enter Amount</label>
                                @Html.TextBoxFor(model => model.Amount, new { @type = "number", @class = "amount", @placeholder = Model.CurrencySymbol + "0.00" })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="gbp">
                            @Model.CurrencyCode
                        </div>
                        <div class="amount-group  ">
                            @Html.TextBoxFor(model=>model.PaymentReference,new { @class = "reference", @placeholder = "Enter Payment Reference" })
                            @Html.ValidationMessageFor(model=>model.PaymentReference, "", new { @class="text-danger"})
                        </div>

                        <label class="label-checkbox ">Send SMS Notification ?  &nbsp;&nbsp;Yes&nbsp;&nbsp; @Html.CheckBoxFor(model => model.SendSMSNotification) </label>
                    </div>
                    <div class="clearfix"></div>
                    @Html.HiddenFor(model=>model.CurrencySymbol)
                    @Html.HiddenFor(model=>model.CurrencyCode)
                    @Html.HiddenFor(model=>model.SendSMSNotification)
                    @Html.HiddenFor(model=>model.Name)
                    @Html.HiddenFor(model=>model.PhotoUrl)
                    <div class="text-center   clearfix">
                        <hr>

                        <button type="submit"  class="btn btn-primary btn-lg  mb30 ">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        <!-- back btn -->
                        <div class="clearfix ">

                            <center>
                                <a href="@Url.Action("Index","VirtualAccountDeposit")" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                            </center>
                        </div>
                        <!-- back btn end-->
                    </div>
                </div>

                <!--  -->

            </div>

        </div>
    </div>

}