
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Agent/Views/Shared/_New_Agent_Layout.cshtml";
}


<section class="dashboard">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                <!--  -->
                <div class=" dashboard_body">

                    <div class=" clearfix ">
                        <h3>Forms   </h3>
                        <hr>
                        <div class="mobile_design text-center">

                            <!--  -->
                            <div class="col-lg-4 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("SARForms")">
                                        <div class="das-icon">

                                            <img src="~/Areas/Agent/images/icon/form/1.png" />
                                        </div>
                                        <h4>My Submitted SAR Form</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-4 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("ThirdPartyMoneyTransfer")">
                                        <div class="das-icon">
                                            <img src="~/Areas/Agent/images/icon/2.png">
                                        </div>
                                        <h4>Third Party Money Transfer </h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-4 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("LargeFundMoneyTransfer")">
                                        <div class="das-icon">
                                            <img src="~/Areas/Agent/images/icon/3.png">
                                        </div>
                                        <h4>Large Fund Money Transfer </h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-4 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("AgentAMLTrainingRecord")">
                                        <div class="das-icon">

                                            <img src="~/Areas/Agent/images/icon/form/4.png" />
                                        </div>
                                        <h4>Agent AML Training Record </h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-4 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("SourceOfFundDeclaration")">
                                        <div class="das-icon">
                                            <img src="~/Areas/Agent/images/icon/7.png">
                                        </div>
                                        <h4>Source of Funds Declaration    </h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-4 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="">
                                        <div class="das-icon">
                                            <img src="~/Areas/Agent/images/icon/14.png">
                                        </div>
                                        <h4>Under Development</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->






                        </div>
                    </div>
                    @*Agent/AgentDashboard/Index*@
                    <a href="@Url.Action("GoToDashboard" , "AgentDashboard")" class="btn radius-20 btn-primary"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to Dashboard</a>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
    <!--  -->
    
</section>