@model List<FAXER.PORTAL.Models.DailyRatesViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";

}
<div class="page-header" style="background:  url(/Content/images/page-header.jpg) no-repeat center;  background-size: cover;">
    <div class="bredcum_newmenu">
        <div class=" ">
            <div class="container">

                <ol class="breadcrumb ">
                    <li> <a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">Daily Rates</li>
                </ol>

            </div>
        </div>
    </div>
</div>
<div class="bg-white">
    <!-- content start -->
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="pinside20 mb80 mt20">
                    <h1 class="page-new">Daily Exchange Rate</h1>
                    <div class="row mb20">
                        <div class="col-lg-3 col-lg-offset-4">
                            <div class="form-group">
                                <label>Search by Date</label>
                                <input type="text" name="dates" id="dates" class="form-control" onchange="filter()">
                            </div>
                        </div>

                    </div>


                    <div class="table-responsive">
                        <table class="table table-bordered " id="example">
                            <thead>
                                <tr>
                                    <th>Sending Currency</th>
                                    <th>Receiving Currency</th>
                                    
                                    <th width="25%">@ViewBag.TodayDate</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {


                                    <tr>
                                        <td><i class="flag-icon flag-icon-@item.SendingCountryLower"></i> @item.SendingCurrency </td>

                                        <td><i class="flag-icon flag-icon-@item.ReceivingCountryLower"></i> @item.ReceivingCurrency @item.ReceivingAmount </td>

                                        <td>
                                            <a href="@Url.Action("Login","FaxerAccount" )" class="btn btn-sm btn-primary">Transfer Money</a> &nbsp;&nbsp;&nbsp;
                                            <a href="@Url.Action("DailyRateDetails","DailyRates", new { @id = item.Id})">Details</a>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>


                    <p>* Introductory rate with no fee for the first transfer</p>

                    <p>Rates are subject to fluctuation in the course of the day</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        function filter() {

            var date = $('#dates').val();
            window.location.href = "/DailyRates/Index?date=" + date;
        }

    </script>
}
