@model FAXER.PORTAL.Areas.CardUsers.ViewModels.MFTCCardHolderDetailsViewModel
@{
    ViewBag.Title = "MFTCCardHoderDetials";
    Layout = "~/Areas/CardUsers/Views/Shared/_CarUser_Layout.cshtml";
}


<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">

                <h1>Someone else's Virtual Account Payment</h1>

            </div>
        </div>
    </div>
</div>
<!--  -->
<!--  -->
<form method="post">
    <div class="real_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h4>Virtual Account User Details</h4>
                    <hr>

                    <!--  -->
                    <div class="col-lg-4">
                        <label>Name </label>
                    </div>

                    <div class="col-lg-4 ">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.CardUserName, new { @class = "form-control", @readonly = "readonly" })

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-4">
                        <label>Account No.</label>
                    </div>

                    <div class="col-lg-4 ">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.CardUserMFTCCardNumber, new { @class = "form-control", @readonly = "readonly" })

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-4">
                        <label>Registered City </label>
                    </div>

                    <div class="col-lg-4 ">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.CardUserCity, new { @class = "form-control", @readonly = "readonly" })

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-4">
                        <label>
                            Registered Country
                        </label>
                    </div>

                    <div class="col-lg-4 ">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.CardUserCountry, new { @class = "form-control", @readonly = "readonly" })

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>@Html.CheckBoxFor(model => model.Confirm)  I confirm that this is the account that i wish to make payment to, I have contacted the account user and agreed on the exact amount.</label>
                            @Html.ValidationMessageFor(model => model.Confirm, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <!--  -->

                </div>
                <div class="col-lg-4 ">
                    <div class="cardbody">

                        <h3 class="text-primary  ">@Model.CardUserName</h3>
                        <i class="fa fa-map-mark"></i>@Model.Address, @Model.CardUserCity, @Model.CardUserCountry
                        <br>
                        <i class="fa fa-phone"></i>  @Model.CountryPhoneCode-@Model.Phone<br>
                        <i class="fa fa-envelope"></i>  <a href="mailto:@Model.Email">@Model.Email</a><br>

                    </div>
                </div>
                @Html.HiddenFor(x => x.Address)
                @Html.HiddenFor(x => x.CountryPhoneCode)
                @Html.HiddenFor(x => x.Phone)
                @Html.HiddenFor(x => x.Email)
            </div>
        </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="dynamic_footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">


                    <a href="@Url.Action("Index")" class="fbtn btn-back hidden-xs hidden-sm "><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>

                    <button type="submit" class="fbtn btn-next">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    <br />
                    <a href="@Url.Action("Index")" class="fbtn btn-back hidden-lg hidden-md"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>




                </div>
            </div>
        </div>
    </div>
    <!--  -->
</form>