@model FAXER.PORTAL.Areas.CardUsers.ViewModels.CardUser_MerchantInternationalPaymentSuccessful
@{
    ViewBag.Title = "PaymentSuccessful";
    Layout = "~/Areas/CardUsers/Views/Shared/_CarUser_Layout.cshtml";
    string FaxingCurrency = FAXER.PORTAL.Common.CardUserSession.FaxingCurrency ?? "";
}

<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

                <h1>Pay for goods &  services</h1>

            </div>
        </div>
    </div>
</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

                <form>
                    <div class="completed-payment text-center">
                        <h3>Service Provider Payment Successfully Completed</h3>
                        <h4>We've sent you a Receipt</h4>
                        <div class=" ">
                            <div class="white-bg boxednew">

                                <h3 style="color:#333;">Your Transaction Details:</h3>
                                <div class="table-responsive text-left">
                                    <table class="table table-bordered">

                                        <tbody>
                                            <tr>
                                                <td>Provider's MoneyFex Account Number</td>
                                                <td>@Model.MerchantAccountNo</td>
                                            </tr>
                                            <tr>
                                                <td>Service Provider's Name</td>
                                                <td>@Model.MerchantName</td>
                                            </tr>
                                            <tr>
                                                <td>Service Provider's Country</td>
                                                <td>@Model.MerchantCountry</td>
                                            </tr>
                                            <tr>
                                                <td>Amount Paid</td>
                                                <td>@Model.AmountPaid @FaxingCurrency</td>
                                            </tr>
                                            <tr>
                                                <td>Payment Reference</td>
                                                <td>@Model.PaymentReference</td>
                                            </tr>
                                            <tr>
                                                <td>Receive  Option</td>
                                                <td>@Model.ReceiveOption</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix">

                        </div>
                        <br>
                        <a href="@Url.Action("Index" ,"CardUserHome")" title="" class="btn btn-primary">Go to your Dashboard  <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>





                </form>
            </div>
        </div>
    </div>
</div>
<!--  -->
<!--  -->