@model FAXER.PORTAL.Areas.Admin.ViewModels.ViewNonCardUsersMoneyReceivedViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<!-- ============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">View - Non Virtual Account User Money Received</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                <a href="" class="btn btn-info pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light btn-rounded">Send Money to Non Virtual Account User</a>

                <ol class="breadcrumb">
                    <li><a href="/Admin/AdminDashboard">Dashboard</a></li>
                    <li class="active">View - Non Virtual Account User Money Received</li>
                </ol>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.DropDownList("Country", (IEnumerable<SelectListItem>)ViewBag.Countries, "Filter By Country", new { @class = "form-control", id = "Country", onchange = "Fliter();" })

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.DropDownList("City", (IEnumerable<SelectListItem>)ViewBag.SCities, "Choose City", new { @class = "form-control", id = "city", onchange = "Fliter();" })
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="table-responsive">
                        <table class="csv display nowrap" cellspacing="0" width="100%">

                            <thead>
                                <tr>
                                    <td rowspan="2"><strong>SN.</strong></td>
                                    <td rowspan="2"><strong>Sender's Name</strong></td>
                                    <td rowspan="2"><strong>Address</strong></td>
                                    <td rowspan="2"><strong>Country</strong></td>
                                    <td rowspan="2"><strong>City</strong></td>
                                    <td rowspan="2"><strong>Tel</strong></td>
                                    <td rowspan="2"><strong>Email</strong></td>
                                    <td rowspan="2"><strong>Amount Sent</strong></td>
                                    <td rowspan="2"><strong>MFCN</strong></td>
                                    <td rowspan="2"><strong>Receiver's Full Name</strong></td>
                                    <td rowspan="2"><strong>Address</strong></td>
                                    <td rowspan="2"><strong>Country</strong></td>
                                    <td rowspan="2"><strong>City</strong></td>
                                    <td rowspan="2"><strong>Tel</strong></td>
                                    <td rowspan="2"><strong>Email</strong></td>
                                    <td colspan="4"><strong>Receiver's Photo ID Card</strong></td>
                                    <td rowspan="2"><strong>Amount Received</strong></td>
                                    <td rowspan="2"><strong>Action</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>No.</strong></td>
                                    <td><strong>Type</strong></td>
                                    <td><strong>Exp Date</strong></td>
                                    <td><strong>Issuing Country</strong></td>
                                    <!--  -->
                                </tr>

                            </thead>

                            <tbody>
                                @{
                                    int i = 0;
                                }
                                @foreach (var item in Model.viewNonCardUsersParties)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.FaxerFirstName @item.FaxerMiddleName @item.FaxerLastName</td>
                                        <td>@item.FaxerAddress</td>
                                        <td>@item.FaxerCountry</td>
                                        <td>@item.FaxerCity</td>
                                        <td>@item.FaxerTelephone</td>
                                        <td>@item.FaxerEmailAddress</td>
                                        <td>@item.AmountFaxed @item.FaxerCurrency</td>
                                        <td>@item.MFCN</td>
                                        <td>@item.ReceiverFirstName @item.ReceiverMiddleName @item.ReceiverLastName</td>
                                        <td>@item.ReceiverAddress</td>
                                        <td>@item.ReceiverCountry</td>
                                        <td>@item.ReceiverCity</td>
                                        <td>@item.ReceiverTelephone</td>
                                        <td>@item.ReceiverEmailAddress</td>
                                        <td>@item.ReceiverIDCardNumber</td>
                                        <td>@item.ReceiverIDCardType</td>
                                        <td>@item.ReceiverIDCardExpDate</td>
                                        <td>@item.ReceiverIDCardIssuingCountry</td>
                                        <td>@item.AmountReceived @item.ReceiverCurrency</td>
                                        <td><a href="@Url.Action("ViewMoreInfo","ViewNonCardUsersMoneyReceived", new { @id=item.Id})" class="btn btn-sm btn-warning">View More</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>



                    <br><br><br>


                </div>
            </div>
        </div>
        <!-- .row -->
        <!--/.row -->
        <!--row -->
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        function Fliter() {
            var country = document.getElementById("Country").value;
            var city = document.getElementById("city").value;
            window.location.href = "/Admin/ViewNonCardUsersMoneyReceived/Index?CountryCode=" + country + "&City=" + city;
        }


    </script>
}