@model List<FAXER.PORTAL.Areas.Businesses.ViewModels.MFBCCardWithdrawlViewModel>
@{
    ViewBag.Title = "CashWithdrawlSheet";
    Layout = "~/Areas/Businesses/Views/Shared/_Business_Layout.cshtml";
}


<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h1>myBusiness MoneyFex Cash Withdrawal Sheet</h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row ">
                    <div class="col-lg-12 pull-right">
                        @*<div class="col-lg-9 pull-left">
                            <div class="col-lg-3">
                                <a class="btn btn-success btn-sm  pull-right" href="@Url.Action("PayForGoodsAndServices","PayForGoodsAndServices")">Pay for Goods & Services</a>
                            </div>
                            <div class="clearfix"></div>
                            <br>


                        </div>*@
                        @*<div class="col-lg-7 pull-right">
                            <label id="Validate" class="col-lg-4" style="color:red;display:none">Please Enter Valid Date</label>
                        </div>
                        <div class="col-lg-7 pull-right">

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class=" ">
                                        From:
                                    </label>
                                    <input type="date" id="From" class="form-control">

                                </div>
                            </div>



                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class=" ">
                                        To:
                                    </label>
                                    <input type="date" id="To" class="form-control">

                                </div>

                            </div>
                            <div class="col-lg-4">
                                <br />
                                <button type="button" class="btn btn-success btn-sm" onclick="Filter()">Filter</button>
                            </div>


                        </div>*@

                    </div>
                   
                    <div class="col-lg-12 pull-left">
                        <button class="btn btn-danger btn-sm  pull-right">Download PDF</button>
                    </div>
                </div>
               

                <br>

                <form>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>SN.</th>
                                    <th>Name of Paying Agency</th>
                                    <th>Agent MF Code</th>
                                    <th>City</th>
                                    <th>Withdrawn Amount</th>

                                    <th>Date</th>
                                    <th>Time</th>




                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 0;}
                                @foreach (var item in Model)
                                {
                                    i++;
                                    <tr>

                                        <td>@i</td>
                                        <td>@item.PayinAgentName</td>
                                        <td>@item.AgentMFSCode</td>
                                        <td>@item.city</td>

                                        <td>@item.withdrawlAmount</td>
                                        <td>@item.Date</td>
                                        <td>@item.TIme</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <a href="@Url.Action("Index" , "BusinessHome")" class="btn btn-sm btn-danger">  Back</a>
                </form>



            </div>

        </div>
    </div>

</div>
<!--  -->
@section scripts{
    <script type="text/javascript">

        function Filter() {

            var from = $("#From").val();
            var To = $("#To").val();
            if (from == null || from == "") {
                $("#Validate").show();
            }
            else if (To == null || To == "") {

                $("#Validate").show();
            }
            else {
                var fromParts = from.split('-');
                var newDateFrom = new Date(fromParts[0], fromParts[1] - 1, fromParts[2]);
                var ToParts = To.split('-');
                var newDateTo = new Date(ToParts[0], ToParts[1] - 1, ToParts[2]);
                if (newDateFrom.getFullYear().toString().length != "4" || newDateTo.getFullYear().toString().length != "4") {
                    $("#Validate").show();

                }
                else if (newDateFrom > newDateTo) {

                    $("#Validate").show();

                }
                else {
                    $("#Validate").hide();
                    window.location.href = "/Businesses/MyBusinessMoneyFaxCashWithdrawl/CashWithdrawlSheet?FromDate=" + from + "&ToDate=" + To;
                }
            }

        }
        function Refresh() {
            window.location.href = "/Businesses/MyBusinessMoneyFaxCashWithdrawl/CashWithdrawlSheet?FromDate=" + "" + "&ToDate=" + "";

        }

    </script>
}