@model FAXER.PORTAL.Areas.KiiPayBusiness.ViewModels.KiiPayBusinessRegisterECardUserAddressInformationVM
@{
    ViewBag.Title = "AddressInformation";
    Layout = "~/Areas/KiiPayBusiness/Views/Shared/_Layout_KiiPayBusiness.cshtml";
}
@using (Html.BeginForm())
{
    <!--  -->
    <div class="real_form pattern2 pdt40 ">
        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">



                    <div class="login_signup mb50 clearfix text-center">
                        <h3>KiiPay User Registration</h3>
                        <hr>

                        <div class="pinside40">
                            <p><b>Enter  Address</b></p>
                            <!--  -->
                            <div class="form-group mb20">
                                @Html.DropDownListFor(model => model.Country , (IEnumerable<SelectListItem>)ViewBag.Countries
                                                     , "Select Country",  new { @class= "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })

                            <!--  -->
                            <!--  -->
                            <div class="form-group mb20">
                                @Html.TextBoxFor(model => model.City, new { @type = "text", @placeholder = "City", @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            <!--  -->
                            <!--  -->
                            <div class="form-group mb20">
                                @Html.TextBoxFor(model => model.AddressLine1, new { @type = "text", @placeholder = "Address line 1", @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })
                            <!--  -->
                            <!--  -->
                            <div class="form-group mb20">
                                @Html.TextBoxFor(model => model.AddressLine2, new { @type = "text", @placeholder = "Address line 2 (optional)", @class = "form-control" })
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="form-group mb20">
                                @Html.TextBoxFor(model => model.PostCodeZipCode, new { @type = "text", @placeholder = "Postcode/Zip Code (optional)", @class = "form-control" })
                            </div>
                            <!--  -->






                        </div>





                    </div>
                    <div class="clearfix"></div>


                    <div class="text-center   clearfix">
                        <hr>
                        <button type="submit" class="btn btn-primary btn-lg   ">Continue <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        <div class="clearfix mb30"> </div>
                        <a href=" " class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                    </div>
                </div>

                <!--  -->

            </div>

        </div>
    </div>

}