
@{
    /**/
    Layout = "~/Areas/EmailTemplate/Views/Shared/_Layout_Receipt.cshtml";
}

<div style="padding:20px">

    <h4 style="text-align:center">
        Virtual Account Deposit confirmation of Payment Receipt
    </h4>
    
        <table width="100%">

            <tbody>
                <tr>
                    <td><b>MF Receipt Number</b></td>
                    <td><b>@ViewBag.ReceiptNumber</b></td>
                </tr>
                <tr>
                    <td><b>Date</b></td>
                    <td><b>@ViewBag.Date</b></td>
                </tr>
                <tr>
                    <td><b>Time</b></td>
                    <td><b>@ViewBag.Time</b></td>
                </tr>
                <tr>
                    <td><b>Name of Sending Customer</b></td>
                    <td><b>@ViewBag.FaxerFullName</b></td>
                </tr>
                <tr>
                    <td><b>Virtual Account Number</b></td>
                    <td><b>@ViewBag.MFTCCardNumber</b></td>
                </tr>
                <tr>
                    <td><b>Virtual Account User Name</b></td>
                    <td><b>@ViewBag.CardUserFullName</b></td>
                </tr>
                <tr>
                    <td><b>Deposit Amount </b></td>
                    <td><b>@ViewBag.AmountTopUp</b></td>
                </tr>
                <tr>
                    <td><b>Deposit Fees</b></td>
                    <td><b>@ViewBag.Fee</b></td>

                </tr>
                <tr>
                    <td><b>Exchange Rates</b></td>
                    <td><b>@ViewBag.ExchangeRate</b></td>
                </tr>
                <tr>
                    <td><b>Amount deposited in Local Currency</b></td>
                    <td><b>@ViewBag.AmountInLocalCurrency</b></td>
                </tr>

                @if (ViewBag.TopUpReference != "")
                {
                    <tr>
                        <td><b>Payment Reference</b></td>
                        <td><b>@ViewBag.TopUpReference</b></td>

                    </tr>
                }


                @*<tr>
                        <td><b>Amount available to Withdraw / Make Purchase with</b></td>
                        <td><b>@ViewBag.BalanceOnCard</b></td>
                    </tr>*@


            </tbody>
        </table>
    
</div>



