@model FAXER.PORTAL.Models.SearchKiiPayWalletVM
@{
    ViewBag.Title = "SearchKiiPayWallet";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
}

@using (Html.BeginForm())
{


<!--  -->
<div class="real_form pattern2 pdt40 ">
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">



                <div class="login_signup mb50 clearfix text-center">
                    <h3>Send Money to a KiiPay Wallet</h3>
                    <hr>
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.RecentMobileNo, (IEnumerable<SelectListItem>)ViewBag.MobileNumbers, " Select a Recent Mobile Number" , new { @class = "form-blue", id = "MobileNo" })
                        @*<select class="form-blue">
                                <option>Select a Recent Mobile Number</option>
                            </select>*@
                    </div>

                    <div class="form-group">
                        <h2 class="text-primary text-center">OR</h2>
                    </div>


                    @Html.HiddenFor(model => model.CountryPhoneCode )
                    @Html.HiddenFor(model => model.CountryCode)
                    <!--  -->
                    <div class="form-group contact-no-group">
                        <div class="countr-code-lg">
                            @Model.CountryPhoneCode
                        </div>
                        @Html.TextBoxFor(model => model.MobileNo, new
                   {
                       @class = "form-blue contact-no-lg",
                
                       @placeholder = "Enter Mobile Number "
                   })



                    </div>
                    <div class="clearfix"></div>
                    @Html.ValidationMessageFor(model => model.MobileNo , "" , new { @class="text-danger"})
                    <!--  -->



                </div>
                <div class="clearfix"></div>


                <div class="text-center   clearfix">
                    <hr>

                    <button type="submit" class="btn btn-primary btn-lg  mb30 ">Continue <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    <!-- back btn -->
                    <div class="clearfix ">

                        <center>
                            <a href="javascript:history.back()" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                        </center>
                    </div>
                    <!-- back btn end-->
                </div>
            </div>

            <!--  -->

        </div>

    </div>
</div>
}

@section Scripts{

    <script type="text/javascript">


        function ChooseMobileNo()
        {

            var MobileNo = $("#MobileNo").val();
            $("[name=MobileNo]").val(MobileNo);

        }

    </script>
}