
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
}

<section class="dashboard">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2">

                <!--  -->
                <div class="dashboard_body">

                    <div class=" clearfix">
                        <h3> Services</h3>


                        <div class="clearfix">

                        </div>
                        <hr>
                        <div class="mobile_design text-center">


                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("PayForGoodsAndServices","SenderPayForServices")">

                                        <div class="das-icon">
                                            <img src="~/Content/images/icon/svg/school-fees.svg">
                                        </div>
                                        <h4>School Fees</h4>

                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("PayForGoodsAndServices","SenderPayForServices")">

                                        <div class="das-icon">
                                            <img src="~/Content/images/icon/svg/rent.svg">
                                        </div>
                                        <h4>Rent</h4>

                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("PayForGoodsAndServices","SenderPayForServices")">

                                        <div class="das-icon">
                                            <img src="~/Content/images/icon/svg/phone-top-up.svg">
                                        </div>
                                        <h4>Airtime Top-up</h4>

                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("PayForGoodsAndServices","SenderPayForServices")">

                                        <div class="das-icon">
                                            <img src="~/Content/images/icon/svg/hospital-bills.svg">
                                        </div>
                                        <h4>Hospital Bill</h4>

                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("PayForGoodsAndServices","SenderPayForServices")">

                                        <div class="das-icon">
                                            <img src="~/Content/images/icon/svg/insurance.svg">
                                        </div>
                                        <h4>Insurance </h4>

                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("PayForGoodsAndServices","SenderPayForServices")">

                                        <div class="das-icon">
                                            <img src="~/Content/images/icon/svg/hotel-bill.svg">
                                        </div>
                                        <h4>Hotel Bill </h4>

                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("PayForGoodsAndServices","SenderPayForServices")">

                                        <div class="das-icon">
                                            <img src="~/Content/images/icon/svg/loan.svg">
                                        </div>
                                        <h4>Loan</h4>

                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("PayForGoodsAndServices","SenderPayForServices")">

                                        <div class="das-icon">
                                            <img src="~/Content/images/icon/svg/other-services.svg">
                                        </div>
                                        <h4>Others</h4>

                                    </a>
                                </div>
                            </div>
                            <!--  -->

                            <div class="clearfix">
                                <hr>
                            </div>


                            <a href="@Url.Action("Index","SenderDashBoard")"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to Dashboard</a>
                        </div>
                    </div>

                </div>
                <!--  -->

            </div>
        </div>
    </div>
    <!--  -->
</section>



