@model FAXER.PORTAL.Models.SenderPayForGoodsAndServicesVM
    @{ 
        ViewBag.Title = "PayForServicesLocal";
        Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";

    }
<!--  -->
@using (Html.BeginForm())
{
    <div class="real_form pattern2 pdt40 ">
        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">

                    @Html.HiddenFor(model => model.CountryPhoneCode)

                    <div class="login_signup mb50 clearfix text-center">
                        <h3>Pay for Services </h3>
                        <hr>

                        <div class="form-group mb30">
                            @Html.DropDownListFor(model => model.RecentlyPaidBusiness, (IEnumerable<SelectListItem>)ViewBag.RecenltyPaidInternationalBusinesses, "Recently Paid Business", new { @class = "form-blue", @onChange = "GetRecentBusinessName()", @id = "recentlyPaidBusiness" })
                            @Html.ValidationMessageFor(model => model.RecentlyPaidBusiness, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group mb20">
                            <h2 class="text-primary text-center">OR</h2>
                        </div>



                        <div class="form-group contact-no-group mb20 ">
                            <div class="countr-code-lg">

                                @Model.CountryPhoneCode
                                <span id="CountryPhoneCode"> </span>
                            </div>

                            @Html.TextBoxFor(x => x.BusinessMobileNo, new { @class = "form-blue contact-no-lg", @placeholder = "Business Name or Mobile  No.", @id = "businessName" })
                            @Html.ValidationMessageFor(x => x.BusinessMobileNo, "", new { @class = "text-danger" })
                        </div>


                    </div>
                    <div class="clearfix"></div>


                    <div class="text-center   clearfix">
                        <hr>

                        <button type="submit" class="btn btn-primary btn-lg   ">Continue <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        <div class="clearfix mb30"> </div>
                        <a href="@Url.Action("Index", "SenderPayForServices") " class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                    </div>
                </div>

                <!--  -->

            </div>

        </div>
    </div>
}



@section Scripts{

    <script type="text/javascript">

        function GetRecentBusinessName() {
            var businessName = $("#recentlyPaidBusiness").val();
            $("#businessName").val(businessName);
        }
    </script>
}