@model FAXER.PORTAL.Areas.Admin.ViewModels.TransferFeePercentageByCurrencyViewModel
@{
    ViewBag.Title = "AddTransferFeePercentageByCurrency";
    Layout = "~/Areas/Admin/Views/Shared/New_Layout.cshtml";
}



@using (Html.BeginForm())
{
    <div class="pcoded-content">
        <div class="pcoded-inner-content">

            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-body">
                        <div class="row">

                            <div class="col-sm-12">

                                <div class="card">

                                    <div class="card-header border-bottom">
                                        <h4 class="f-left f-left m-t-5 m-b-0">Set Transfer Fee  </h4>
                                        <a href="@Url.Action("Index", "TransferFeePercentageByCurrency")" class=" btn btn-primary f-right btn-round">
                                            <i class="icofont icofont-eye m-r-5"></i> View Transfer Fee
                                        </a>
                                    </div>

                                    <div class="card-body">

                                        <form action="set-commission_submit" method="get" accept-charset="utf-8">
                                            <div class="row">
                                                <div class="col-lg-4  col-sm-12 col-xs-12 offset-lg-4">
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>Sending Curreny</label>

                                                        @Html.DropDownListFor(x => x.SendingCurrency, (IEnumerable<SelectListItem>)ViewBag.SendingCurrency, "Select  Currency", new { @class = "form-control  form-control-lg form-control-round form-control-bold", @id = "SendingCurrency", @onchange = "GetSendingCountryBycurrency()" })
                                                        @Html.ValidationMessageFor(x => x.SendingCurrency, "", new { @class = "text-danger" })


                                                    </div>

                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>Sending Country</label>

                                                        @Html.DropDownListFor(x => x.SendingCountry, (IEnumerable<SelectListItem>)ViewBag.SendingCountries, "Select Country", new { @class = "form-control  form-control-lg form-control-round form-control-bold", @id = "SendingCountry", @onchange = "search()" })
                                                        @Html.ValidationMessageFor(x => x.SendingCountry, "", new { @class = "text-danger" })


                                                    </div>

                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>Receiving Curreny</label>

                                                        @Html.DropDownListFor(x => x.ReceivingCurrency, (IEnumerable<SelectListItem>)ViewBag.ReceivingCurrency, "Select  Currency", new { @class = "form-control form-control-lg form-control-round form-control-bold", @id = "ReceivingCurrency", @onchange = "GetReceivingCountryBycurrency()" })
                                                        @Html.ValidationMessageFor(x => x.ReceivingCurrency, "", new { @class = "text-danger" })

                                                    </div>

                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>Receiving Country</label>
                                                        @Html.DropDownListFor(x => x.ReceivingCountry, (IEnumerable<SelectListItem>)ViewBag.ReceivingCountries, "Select Country", new { @class = "form-control form-control-lg form-control-round form-control-bold", @id = "ReceivingCountry" })
                                                        @Html.ValidationMessageFor(x => x.ReceivingCountry, "", new { @class = "text-danger" })
                                                    </div>

                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>Transfer Type</label>
                                                        @Html.EnumDropDownListFor(x => x.TransferType, new { @class = "form-control form-control-lg form-control-round form-control-bold", @id = "TransferType" })
                                                        @Html.ValidationMessageFor(x => x.TransferType, "", new { @class = "text-danger" })
                                                    </div>

                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>Method</label>
                                                        @Html.EnumDropDownListFor(x => x.TransferMethod, new { @class = "form-control form-control-lg form-control-round form-control-bold", @id = "TransferMethod" })
                                                        @Html.ValidationMessageFor(x => x.TransferMethod, "", new { @class = "text-danger" })

                                                    </div>

                                                    <!--  -->
                                                    <!--  -->
                                                    <div class="form-group" id="AgentDiv">
                                                        <label>Agent</label>
                                                        @Html.DropDownListFor(x => x.AgentId, (IEnumerable<SelectListItem>)ViewBag.Agents, "All", new { @class = "form-control  form-control-lg form-control-round form-control-bold", @id = "AgentId" })

                                                    </div>

                                                    <div class="form-group">
                                                        <label>Range </label>

                                                        <select class="form-control form-control-lg form-control-round form-control-bold" name="Range" id="Range">
                                                            <option value="">Select Range</option>
                                                            <option value="0-0">All</option>
                                                            <option>1-100</option>
                                                            <option>101-500</option>
                                                            <option>501-1000</option>
                                                            <option>1001-1500</option>
                                                            <option>1501-2000</option>
                                                            <option>2001-3000</option>
                                                            <option>3001-5000</option>
                                                            <option>5001-10000</option>
                                                            <option>11000+</option>
                                                        </select>
                                                        @Html.ValidationMessage("", "", new { @class = "text-danger" })

                                                    </div>


                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>Other</label>
                                                        @Html.TextBoxFor(x => x.OtherRange, new { @class = "form-control  form-control-lg form-control-round", @placeholder = "Enter Range", @id = "OtherRange" })
                                                        @Html.ValidationMessageFor(x => x.OtherRange, "", new { @class = "text-danger" })

                                                    </div>

                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>Fee Type</label>
                                                        @Html.EnumDropDownListFor(x => x.FeeType, new { @class = "form-control form-control-lg form-control-round form-control-bold", @id = "FeeType", @onchange = "getTransferFee();" })
                                                        @Html.ValidationMessageFor(x => x.FeeType, "", new { @class = "text-danger" })

                                                    </div>

                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>Transfer Fee</label>
                                                        @Html.TextBoxFor(x => x.Fee, new { @class = "form-control  form-control-lg form-control-round autonumber", @name = "Fee", @placeholder = "Enter Transfer Fee" })
                                                        @Html.ValidationMessageFor(x => x.Fee, "", new { @class = "text-danger" })

                                                    </div>

                                                    <!--  -->

                                                </div>

                                            </div>

                                        </form>
                                    </div>

                                    <div class="card-footer bg-light">
                                        <div class="row">
                                            <div class="col-lg-4  col-sm-12 col-xs-12 offset-lg-4">
                                                <a href="@Url.Action("Index","TransferFeePercentageByCurrency")" class="btn btn-danger btn-round pull-left"><i class="fa fa-remove"></i> Cancel</a>

                                                <button type="submit" class="btn btn-primary btn-round pull-right"><i class="fa fa-save"></i> Save</button>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        if (@Model.Id != 0) {
            $("#SendingCurrency").val('@Model.SendingCurrency');
            $("#ReceivingCurrency").val('@Model.ReceivingCurrency');
        }
        if ("@Model.Range" == "All") {
            $("#Range").val('0-0');
        } else {
            $("#Range").val('@Model.Range');

        }
        GetSendingCountryBycurrency();
        function GetSendingCountryBycurrency() {
            var sendingCurrency = $("#SendingCurrency").val();
            var sendingCountry = $("#SendingCountry").val();
            if ("@Model.SendingCountry" != "") {
                sendingCountry = "@Model.SendingCountry";
            } else {
                sendingCountry="All"
            }
            GetSendingCountryByCurrency(sendingCurrency, sendingCountry);
        }

        GetReceivingCountryBycurrency();
        function GetReceivingCountryBycurrency() {
            var receivingCurrency = $("#ReceivingCurrency").val();
              var receivingCountry = $("#ReceivingCountry").val();

            if ("@Model.ReceivingCountry" != "") {
                receivingCountry = "@Model.ReceivingCountry";
            } else {
                receivingCountry = "All";
            }
            GetReceivingCountryByCurrency(receivingCurrency, receivingCountry);
        }

        GetTransferType();
        function GetTransferType() {
            var transferType = $("#TransferType").val();
            if (transferType == 2 || transferType == 4) {
                $("#AgentDiv").show();
                isAuxAgent = false;
                if (transferType == 4) {
                    isAuxAgent = true;
                    $("#AgentDiv").show();
                }
            }
            else {
                $("#AgentDiv").hide();
            }
            search();
        }

        function getTransferFee() {

            var transferType = $("#TransferType").val();
            var sendingCurrency = $("#SendingCurrency").val();
            var receivingCurrency = $("#ReceivingCurrency").val();
            var FeeType = $("#FeeType").val();
            var transferMethod = $("#TransferMethod").val();
            var Range = $("#Range").val();
            var AgentId = $("#AgentId").val();
            var OtherRange = $("#OtherRange").val();

            $.getJSON("/Admin/TransferFeePercentageByCurrency/GetFees?sendingCurrency=" + sendingCurrency + "&receivingCurrency=" + receivingCurrency +
                "&transferType=" + transferType + "&method=" + transferMethod + "&range=" + Range + "&FeeType=" + FeeType + "&otherRange=" + OtherRange + "&AgentId=" + AgentId, function (result) {
                    $("#Fee").val(result.TransferFee);
                })
        }


        search();
        function search() {
            var data = {
                id: $("#AgentId"),
                country: $("#SengingCountry").val(),
                Currecny: $("#SendingCurrency").val(),
                isBusiness: false,
                isAuxAgent: false,
                url: '/Admin/AdminCommon/GetAgents',
                identifier: "AgentId",
                placeholder: "All"
            }
            SelectSearch(data);
        }


    </script>
}
