@model List<FAXER.PORTAL.Areas.Admin.ViewModels.BankViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">

        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">

                <div class="white-box">


                    <div class="card-header border-bottom">
                        <h2 class="f-left m-t-5 m-b-0" style="float:left;">Bank</h2>

                        <a href="@Url.Action("AddBank", "Bank")" class="btn btn-info pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light btn-rounded" style="float:right;">
                            <i class="icofont icofont-plus m-r-5"></i>  Add Bank
                        </a>

                    </div>

                    <div class="col-md-12">
                        <hr />
                        <div class="col-lg-4">
                            <div class="form-group">
                                @Html.DropDownList("Country", (IEnumerable<SelectListItem>)ViewBag.Countries, "Select Country", new { @class = "form-control", @id = "Country", @onchange = "filter();" })
                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>

                    <div class="table-responsive">

                        <table class="table table-bordered table-striped csvprint  " cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <td><strong>SN.</strong></td>
                                    <td><strong>Bank Name</strong></td>
                                    <td><strong>Code</strong></td>
                                    <td><strong>Address</strong></td>
                                    <td><strong>Country</strong></td>
                                    <td><strong>Action</strong></td>
                                </tr>
                            </thead>
                            <tbody style="margin-bottom: 30px !important;">
                                @{ int i = 0;}
                                @foreach (var item in Model)
                                {
                                    ++i;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.Name</td>
                                        <td>@item.Code</td>
                                        <td>@item.Address</td>
                                        <td>@item.Country</td>
                                        <td class="action-icon">
                                            <a href="@Url.Action("AddBank", "Bank", new { @id = item.Id })" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                            <a href="@Url.Action("DeleteBank", "Bank", new { @id = item.Id })" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-remove"></i></a>
                                        </td>
                                    </tr>
                                }
                                <!--  -->
                            </tbody>
                        </table>
                        <div class="clearfix mt100"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .row -->
        <!--/.row -->
        <!--row -->
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        function filter() {

            var country = $("#Country").val();
            window.location.href = "/Admin/Bank/Index?Country=" + country;
        }
    </script>
}