@model FAXER.PORTAL.Areas.KiiPayBusiness.ViewModels.WithdrawMoneyFromWalletAddBankAccountVM
@{
    ViewBag.Title = "WithdrawMoneyFromWalletAddBankAccount";
    Layout = "~/Areas/KiiPayBusiness/Views/Shared/_Layout_KiiPayBusiness.cshtml";
}

@using (Html.BeginForm())
{
    <!--  -->
    <div class="real_form pattern2 pdt40 ">
        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">


                    <div class="login_signup mb50 clearfix text-center">
                        <h3>Add a New Account</h3>
                        <hr>

                        <div class="form-group mb30">
                            @Html.DropDownListFor(model => model.Country , (IEnumerable<SelectListItem>)ViewBag.Countries
                                                     , "Select Country",  new { @class= "form-blue" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })

                        <div class="form-group  ">
                            @Html.TextBoxFor(model => model.AccountUserName, new { @type = "text", @placeholder = "Name of Account Owner", @class = "form-blue" })
                        </div>
                        @Html.ValidationMessageFor(model => model.AccountUserName, "", new { @class = "text-danger" })

                        <div class="form-group  ">
                            @Html.TextBoxFor(model => model.AccountNumber, new { @type = "number", @placeholder = "Enter Account Number", @class = "form-blue" })
                        </div>
                        @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })


                        <div class="form-group mb30">
                            <select class="form-blue">
                                <option>Select Bank Name</option>
                            </select>
                        </div>
                        <div class="form-group mb30 ">
                            @Html.TextBoxFor(model => model.BranchCode, new { @type = "number", @placeholder = "Enter Branch Code", @class = "form-blue" })
                        </div>


                        <div class="form-group mb20">
                            <h2 class="text-primary text-center">OR</h2>
                        </div>


                        <div class="form-group mb30">
                            <select class="form-blue">
                                <option>Select Branch</option>
                            </select>
                        </div>

                        <div class="form-group mb30">
                            <select class="form-blue">
                                <option>Select your Address</option>
                            </select>
                        </div>



                    </div>
                    <div class="clearfix"></div>


                    <div class="text-center   clearfix">
                        <hr>

                        <a class="btn btn-primary btn-lg  mb30 " data-toggle="modal" data-target="#BankAccountConfirmation">Confirm & Add <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        <!-- back btn -->
                        <div class="clearfix ">

                            <center>
                                <a href="javascript:history.back()" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                            </center>
                        </div>
                        <!-- back btn end-->
                    </div>
                </div>

                <!--  -->

            </div>

        </div>
    </div>


    <!-- bank add confirmation -->
    <div id="BankAccountConfirmation" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Bank Account Confirmation</h4>
                </div>
                <div class="modal-body uk-text-center ">
                    <div class="form-group">
                        <p class="mb0">Enter the code sent to your mobile number</p> <div class="clearfix"><br></div>
                        @Html.TextBoxFor(model => model.MobileCode, new { @type = "number", @placeholder = "Enter code", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MobileCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-sm radius-20">Confirm</button>
                    <button type="button" class="btn btn-default btn-sm radius-20" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- bank add confirmation end -->

}