
@model FAXER.PORTAL.Models.SenderPayARequestViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
}

<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h1>Pay a Request</h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row ">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-2  ">

                <div class="form-group">
                    @Html.DropDownListFor(model => model.StatusList, (IEnumerable<SelectListItem>)ViewBag.Filter, new { @class = "form-control", @onchange = "filter()", @id = "filterKey" })
                </div>

            </div>

            <div class="col-lg-4 pull-right">
                <a href="@Url.Action("Index","SenderSendARequest")" class="btn btn-primary radius-20 btn-sm pull-right mb20"><i class="fa fa-plus"></i> Send a Request</a>
            </div>


        </div>
        <div class="row">
            <div class="col-lg-12">



                <form>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="DataTable">
                            <thead>
                                <tr>
                                    <th>Name  & Wallet No.</th>
                                    <th>Date & Amount.</th>
                                    <th>  Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.RequestsList)
                                {
                                    <tr>
                                        <td>@item.Name<br><span class="text-primary">@item.WalletNo</span></td>
                                        <td>@item.Date <br><span class="text-primary">@item.Amount </span></td>
                                        <td> <span class="text-danger">@item.Status</span></td>

                                        <td>
                                            @if (item.Status == FAXER.PORTAL.DB.RequestPaymentStatus.UnPaid)
                                            {
                                                <a href="@Url.Action("PayARequest","SenderPayARequest", new { @id=item.Id})" class="btn btn-primary radius-20">Pay</a>

                                            }
                                            else
                                            {
                                                <a href="#" class="btn btn-primary radius-20 disabled">Pay</a>
                                            }

                                        </td>


                                    </tr>
                                }




                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <!-- back btn -->
                    <div class="clearfix ">

                        <center>
                            <a href="javascript:history.back()" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                        </center>
                    </div>
                    <!-- back btn end-->
                </form>



            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
@section Scripts{
    <script type="text/javascript">
        function filter() {
            var filterKey = $("#filterKey").val();
            window.location.href = "/SenderPayARequest/Index?filterKey=" + filterKey;

        }

    </script>

} 