@model FAXER.PORTAL.Areas.Agent.Models.KiiPayReceiverDetailsInformationViewModel
@{
    ViewBag.Title = "KiiPayWalletDetails";
    Layout = "~/Areas/Admin/Views/Shared/New_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="page-body">
                        <div class="row">
                            @Html.HiddenFor(x => x.Country)
                            <div class="col-lg-6  col-sm-12 col-xs-12 offset-lg-3">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="f-left f-left m-t-5 m-b-0">Send Money  to a KiiPay Wallet </h4>
                                    </div>
                                    <div class="card-body p-40">
                                        <!--  -->
                                        <!--  -->
                                        <!--  -->
                                        <div class="form-group m-b-35">
                                            @Html.DropDownListFor(model => model.PreviousMobileNumber, (IEnumerable<SelectListItem>)ViewBag.PhoneNumbers, "Select Recent Mobile Number", new { @class = "form-control form-control-lg form-control-round", @id = "phoneNumber", @onchange = "selectPhoneNumber();" })
                                            @Html.ValidationMessageFor(model => model.PreviousMobileNumber, "", new { @class = "text-danger" })
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="form-group m-b-35 text-center">
                                            <h3 class="text-primary">OR</h3>
                                        </div>
                                        <!--  -->


                                        <div class="form-group m-b-35">
                                            <div class="input-group input-group-round input-group-lg">
                                                <span class="input-group-addon" id="basic-addon6" name="CountryPhoneCode">@Model.CountryPhoneCode</span>
                                                @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control form-control-lg form-control-round", placeholder = "Enter Mobile Number", @maxlength = "10", @minlength = "10", @autocomplete = "off", @id = "phoneTextBox" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                            @Html.ValidationMessage("InvalidNumber", "", new { @class = "text-danger" })
                                        </div>
                                        <!--  -->
                                        <div class="form-group m-b-35">
                                            @Html.TextBoxFor(model => model.ReceiverFullName, new { @class = "form-control form-control-lg form-control-round ", placeholder = "Receiver Name", @id = "ReceiverFullName" })
                                            @Html.ValidationMessageFor(model => model.ReceiverFullName, "", new { @class = "text-danger" })
                                        </div>
                                        <!--  -->

                                    </div>

                                </div>
                                <div class="card-footer bg-light">
                                    <div class="row">
                                        <div class="col-lg-4  col-sm-12 col-xs-12 offset-lg-4">
                                            <button type="submit" class="btn btn-primary btn-lg btn-round  btn-block"> Continue <i class="fa fa-angle-right m-l-5"></i></button>
                                            <button onclick="window.history.go(-1);" class=" btn btn-link  btn-lg btn-round btn-block">
                                                <i class="fa fa-angle-left m-r-5"></i> Back
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">

        function selectPhoneNumber() {
            var phoneNumber = $("#phoneNumber").val();
            window.location.href = "/Admin/StaffKiiPayWallet/KiiPayWalletDetails?mobileNo=" + phoneNumber;
        }

    </script>
}

