@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--  -->
                <div class="dashboard_body">
                    <div class=" clearfix">
                        <h3>Virtual Account's Dashboard</h3>
                        <hr>
                        <div class="mobile_design text-center">

                            <!--  -->
                            <!--  -->
                            <div class="col-lg-3 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb  ">
                                    <a href="@Url.Action("DetailsOnMoneyFaxTopUpCard")">
                                        <div class="das-icon">
                                            <img src="images/icon/u1.png">
                                        </div>
                                        <h4>Account Details</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-3 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb  ">
                                    <a href="@Url.Action("Index","SetLimitFaxTopUpCard")">
                                        <div class="das-icon">
                                            <img src="images/icon/u2.png">
                                        </div>
                                        <h4>Control Account Usage</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-3 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb  ">

                                    <a href="@Url.Action("Index" , "TransferMoneyBetweenMoneyFaxTopUpCard")">
                                        <div class="das-icon">
                                            <img src="images/icon/u3.png">
                                        </div>
                                        <h4>Transfer Money Between Accounts</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-3 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb  ">
                                    <a href="@Url.Action("Index","CardUsageHistory")">
                                        <div class="das-icon">
                                            <img src="images/icon/u4.png">
                                        </div>
                                        <h4>Account Usage History</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-3 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb ">


                                    <a href="@Url.Action("UserContactDetails" , "TopUpRegestration")">
                                        <div class="das-icon">
                                            <img src="images/icon/u5.png">
                                        </div>
                                        <h4>Open a new Account</h4>
                                    </a>
                                </div>
                            </div>

                            <!--  -->
                            <!--  -->
                            <div class="col-lg-3 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action( "RegisteredTopUpCards" ,"FaxerAccountProfile")">
                                        <div class="das-icon">
                                            <img src="images/icon/11.png">
                                        </div>
                                        <h4>Registered Accounts</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-3 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="#withdrawal-code" data-toggle="modal" data-target="#withdrawal-code">
                                        <div class="das-icon">
                                            <img src="images/icon/u7.png">
                                        </div>
                                        <h4>Generate Withdrawal Code</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-3 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="">
                                        <div class="das-icon">
                                            <img src="images/icon/15.png">
                                        </div>
                                        <h4>Service Under Developement</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <a href="@Url.Action("Index", "DashBoard")" class="btn  btn-primary"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to Dashboard</a>
                        </div>
                    </div>


                    @RenderPage("~/Views/Shared/_mobile-menu-dashboard.cshtml")
                </div>
                <!--  -->
            </div>
        </div>
    </div>
    <!--  -->
    <!--  -->
</section>
<div class="modal fade" tabindex="-1" id="withdrawal-code" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-card" role="document">
        <div class="modal-content">
            <div class="modal-body  text-center">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="form-group">
                            <h3>Select Virtual Account</h3>

                            @Html.DropDownList("TopUpCard", (IEnumerable<SelectListItem>)ViewBag.TopUpCard, "Select Virtual Account", new { @class = "form-control", id = "MFTCCardId", @onchange = "getAccessCode()" })

                        </div>
                    </div>
                    <hr class="clearfix">

                    <h1 class="text-center">Your code is  <br> <span class="text-primary" id="AccessCode"> </span></h1>
                    
                </div>


            </div>
        </div>
    </div>
</div>
@*old*@
@*<section class="dashboard">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  hidden-xs hidden-sm col-md-4">
                    <a href="dashboard.php" class="btn btn-primary btn-sm btn-block">My Dashboard</a>
                    <br>
                    <div class="clearfix"></div>
                    @{Html.RenderPartial("_Dashboard_Sidebar");}

                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="text-center">
                        <a href="@Url.Action("FaxMoney")" class="btn btn-sm btn-primary btn-block-mobile ">Start Sending Money</a>
                        <div class="hidden-lg hidden-md mt10"></div>
                        <a href="@Url.Action("Index","PayForGoodsAndServicesAbroad")" class="btn btn-sm btn-success  ">Pay for Goods & Services Abroad</a>
                    </div>
                    <br>
                    <div class="dashboard_body">
                        <div class="  ">
                            <h3>My MoneyFex Top-up Cards</h3>
                            <hr>
                            <div class="mobile_design text-center">
                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                    <div class="dashboard_thumb">
                                        <a href="@Url.Action("DetailsOnMoneyFaxTopUpCard")">
                                            <div class="cybicon icn7" aria-hidden="true"></div>
                                            <h4>Details on MoneyFex <br>  Top-up Card</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                    <div class="dashboard_thumb">
                                        <a href=" @Url.Action("Index","StartFaxingMoney")">
                                            <div class="cybicon icn3" aria-hidden="true"></div>
                                            <h4>Top-up a<br>MoneyFex Card </h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                    <div class="dashboard_thumb">
                                        <a href="@Url.Action("Index","CardUsageHistory")">
                                            <div class="cybicon icn6" aria-hidden="true"></div>
                                            <h4>MoneyFex Top-up <br>Card Usage History </h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                    <div class="dashboard_thumb">
                                        <a href="@Url.Action("Index","SetLimitFaxTopUpCard")">
                                            <div class="cybicon icn5" aria-hidden="true"></div>
                                            <h4>Set Limit on MoneyFex <br>Top-Up Usage</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
@*old*@

@section Scripts{
    <script type="text/javascript">

          // get Access Code for card user

        function getAccessCode() {
            debugger;
                var CardId = $("#MFTCCardId").val();

                $.getJSON("/FaxerMoneyFaxTopUpCard/GetWithdrawalCode?CardId=" + CardId, function (result) {


                    $("#AccessCode").text( result.AccessCode);
                })

            
        }
    </script>
}