@model List<FAXER.PORTAL.Areas.Admin.ViewModels.AgentComplianceReportViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/New_Layout.cshtml";
    var baseurl = Request.Url.GetLeftPart(UriPartial.Authority);
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">

                        <div class="col-sm-12">

                            <div class="card">

                                <div class="card-header border-bottom">
                                    <h4 class="f-left m-t-5 m-b-0">Compliance Report</h4>
                                    <a href="@Url.Action("UploadReport","PartnerComplianceReport")" class="btn btn-primary f-right btn-round">
                                        <i class="icofont icofont-plus m-r-5"></i> Upload Report
                                    </a>
                                </div>

                                <div class="card-body">
                                    <div class="row m-t-20 m-b-20">
                                        <!--  -->
                                        <div class="col-xl-4 col-md-6">
                                            <div class="form-group">


                                                @Html.DropDownList("Country", (IEnumerable<SelectListItem>)ViewBag.countries, "Select Country", new { @class = "form-control form-control-round form-control-bold", @id = "Country", @onchange = "filter();" })

                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-xl-4 col-md-6">
                                            <div class="form-group">
                                                @Html.DropDownList("City", (IEnumerable<SelectListItem>)ViewBag.SCities, "Select City", new { @class = "form-control  form-control form-control-round form-control-bold", @id = "City", @onchange = "filter()" })

                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-xl-4 col-md-6">
                                            <div class="form-group">
                                                @Html.DropDownList("Partner", (IEnumerable<SelectListItem>)ViewBag.Agents, "Select Partner", new { @class = "form-control  form-control form-control-round form-control-bold", @id = "PartnerId", @onchange = "filter()" })


                                            </div>
                                        </div>
                                        <!--  -->

                                    </div>

                                    <div class="dt-responsive table-responsive">
                                        <table id="basic-btn" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Country</th>
                                                    <th>Partner</th>
                                                    <th>Account Number</th>
                                                    <th>Report Name</th>
                                                    <th>Staff (upload)</th>
                                                    <th>Date + Time</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td><i class="flag flag-icon flag-icon-@item.CountryFlag"></i> @item.Country</td>
                                                        <td> <a href="agent-dashboard.php">@item.Name</a></td>

                                                        <td><a href="agent-dashboard.php">@item.AccountNo</a></td>

                                                        <td>
                                                            <a onclick="OpenDoc('@item.DocumentPhotoUrl')">
                                                                @item.ReportTitle
                                                            </a>

                                                        </td>
                                                        <td><a href="staff-dashboard.php">@item.StaffName</a></td>

                                                        <td>@item.DateTime </td>
                                                        <td class="action-icon">
                                                            <a href="@Url.Action("UploadReport","PartnerComplianceReport",new { Id = item.Id })" class="m-r-15 text-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="icofont icofont-ui-edit"></i></a>
                                                            <a href="@Url.Action("Delete","PartnerComplianceReport",new { Id = item.Id })" class="text-red alert-confirm " data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="icofont icofont-delete-alt"></i></a>
                                                        </td>
                                                    </tr>

                                                }
                                  





                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

@section scripts{
    <script type="text/javascript">

        function filter() {

            var Country = $("#Country").val();
            var Cities = $("#City").val();
            var partnerId = $("#partnerId").val();
            
            window.location.href = "/Admin/PartnerComplianceReport/Index?Country=" + Country + "&City=" + Cities + "&PartnerId=" +partnerId;


        }
        function OpenDoc(src) {

            $("#docSrc").attr('src', src);
            window.open('@baseurl' + '/' + src, "_blank");
        }
        $("#City").val('@ViewBag.City');

    </script>
}
