@model FAXER.PORTAL.Areas.Admin.ViewModels.TransferFeePercentageViewModel
@{
    ViewBag.Title = "SetAUXExchangeFee";
    Layout = "~/Areas/Admin/Views/Shared/New_Layout.cshtml";
}

@using (Html.BeginForm())
{

    <div class="pcoded-content">
        <div class="pcoded-inner-content">

            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-body">
                        <div class="row">

                            <div class="col-sm-12">

                                <div class="card">

                                    <div class="card-header border-bottom">
                                        <h4 class="f-left f-left m-t-5 m-b-0">Set Transfer Fee  </h4>
                                        <a href="@Url.Action("Index", "AUXAgentExchangeFee" )" class=" btn btn-primary f-right btn-round">
                                            <i class="icofont icofont-eye m-r-5"></i> View  Fee
                                        </a>
                                    </div>

                                    <div class="card-body">

                                        <form action="set-commission_submit" method="get" accept-charset="utf-8">
                                            <div class="row">
                                                <div class="col-lg-4  col-sm-12 col-xs-12 offset-lg-4">
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>Sending Currency</label>
                                                        @Html.DropDownListFor(x => x.SendingCurrency, (IEnumerable<SelectListItem>
                                                            )ViewBag.sendingCurrency, "Select Sending Currency", new { @class = "form-control  form-control-lg form-control-round form-control-bold", @id = "SendingCurrency", @onchange = "GetSendingCountryByCurrency()" })
                                                        @Html.ValidationMessageFor(x => x.SendingCurrency, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Sending Country</label>
                                                        @Html.DropDownListFor(x => x.SendingCountry, (IEnumerable<SelectListItem>
                                                            )ViewBag.sendingcountries, "Select Sending Country", new { @class = "form-control  form-control-lg form-control-round form-control-bold", @id = "SendingCountry", @onchange = "GetAgentByCountry();" })
                                                        @Html.ValidationMessageFor(x => x.SendingCountry, "", new { @class = "text-danger" })
                                                    </div>

                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>Receiving Currency</label>
                                                        @Html.DropDownListFor(x => x.ReceivingCurrency, (IEnumerable<SelectListItem>
                                                            )ViewBag.ReceivingCurrency, "Select Receiving Currency", new { @class = "form-control form-control-lg form-control-round form-control-bold", @id = "ReceivingCurrency", @onchange = "GetReceivingCountryByCurrency();" })
                                                        @Html.ValidationMessageFor(x => x.ReceivingCurrency, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Receiving Country</label>
                                                        @Html.DropDownListFor(x => x.ReceivingCountry, (IEnumerable<SelectListItem>
                                                            )ViewBag.ReceivingCountries, "Select Receiving Country", new { @class = "form-control form-control-lg form-control-round form-control-bold", @id = "ReceivingCountry" })
                                                        @Html.ValidationMessageFor(x => x.ReceivingCountry, "", new { @class = "text-danger" })
                                                    </div>

                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>AUX Agent</label>
                                                        @Html.DropDownListFor(x => x.AgentId, (IEnumerable<SelectListItem>)ViewBag.Agents, "All", new { @class = "form-control  form-control-lg form-control-round form-control-bold", @id = "AgentId", @onchange = "getAuxAgentCode()" })
                                                    </div>

                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>AUX Agent Account no.</label>
                                                        @Html.TextBoxFor(x => x.AgentAccountNo, new { @class = "form-control  form-control-lg form-control-round", @placeholder = "", @id = "AuxAgentAccountNo", @readonly = "readonly" })
                                                        @Html.ValidationMessageFor(x => x.AgentAccountNo, "", new { @class = "text-danger" })
                                                    </div>

                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>Method</label>
                                                        @Html.EnumDropDownListFor(x => x.TransferMethod, new { @class = "form-control form-control-lg form-control-round form-control-bold", @id = "TransferMethod" })
                                                        @Html.ValidationMessageFor(x => x.TransferMethod, "", new { @class = "text-danger" })


                                                    </div>

                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>Range</label>
                                                        @Html.EnumDropDownListFor(x => x.Range, new { @class = "form-control form-control-lg form-control-round form-control-bold", @id = "Range" })
                                                        @Html.ValidationMessageFor(x => x.Range, "", new { @class = "text-danger" })
                                                        @Html.ValidationMessage("", "", new { @class = "text-danger" })

                                                    </div>

                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>Other</label>
                                                        @Html.TextBoxFor(x => x.OtherRange, new { @class = "form-control  form-control-lg form-control-round", @placeholder = "Enter Range", @id = "OtherRange" })
                                                        @Html.ValidationMessageFor(x => x.OtherRange, "", new { @class = "text-danger" })


                                                    </div>

                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>Fee Type</label>
                                                        @Html.EnumDropDownListFor(x => x.FeeType, new { @class = "form-control form-control-lg form-control-round form-control-bold", @id = "FeeType", @onchange = "getTransferFee();" })
                                                        @Html.ValidationMessageFor(x => x.FeeType, "", new { @class = "text-danger" })


                                                    </div>

                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="form-group">
                                                        <label>Transfer Fee</label>
                                                        @Html.TextBoxFor(x => x.Fee, new { @class = "form-control  form-control-lg form-control-round autonumber", @placeholder = "Enter Transfer Fee" })
                                                        @Html.ValidationMessageFor(x => x.Fee, "", new { @class = "text-danger" })

                                                    </div>

                                                    <!--  -->

                                                </div>

                                            </div>

                                        </form>
                                    </div>

                                    <div class="card-footer bg-light">
                                        <div class="row">
                                            <div class="col-lg-4  col-sm-12 col-xs-12 offset-lg-4">
                                                <a href="@Url.Action(" Index","AUXAgentExchangeFee")" class="btn btn-danger btn-round pull-left"><i class="fa fa-remove"></i> Cancel</a>

                                                <button type="submit" class="btn btn-primary btn-round pull-right"><i class="fa fa-save"></i> Save</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>
}
@section scripts
{
    <script type="text/javascript">

        $("#SendingCurrency").val('@ViewBag.SelectedSendingCurrency');
        $("#ReceivingCurrency").val('@ViewBag.SelectedReceivingCurrency');

        getAuxAgentCode();
        function getAuxAgentCode() {

            var agent = $("#AgentId").val();
            debugger;
            $.getJSON("/Admin/AUXAgentExchangeFee/GetAuxAgentCode?AgentId=" + agent, function (result) {
                $("#AuxAgentAccountNo").val(result.AccountNo);
            })
        }

        function GetSendingCountryByCurrency() {
            debugger;
            var sendingCurrency = $("#SendingCurrency").val();
            $.getJSON("/Admin/AUXAgentExchangeFee/GetCountyByCurrency?currency=" + sendingCurrency, function (result) {
                var sendingCountrySelector = $("#SendingCountry");
                $("#SendingCountry option").remove();
                sendingCountrySelector.append('<option value="All">All</option>');
                for (var i = 0; i <= result.Data.length; i++) {
                    sendingCountrySelector.append('<option value="' + result.Data[i].Code + ' "> ' + result.Data[i].Name + '</option>');
                }
            })

            search();
        }
        function GetReceivingCountryByCurrency() {
            var receivingCurrency = $("#ReceivingCurrency").val();
            $.getJSON("/Admin/AUXAgentExchangeFee/GetCountyByCurrency?currency=" + receivingCurrency, function (result) {
                var receivingCountrySelector = $("#ReceivingCountry");
                $("#ReceivingCountry option").remove();
                receivingCountrySelector.append('<option value="All">All</option>');
                for (var i = 0; i <= result.Data.length; i++) {
                    receivingCountrySelector.append('<option value="' + result.Data[i].Code + ' "> ' + result.Data[i].Name + '</option>');
                }
            })
        }
        function GetAgentByCountry() {
            var sendingCountry = $("#SendingCountry").val();
            var SendingCurrency = $("#SendingCurrency").val();
            $.getJSON("/Admin/AUXAgentExchangeFee/GetAgentByCountry?Country=" + sendingCountry + "&Currency=" + SendingCurrency, function (result) {
                var agentselector = $("#AgentId");
                $("#AgentId option").remove();
                agentselector.append('<option value="0">All </option>');
                for (var i = 0; i <= result.Data.length; i++) {
                    agentselector.append('<option value="' + result.Data[i].AgentId + ' "> ' + result.Data[i].AgentName + '</option>');
                }
            })

            search();
        }

        search();
        function search() {
            var data = {
                id: $("#AgentId"),
                country: $("#SendingCountry").val(),
                Currecny: $("#SendingCurrency").val(),
                isBusiness: false,
                isAuxAgent: true,
                url: '/Admin/AdminCommon/GetAgents',
                identifier: "AgentId",
                placeholder: "All",
            }
            SelectSearch(data);
        }
   
    </script>
}
