

@model FAXER.PORTAL.Models.SenderAutoPaymentAddViewModel
@{
    ViewBag.Title = "UpdateKiiPayWalletStandingOrder";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
    string[] AvailableBalance = "175.86".Split('.');
    string[] CurrentOrder = "100.00".Split('.');
}

@using (Html.BeginForm())
{
    <!--  -->
    <div class="real_form pattern2 pdt40 ">
        <div class="container">

            <div class="row">
                <!-- Available balance -->
                <div class="col-lg-4 col-lg-offset-4 ">
                    <div class="text-right wallet-balance  mb15">
                        <h5>Available balance</h5>
                        <h1 class="text-primary">@Model.Currency@AvailableBalance[0].<small class="text-primary">@AvailableBalance[1]</small></h1>
                    </div>
                </div>
                <!-- Available balance -->
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">


                    <div class="login_signup mb50 clearfix text-center">
                        <!--  -->
                        <div class="col-lg-6 col-lg-offset-3 text-center mb30 mt20 ">
                            <div class="text-right wallet-balance  card-body">
                                <h5>Current Order</h5>
                                <h1 class="text-primary">@Model.Currency@CurrentOrder[0].<small class="text-primary">@CurrentOrder[1]</small> </h1>
                            </div>
                        </div>
                        <!--  -->

                        <div class="clearfix">

                        </div>

                        <div class="amount-group  ">

                            <div>
                                <label>Enter Amount</label>
                                @Html.TextBoxFor(model => model.Amount, new { @class = "amount", @placeholder = "$0.00  ", @type = "number" })
                                @Html.ValidationMessageFor(model => model.Amount, " ", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="gbp">
                            @Model.SendingCurrencySymbol
                        </div>
                        <div class="clearfix  ">
                        </div>



                        <div class="form-group">
                            @Html.EnumDropDownListFor(model => model.PaymentFrequency, new { @class = "form-control", @id = "PaymentFrequency" })
                            @Html.ValidationMessageFor(model => model.PaymentFrequency, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="clearfix"></div>


                    <div class="text-center   clearfix">
                        <hr>

                        <button type="submit" class="btn btn-primary btn-lg   ">Confirm & Add <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        <div class="clearfix mb30"> </div>
                        <a href=" " class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                    </div>
                </div>

                <!--  -->

            </div>

        </div>
    </div>
}
