@model FAXER.PORTAL.Areas.Businesses.ViewModels.TopUpDetailsViewModel

@{
    ViewBag.Title = "PaymentDetails";
    Layout = "~/Areas/Businesses/Views/Shared/_Business_Layout.cshtml";

    string FaxingCurrency = FAXER.PORTAL.Common.BusinessSession.FaxingCurrency ?? "";
    string FaxingCurrencySymbol = FAXER.PORTAL.Common.BusinessSession.FaxingCurrencySymbol ?? "";
    string ReceivingCurrency = FAXER.PORTAL.Common.BusinessSession.ReceivingCurrency ?? "";
    string ReceivingCurrencySymbol = FAXER.PORTAL.Common.BusinessSession.ReceivingCurrencySymbol ?? "";
}




<!--  -->
<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h1>Service Provider International Payment</h1>




            </div>





        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

                <h4>Payment Details</h4>
                <hr>
                <form>



                    <!--  -->
                    <div class="col-lg-3">
                        <label>paying  Amount </label>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">@FaxingCurrencySymbol</span>
                                @Html.TextBoxFor(model => model.faxingAmount, new { @class = "form-control", @readonly = "readonly" })
                                <span class="input-group-addon">@FaxingCurrency</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <!--  -->
                    <div class="col-lg-3">
                        <label>Paying fee </label>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">@FaxingCurrencySymbol</span>
                                @Html.TextBoxFor(model => model.FaxingFee, new { @class = "form-control", @readonly = "readonly" })
                                <span class="input-group-addon">@FaxingCurrency</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-3">
                        <label>Total Paying Amount Including fee </label>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">@FaxingCurrencySymbol</span>
                                @Html.TextBoxFor(model => model.TotalAmountIncludingFee, new { @class = "form-control", @readonly = "readonly" })
                                <span class="input-group-addon">@FaxingCurrency</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-3">
                        <label>Current Exchange Rate </label>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">

                            @Html.TextBoxFor(model => model.CurrentExchangeRate, new { @class = "form-control", @readonly = "readonly" })

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-3">
                        <label>Amount to be Received</label>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">@ReceivingCurrencySymbol</span>
                                @Html.TextBoxFor(model => model.AmountToBeReceived, new { @class = "form-control", @readonly = "readonly" })
                                <span class="input-group-addon">@ReceivingCurrency</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->

                    <br>



                    <!--  -->
                    <div class="col-lg-3">
                        <label>Top-up Reference</label>
                    </div>

                    <div class="col-lg-4 ">
                        <div class="form-group">

                            @Html.TextBoxFor(model => model.PaymentReference, new { @class = "form-control", @readonly = "readonly", maxlength = 15 })

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->




                </form>
            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="dynamic_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <a href="@Url.Action("PayingAmount")" class="fbtn btn-back hidden-xs hidden-sm "><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
                @if (!string.IsNullOrEmpty(FAXER.PORTAL.Common.BusinessSession.TransactionSummaryURL))
                {
                    <a href="@FAXER.PORTAL.Common.BusinessSession.TransactionSummaryURL" class="fbtn btn-next">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                }
                else
                {
                    <a href="@Url.Action("InternationalPaymentTransactionSummary")" class="fbtn btn-next">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                }
                <br />
                <a href="@Url.Action("PayingAmount")" class="fbtn btn-back hidden-lg hidden-md"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>



            </div>
        </div>
    </div>
</div>


<!--  -->
