@model FAXER.PORTAL.Models.RegisterViewModel
@{
    ViewBag.Title = "Faxer Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h1>@ViewBag.Title</h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="real_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="login_signup">
                        <h3>Sender's Details</h3>
                        <hr>

                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-5  " })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.MiddleName, new { @class = "col-md-5  " })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.MiddleName, "", new { @class = "danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName, new { @class = "col-md-5" })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-5" })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.GGender, new { @class = "col-md-5 " })
                            <div class="col-lg-6">
                                @Html.EnumDropDownListFor(m => m.GGender, "Please Select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.GGender, "", new { @class = "danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-5" })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-5" })
                            <div class="col-lg-6">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5" })
                            <div class="col-lg-6">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "danger" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--  -->


                        <!--  -->
    <div class="dynamic_footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <button type="submit" class="fbtn btn-next">Finish <i class="fa fa-chevron-right" aria-hidden="true"></i></button>


                </div>
            </div>
        </div>
    </div>
}

<!--  -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
