@model FAXER.PORTAL.Models.SenderWalletTransactionStatementVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
    string[] bal = Model.SenderWalletTransactionStatementMaster.AvailableBalance.ToString().Split('.');
    string Amount = bal[0];
    string cent = "00";
    if (bal.Length > 1) {

        cent = bal[1];
    }
}


<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row ">
            <div class="text-center">
                @Html.HiddenFor(model => model.SenderWalletTransactionStatementMaster.WalletId)
                
                <div class="col-lg-4 col-lg-offset-4 ">
                    <div class="text-right wallet-balance  ">
                        <h5>Available balance</h5>
                        <h1 class="text-primary">@Model.SenderWalletTransactionStatementMaster.Currency @Amount .<small class="text-primary">@cent</small></h1>
                    </div>


                </div>

                <div class="col-lg-4 col-lg-offset-4 mt30">

                    <div class="form-group">

                        @Html.DropDownListFor(model => model.SenderWalletTransactionStatementMaster.WalletId, (IEnumerable<SelectListItem>)ViewBag.Wallets, "Select Wallet", new { @class = "form-control" , id= "wallet"  , onchange= "Filter()" })
                        @Html.ValidationMessageFor(model => model.SenderWalletTransactionStatementMaster.WalletId, "", new { @class = "text-danger" })

                    </div>



                    <div class="form-group">

                        <select class="form-control" id="statement" onchange= "Filter()" >
                            <option value="null">Filter Statement</option>
                            <option value="null">All</option>
                            <option value="0">In</option>
                            <option value="1">Out</option>
                        </select>


                        @*@Html.EnumDropDownListFor(model => model.SenderWalletTransactionStatementMaster, "Filter Statememt", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SenderWalletTransactionStatementMaster, "", new { @class = "text-danger" })*@
                    </div>

                </div>


            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">

                <br>

                <form>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th>Date & Name</th>
                                    <th>Type & Acc</th>
                                    <th>Reference</th>
                                    <th>Gross & Fee</th>
                                    <th>Net & Balance.</th>

                                    @*<th>Action</th>*@

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.SenderWalletTransactionStatementDetail)
                                {


                                    <tr>
                                        <td>
                                            @if (item.InOut == FAXER.PORTAL.Areas.KiiPayPersonal.ViewModels.InOut.In)
                                            {
                                                <img src="~/Areas/KiiPayPersonal/images/icon/svg/right-arrow.svg" width="30">
                                            }
                                            else
                                            {
                                                <img src="~/Areas/KiiPayPersonal/images/icon/svg/left-arrow.svg" width="30">
                                            }
                                        </td>
                                        <td><span class="text-primary">@item.Date</span><br>@item.Name</td>
                                        <td>@item.Type<br>@item.AccountNumber</td>
                                        <td>@item.Reference</td>
                                        <td>@item.Gross<br>@item.Fee</td>
                                        <td>@item.Balance<br>@item.Net</td>
                                        @*<td>
                                            @if (item.InOut == FAXER.PORTAL.Areas.KiiPayPersonal.ViewModels.InOut.In)
                                            {
                                                if (item.IsRefunded == true)
                                                {
                                                    <a class="btn btn-primary radius-20 disabled">Refund</a>
                                                }
                                                else
                                                {
                                                    <a onclick="refundModal('@item.InOut', '@item.Id', '@item.PaymentType');" @*onclick="refundModal(@item.InOut, @item.Id, @item.PaymentType)"*@ class="btn btn-primary radius-20">Refund</a>
                                                }

                                            }
                                            @*else
                                            {
                                                <a class="btn btn-primary radius-20 disabled">Refund</a>
                                            }

                                        </td>*@

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- back btn -->
                    <div class="clearfix">
                        <hr>
                        <center>
                            <a href="javascript:history.back()" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                        </center>
                    </div>
                    <!-- back btn end-->
                </form>

            </div>

        </div>
    </div>

</div>
<!--  -->
<!-- Refund Confirmation -->
<div id="Refund" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md text-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">  Confirmation</h4>
            </div>
            <div class="modal-body uk-text-center ">

                <h4 class="mt40"> Do you want to refund  this payment?</h4>
                <hr>
                <button type="button" class="btn btn-primary   radius-20" data-dismiss="modal">Yes</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-default   radius-20" data-dismiss="modal">No</button>
            </div>

        </div>

    </div>
</div>
<!-- Refund Confirmation end -->

@section Scripts
    {

    <script type="text/javascript">
        function Filter() {
          var wallet = $("#wallet").val();
            var statement = $("#statement").val();
            
            var country = "";
            window.location.href = "/SendersWalletTransactionStatement/Index?inout=" + statement +  "&walletId=" + wallet + "&Country=" + country;


        }
    </script>
}