

@{
    Layout = "~/Areas/EmailTemplate/Views/Shared/_Layout_Receipt.cshtml";
}

<div style="padding:20px">

    <h4 style="text-align:center"> Non-Virtual Account Transfer Refund Confirmation Receipt </h4>

    <table width="100%">

        <tbody>
            <tr>
                <td><b>MF Receipt Number</b></td>
                <td><b>@ViewBag.ReceiptNumber</b></td>
            </tr>
            <tr>
                <td><b>Original Transaction Receipt Number</b></td>
                <td><b>@ViewBag.TransactionReceiptNumber</b></td>
            </tr>
            <tr>
                <td><b>Date</b></td>
                <td><b>@ViewBag.Date</b></td>
            </tr>
            <tr>
                <td><b>Time</b></td>
                <td><b>@ViewBag.Time</b></td>
            </tr>
            <tr>
                <td><b>Name of sending Customer</b></td>
                <td><b>@ViewBag.SenderFullName</b></td>
            </tr>

            <tr>
                <td><b>Receiver's Full Name </b></td>
                <td><b>@ViewBag.ReceiverFullName</b></td>
            </tr>

            <tr>
                <td><b>Refunding Agent Name</b></td>
                <td><b>@ViewBag.RefundingAgentName</b></td>
            </tr>

            <tr>
                <td><b>Refunding Agent Code </b></td>
                <td><b>@ViewBag.RefundingAgentCode</b></td>
            </tr>

            <tr>
                <td><b>Refunding Agent Country </b></td>
                <td><b>@ViewBag.AgentCountry</b></td>
            </tr>

            <tr>
                <td><b>Refunding Agent City </b></td>
                <td><b>@ViewBag.AgentCity</b></td>
            </tr>

            <tr>
                <td><b>Refunding Agent Telephone Number </b></td>
                <td><b>@ViewBag.AgentTelephoneNumber</b></td>
            </tr>
            <tr>
                <td><b>MFCN Number</b></td>
                <td><b>@ViewBag.MFCN</b></td>
            </tr>
            <tr>
                <td><b>Original Transfer Amount Without Fee</b></td>
                <td><b>@ViewBag.OriginalSentAmount</b></td>
            </tr>
            <tr>
                <td><b>Refunded Amount</b></td>
                <td><b>@ViewBag.RefundedAmount</b></td>
            </tr>
        </tbody>
    </table>
</div>

