@using PagedList;
@using PagedList.Mvc;
@model IPagedList<FAXER.PORTAL.Areas.Agent.Models.AccountingViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/New_Layout.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">
                        <div class="col-xl-4 col-md-6">
                            <div class="card bg-c-green text-white">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="m-b-5"><b>30-Day Sales</b></p>
                                            <h4>@ViewBag.AgenCountryCurrency @ViewBag.MonthlySales </h4>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6">
                            <div class="card bg-c-blue text-white">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="m-b-5"><b>30-Day Margin</b></p>

                                            <h4>@ViewBag.AgenCountryCurrency  @ViewBag.MonthlyMargin</h4>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6">
                            <div class="card bg-dark text-white">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="m-b-5"><b>30-Day Fee Charged</b></p>
                                            <h4>@ViewBag.AgenCountryCurrency  @ViewBag.MonthlyFee</h4>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12">

                            <div class="card">

                                <div class="card-header border-bottom">
                                    @*<h4 class="f-left m-t-5 m-b-0">
                                            Agent Accounting
                                            <label class="text-primary">@ViewBag.AgentName </label>  <span>Country: @ViewBag.Country<br>@ViewBag.AccountNo</span>
                                        </h4>*@
                                    <a href="@Url.Action("Index","AUXAgentDashBoard")" class=" btn btn-primary f-right btn-round">
                                        <i class="fa fa-angle-left m-r-5"></i> Back
                                    </a>
                                </div>

                                <div class="card-body">
                                    <div class="row m-t-20 m-b-20">

                                        <!--  -->
                                        <div class="col-xl-4 col-md-6">
                                            <div class="form-group">
                                                <input type="date" class="form-control form-control-round form-control-bold" value="" placeholder="From to Date" name="dates" id="dates" onchange="filter();">
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-xl-4 col-md-6">
                                            <div class="form-group">
                                                @Html.DropDownList("ReceivingCountry", (IEnumerable<SelectListItem>)ViewBag.ReceivingCountry, "Select Receiving Country", new { @class = "js-example-data-array form-control form-control-round form-control-bold", @id = "ReceivingCountry", @onchange = "filter();" })

                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-xl-4 col-md-6">
                                            <div class="form-group">
                                                @Html.DropDownList("Agent", (IEnumerable<SelectListItem>)ViewBag.Agents, "Select Agent", new { @class = "js-example-data-array form-control form-control-round form-control-bold", @id = "Agent", @onchange = "filter();" })

                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="col-lg-3  col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="Search By Sender " class="form-control form-control-round form-control-bold" name="Sender" id="Sender" value="@ViewBag.Sender" onchange="filter();">
                                            </div>
                                        </div>
                                        <div class="col-lg-3  col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="Search By Receiver " class="form-control form-control-round form-control-bold" name="Receiver" id="Receiver" value="@ViewBag.Receiver" onchange="filter();">
                                            </div>
                                        </div>
                                        <div class="col-lg-3  col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="Search By Identifier " class="form-control form-control-round form-control-bold" name="Identifier" id="Identifier" value="@ViewBag.Identifier" onchange="filter();">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dt-responsive table-responsive">
                                        <table @*id="basic-btn"*@ class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>SN.</th>
                                                    <th>Receiving Country</th>
                                                    <th>Sender</th>
                                                    <th>Receiver</th>
                                                    <th>Identifier</th>
                                                    <th>Date Time</th>
                                                    <th>Amount + Fee</th>
                                                    <th>MF Rate</th>
                                                    <th>Agent Rate</th>
                                                    <th>Margin</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                @{ int i = 1;}
                                                @foreach (var item in Model)
                                                {

                                                    <tr>
                                                        <td>@i</td>
                                                        <td>@item.ReceivingCountry</td>
                                                        <td>@item.Sender</td>
                                                        <td>@item.Receiver</td>
                                                        <td>
                                                            <a href="@Url.Action("AgentTransactionDetail","AgentDashboard", new { @id = item.TransactionId , @transactionService = item.TransactionType,@Type=item.Type})">@item.Identifier</a>
                                                        </td>
                                                        <td>@item.DateTime</td>
                                                        <td>@item.SendingCountryCurrency @item.Amount<br>@item.SendingCountryCurrency @item.Fee</td>
                                                        <td>@item.MFRate</td>
                                                        <td>@item.AgentRate</td>
                                                        <td>@item.Margin</td>
                                                        @{ i++;}
                                                    </tr>


                                                }
                                            </tbody>

                                        </table>
                                        Page @(Model.PageCount < Model.PageNumber ? 0 :
                                                        Model.PageNumber) of @Model.PageCount

                                                        @Html.PagedListPager(Model, page => Url.Action("Index",
                                                            new { @page = page }))
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                @section scripts{
                    <script type="text/javascript">

        function filter() {
            var receivingCountry = $("#ReceivingCountry").val();
            var date = $("#dates").val();
            var agent = $("#Agent").val();
            var Sender = $("#Sender").val();
            var Receiver = $("#Receiver").val();
            var Identifier = $("#Identifier").val();

            window.location.href = "/Admin/AUXAccounting/Index?ReceivingCountry=" + receivingCountry + "&date=" + date + "&AgentId=" + agent +
                "&Sender=" + Sender + "&Receiver=" + Receiver + "&Identifier=" + Identifier;
        }

        $(".applyBtn").click(function () {

            var date = $('input[name="dates"]').val();
            filter();
        });
        $('input[name="dates"]').val('@ViewBag.DateRange');
                    </script>
                }