@model FAXER.PORTAL.Areas.CardUsers.ViewModels.MFCTCardSignUpViewModel

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Areas/CardUsers/Views/Shared/_CarUser_Layout.cshtml";
}

<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h1>MoneyFex Virtual Account User Registration</h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<form method="post">
    <div class="real_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="login_signup">

                        @Html.HiddenFor(model => model.Invalidcard, new { id = "Invalid" })



                        <!--  -->
                        <div class="col-lg-5">
                            <label>Surname <span class="required">*</span></label>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group">

                                @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", @placeholder = "Your registered Surname by the Sender" })
                                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--  -->
                        <!--  -->
                        @*<div class="col-lg-5">
            <label>Date of Birth <span class="required">*</span></label>
        </div>

        <div class="col-lg-6 ">
            <div class="form-group">




            </div>
        </div>*@



                        <div class="col-lg-5 clearfix">
                            <label>Date of Birth <span class="required">*</span></label>
                        </div>

                        <div class="col-lg-2 ">
                            <div class="form-group">

                                <input type="number" class="form-control day" placeholder="Day">



                            </div>
                        </div>

                        <div class="col-lg-2 ">
                            <div class="form-group">
                                <select class="form-control month" style="font-size: 11px;">
                                    <option selected>Month</option>
                                    <option value='1'>Janaury</option>
                                    <option value='2'>February</option>
                                    <option value='3'>March</option>
                                    <option value='4'>April</option>
                                    <option value='5'>May</option>
                                    <option value='6'>June</option>
                                    <option value='7'>July</option>
                                    <option value='8'>August</option>
                                    <option value='9'>September</option>
                                    <option value='10'>October</option>
                                    <option value='11'>November</option>
                                    <option value='12'>December</option>
                                </select>


                            </div>
                        </div>


                        <div class="col-lg-2">
                            <div class="form-group">
                                <input type="number" class="form-control year" placeholder="Year">


                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group ">

                            @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control dateInput", style = "display:none" })
                            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger col-lg-6 col-lg-offset-5" })
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-lg-5">
                            <label>MoneyFex Virtual Account No. <span class="required">*</span></label>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.MFTCCardNumber, new { @class = "form-control", @placeholder = "The 10 digits virtual account no", id = "CardNumber" })
                                @Html.ValidationMessageFor(model => model.MFTCCardNumber, "", new { @class = "text-danger" })
                                <label id="InvalidCard" style="color:red;display:none">Card has been already registered</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--  -->
                        <!--  -->
                        <!--  -->
                        <!--  -->
                        <div class="col-lg-5">
                            <label>Email Address <span class="required">*</span></label>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", @placeholder = "Your registered email by the Sender" })
                                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })


                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--  -->
                        <!--  -->
                        <div class="col-lg-5">
                            <label>Password <span class="required">*</span></label>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password", @placeholder = "Must be 8 digits with numbers and letters" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--  -->
                        <!--  -->
                        <div class="col-lg-5">
                            <label>Confirm Password <span class="required">*</span></label>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", type = "password", @placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <small id="emailHelp" class="form-text text-muted"><b>Password Policy </b>:<i> Password should contain atleast one upper case, one number, one special character and one lower case</i></small>
                            </div>
                        </div>
                        <br />
                        <br />
                        

                        <div class="clearfix"></div>
                        <div class="col-lg-12">
                            <h4>ID Card Information </h4>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-lg-5">
                            <label>ID Card Type</label>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group">
                                @Html.DropDownListFor(x => x.IdCardType, null, "Select Card Type", htmlAttributes: new { @class = "form-control", id = "CardType" })
                                @Html.ValidationMessageFor(model => model.IdCardType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <!--  -->
                        <!--  -->
                        <div class="col-lg-5">
                            <label>ID Card Number </label>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group">
                                @Html.EditorFor(model => model.IdCardNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.IdCardNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--  -->
                        <!--  -->


                        <div class="col-lg-6 ">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.IdCardExpiringDate, new { @class = "form-control dateInput", style = "display:none"  , id="Expirydate"})

                            </div>
                        </div>

                        <!--  -->
                        <div class="col-lg-5 clearfix">
                            <label>ID Card Expiring Date <span class="required">*</span></label>
                        </div>

                        <div class="col-lg-2 ">
                            <div class="form-group">

                                <input type="number" class="form-control EXPday" placeholder="Day">



                            </div>
                        </div>

                        <div class="col-lg-2 ">
                            <div class="form-group">
                                <select class="form-control EXPmonth" style="font-size: 11px;">
                                    <option selected>Month</option>
                                    <option value='1'>Janaury</option>
                                    <option value='2'>February</option>
                                    <option value='3'>March</option>
                                    <option value='4'>April</option>
                                    <option value='5'>May</option>
                                    <option value='6'>June</option>
                                    <option value='7'>July</option>
                                    <option value='8'>August</option>
                                    <option value='9'>September</option>
                                    <option value='10'>October</option>
                                    <option value='11'>November</option>
                                    <option value='12'>December</option>
                                </select>


                            </div>
                        </div>


                        <div class="col-lg-2">
                            <div class="form-group">
                                <input type="number" class="form-control EXPyear" placeholder="Year">


                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">

                            @Html.ValidationMessageFor(model => model.IdCardExpiringDate, "", new { @class = "col-lg-6 col-lg-offset-5 text-danger" })

                        </div>
                        <!--  -->
                        <div class="clearfix"></div>
                        <!--  -->
                        <!--  -->
                        <div class="col-lg-5">
                            <label>Issuing Country</label>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.IssuingCountry, null, "Select Issuing Country", htmlAttributes: new { @class = "form-control", id = "RecCountry" })
                                @Html.ValidationMessageFor(model => model.IssuingCountry, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label>
                                    @Html.CheckBoxFor(model => model.Confirm)

                                    Please accept our terms and condition

                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">

                                @Html.ValidationMessageFor(model => model.Confirm, "", new { @class = "text-danger" })


                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <!--  -->








                    </div>
                </div>

            </div>
        </div>


    </div>
    <!--  -->
    <!--  -->
    <div class="dynamic_footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">



                    <button type="submit" class="fbtn btn-next">Proceed to Login <i class="fa fa-chevron-right" aria-hidden="true"></i></button>






                </div>
            </div>
        </div>
    </div>
</form>
<!--  -->

@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#CardNumber").change(function () { 
            var CardNumber = document.getElementById("CardNumber").value;
            if (CardNumber != "") {
                $.getJSON("/CardUsers/CardUserSignUp/GetRegisteredCard?MFTCNumber=" + CardNumber, function (data) {

                    for (var item in data) {
                        var selector = '[name="' + item + '"]';
                        $(selector).val(data[item]);
                        $("#InvalidCard").hide();
                        if ($("#Invalid").val() == "true") {
                            $("#InvalidCard").show();
                            $(".real_form input").prop("readonly", true);
                            $("#CardNumber").prop("readonly", false);

                        }
                    }


                }
                );

            }
            });

        });
        
    </script>
}
