
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/EmailTemplate/Views/Shared/New_Layout_Email.cshtml";
    var baseUrl = Request.Url.GetLeftPart(UriPartial.Authority);

}


<table>
    <thead>
    </thead>
    <tbody style="padding: 30px 0 !important; display: block;">
        <tr>
            <td width="25%;">
                <img src="@baseUrl/Areas/EmailTemplate/Images/ngeku.png" width="100%">
                
            </td>
            <td valign="top">
                <h1 style="font-size: 24px; color: #004468; margin-bottom: 20px; line-height: 35px;">Hi <b>@ViewBag.SenderFristName,</b></h1>
                <h1 style="font-size: 24px; color: #02b6ff; margin-bottom: 8px; line-height: 35px;">
                    Money transferred to @ViewBag.ReceiverFirstName has not been completed because we are yet to receive a valid copy of your Identification
                    document.

                </h1>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <h3 style="font-size: 24px; color: #02b6ff; margin-bottom: 8px; line-height: 35px;">
                    @*Below are the full details of your transaction:*@
                    Please upload ID on your profile using the following steps:
                </h3>
                <p style="line-height: 30px; color: #02b6ff;  font-weight: 600; font-size: 18px;">
                   
                    &nbsp;&nbsp;&nbsp;1. Log in to your account <br />
                    &nbsp;&nbsp;&nbsp;2. Account profile (top right corner) <br />
                    &nbsp;&nbsp;&nbsp;3. Identity Information <br />
                    &nbsp;&nbsp;&nbsp;4. Add ID <br />
                    &nbsp;&nbsp;&nbsp;5. Complete form and upload ID <br />
                    &nbsp;&nbsp;&nbsp;6. Confirm <br />
                    <br />
                    We look forward to completing the verification process and approving your transfer.

                    @*Transaction number:  @ViewBag.TransactionNumber<br>
            You sent: @ViewBag.SendingCurrency @ViewBag.SendingAmount  to @ViewBag.SendingCountry <br>
            Fee: @ViewBag.SendingCurrency @ViewBag.Fee<br>
            @ViewBag.ReceiverFirstName received: @ViewBag.ReceivingCurrency @ViewBag.ReceivingAmount <br>
            Bank Name: @ViewBag.BankName <br>
            Bank account: @ViewBag.BankAccount <br>
            Branch code: @ViewBag.BranchCode <br>*@
                </p>

                <p style="margin:20px 0; color: #004468; font-size: 20px; line-height: 30px; font-weight: bold;">
                    Thank you


                    @*<br><br>  The MoneyFex Team*@
                </p>

            </td>
        </tr>


        <tr>
            <td colspan="2">
                <p style="margin:20px 0; color: #004468; font-size: 20px; line-height: 30px; font-weight: bold;">
                    @*Please upload a copy of your ID through your MoneyFex account profile to enable us complete this transaction.*@
                </p>
                <p style="margin:20px 0; color: #004468; font-size: 20px; line-height: 30px; font-weight: bold;">
                    @*Thank you*@


                    @*<br><br>  The MoneyFex Team*@
                </p>
            </td>
        </tr>

    </tbody>
</table>