@model FAXER.PORTAL.Models.SenderTopUpSupplierAbroadAccountNmberVM

@{
    ViewBag.Title = "TopUpAccountNumber";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="real_form pattern2 pdt40 ">
        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">


                    <div class="login_signup mb50 clearfix text-left">
                        <div class="flex-container amount-group flex-middle">
                            <div>
                                <div class="userimage  ">
                                    <img src="@Model.PhotoUrl" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="font-30 text-primary"> @Model.Name</span>
                            </div>
                        </div>

                        <label>Enter Account Number</label>
                        <div class="referencecode mb20">

                            <div class="col-lg-12 text-center">
                                @*<input type="text" name="" class="refedashedinput" maxlength="1">
                                     <input type="text" name="" class="refedashedinput" maxlength="1">
                                     <input type="text" name="" class="refedashedinput" maxlength="1">
                                     <input type="text" name="" class="refedashedinput" maxlength="1">
                                     <input type="text" name="" class="refedashedinput" maxlength="1">
                                    <input type="text" name="" class="refedashedinput" maxlength="1">*@
                                @Html.TextBoxFor(model => model.AccountNo1, new { @class = "refedashedinput", @placeholder = "", maxlength = "1" })
                                @Html.TextBoxFor(model => model.AccountNo2, new { @class = "refedashedinput", @placeholder = "", maxlength = "1" })
                                @Html.TextBoxFor(model => model.AccountNo3, new { @class = "refedashedinput", @placeholder = "", maxlength = "1" })
                                @Html.TextBoxFor(model => model.AccountNo4, new { @class = "refedashedinput", @placeholder = "", maxlength = "1" })
                                @Html.TextBoxFor(model => model.AccountNo5, new { @class = "refedashedinput", @placeholder = "", maxlength = "1" })
                                @Html.TextBoxFor(model => model.AccountNo6, new { @class = "refedashedinput", @placeholder = "", maxlength = "1" })

                            </div>

                            <div class="clearfix"></div>
                        </div>


                    </div>
                    <div class="clearfix"></div>


                    <div class="text-center   clearfix">
                        <hr>

                        <button type="submit" class="btn btn-primary btn-lg   ">Enter <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        <div class="clearfix mb30"> </div>
                        <a href=" " class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                    </div>
                </div>

                <!--  -->

            </div>

        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">


        $('.refedashedinput').bind('keyup', function (event) {

            if (event.keyCode == 8) {

                $(this).prev().focus();
                return;
            }

            if ($(this).val() == "") { }
            else {

            $(this).next().focus();

            }

        });
    </script>
}