@model FAXER.PORTAL.Areas.Businesses.ViewModels.MerchantNonCardPaymentSuccessful
@{
    ViewBag.Title = "PaymentSuccessful";
    Layout = "~/Areas/Businesses/Views/Shared/_Business_Layout.cshtml";

    string FaxingCurrency = FAXER.PORTAL.Common.BusinessSession.FaxingCurrency ?? "";
    string ReceivingCurrency = FAXER.PORTAL.Common.BusinessSession.ReceivingCurrency ?? "";
}


<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

                <h1>Start Sending </h1>

            </div>
        </div>
    </div>
</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

                <form>
                    <div class="completed-payment text-center">
                        <h3>Your Transaction has been Completed</h3>
                        <h4>We've sent the MFCN Number and Receipt to your email address</h4>
                        <div class=" ">
                            <div class="white-bg boxednew">

                                <h3 style="color:#333;">Your Transaction Details:</h3>
                                <div class="table-responsive text-left">
                                    <table class="table table-bordered">

                                        <tbody>
                                            <tr>
                                                <td>MFCN Number</td>
                                                <td>@Model.MFCN</td>
                                            </tr>
                                            <tr>
                                                <td>Receiver</td>
                                                <td>@Model.ReceiverName</td>
                                            </tr>
                                            <tr>
                                                <td>Receiver Country</td>
                                                <td>@Model.ReceiverCountry</td>
                                            </tr>
                                            <tr>
                                                <td>Sent Amount</td>
                                                <td>@Model.SentAmount @FaxingCurrency</td>
                                            </tr>
                                        
                                            <tr>
                                                <td>Receive  Option</td>
                                                <td>@Model.ReceiveOption</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix">

                        </div>
                        <br>
                        <a href="@Url.Action("Index", "BusinessHome")" title="" class="btn btn-primary">Go to your Dashboard  <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>





                </form>
            </div>
        </div>
    </div>
</div>
<!--  -->
<!--  -->
<!--  -->
