@model FAXER.PORTAL.Areas.Admin.ViewModels.TransactionUpdateVm
@{
    ViewBag.Title = "UpdateKiiPayWallet";
    Layout = "~/Areas/Admin/Views/Shared/New_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="pcoded-content">
        <div class="pcoded-inner-content">

            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-body">
                        <div class="row">
                            @Html.HiddenFor(x => x.Id)
                            <div class="col-lg-6  col-sm-12 col-xs-12 offset-lg-3">

                                <div class="card">

                                    <div class="card-header border-bottom">
                                        <h4 class="f-left f-left m-t-5 m-b-0">Send Money  to a KiiPay Wallet </h4>

                                    </div>

                                    <div class="card-body p-40">


                                        <form action="set-commission_submit" method="get" accept-charset="utf-8">

                                            <!--  -->
                                            <div class="form-group m-b-35">
                                                @Html.DropDownListFor(model => model.Country, (IEnumerable<SelectListItem>)ViewBag.countries, "Select Issusing Country", new { @class = "form-control form-control-lg form-control-round", @id = "country", @onchange = "filter();" })
                                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })

                                            </div>
                                            <!--  -->
                                            <!--  -->


                                            <div class="form-group m-b-35">
                                                <div class="input-group input-group-round input-group-lg">
                                                    <span class="input-group-addon" id="mobileCode">@ViewBag.MobileCode</span>

                                                    @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control form-control-lg form-control-round", @placeholder = "Enter Mobile Number ", @autocomplete = "off" })
                                                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })

                                                </div>

                                            </div>



                                            <!--  -->
                                            <div class="form-group m-b-35">
                                                @Html.TextBoxFor(model => model.ReceiverName, new { @class = "form-control form-control-lg form-control-round ", placeholder = "Enter Full Name", @name = "ReceiverFirstName" })
                                                @Html.ValidationMessageFor(model => model.ReceiverName, "", new { @class = "text-danger" })
                                            </div>
                                            <!--  -->
                                        </form>
                                    </div>

                                </div>
                                <div class="card-footer bg-light">
                                    <div class="row">
                                        <div class="col-lg-4  col-sm-12 col-xs-12 offset-lg-4">
                                            <button type="submit" class="btn btn-primary btn-lg btn-round  btn-block"> Update <i class="fa fa-angle-right m-l-5"></i></button>
                                            <button onclick="window.history.go(-1);" class=" btn btn-link  btn-lg btn-round btn-block">
                                                <i class="fa fa-angle-left m-r-5"></i> Back
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">

        function filter() {


            var country = $("#country").val();
            window.location.href = "/Admin/StaffTransactionUpdate/UpdateKiiPayWallet?Country=" + country;

        }

    
        $("#mobileCode").val('@ViewBag.MobileCode');


    </script>
}
