@model FAXER.PORTAL.Areas.Agent.Models.AgentTransactionHistoryViewModel
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/New_Layout.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                @if (Model.FilterKey == FAXER.PORTAL.Areas.Agent.Models.TransactionType.KiiPayWallet)
                                {


                                    <div class="card">

                                        <div class="card-header border-bottom">
                                            <h4 class="f-left f-left m-t-5 m-b-0">
                                                <label class="text-primary"> @ViewBag.AgentName </label>  <span>Account No: @ViewBag.AccountNo<br>Country: @ViewBag.AgentCountry</span>
                                            </h4>

                                            <button onclick="window.history.go(-1);" class=" btn btn-primary f-right btn-round">
                                                <i class="fa fa-angle-left m-r-5"></i> Back
                                            </button>
                                        </div>

                                        <div class="card-body">

                                            <div class="col-lg-6  col-sm-12 col-xs-12 offset-lg-3">

                                                <!-- CashPickUp -->
                                                @foreach (var item in Model.TransactionHistoryList)
                                                {
                                                    <div class="dt-responsive table-responsive">
                                                        <table width="100%">

                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div class="p-t-10 p-b-10">

                                                                            <h5>   @item.Type  </h5>
                                                                            <span class="text-primary">@item.ReceiptNumber</span>
                                                                        </div>
                                                                    </td>

                                                                    <td align="right">
                                                                        <div class="p-t-10 p-b-10">

                                                                            <h5>KiiPay Wallet </h5>
                                                                            <span class="text-success">@item.Status</span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <!--  -->

                                                        <table class="table table-striped table-bordered nowrap">



                                                            <tbody>

                                                                <tr>
                                                                    <td class="text-left">Sender Name</td>
                                                                    <td class="text-left"> @item.SenderName</td>
                                                                </tr>

                                                                <tr>
                                                                    <td class="text-left">Email Address</td>
                                                                    <td class="text-left"> @item.SenderEmail</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Telephone</td>
                                                                    <td class="text-left">@item.SenderNumber</td>
                                                                </tr>

                                                                <tr>
                                                                    <td class="text-left">Receiver's Dath of Birth</td>
                                                                    <td class="text-left"> @item.ReceiverDOB</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Receiver's Name</td>
                                                                    <td class="text-left"> @item.ReceiverName</td>
                                                                </tr>

                                                                <tr>
                                                                    <td class="text-left">Email Address</td>
                                                                    <td class="text-left"> @item.ReceiverEmail</td>
                                                                </tr>


                                                                <tr>
                                                                    <td class="text-left">KiiPay Wallet Number</td>
                                                                    <td class="text-left"> <a href="">@item.ReceiverNumber</a></td>
                                                                </tr>


                                                                <tr>

                                                                    <td class="text-left">Agent Name</td>
                                                                    <td class="text-left"><a href="">@item.AgentName</a></td>
                                                                </tr>

                                                                <tr>
                                                                    <td class="text-left">Agent Number</td>
                                                                    <td class="text-left"><a href="">@item.AgentNumber</a></td>
                                                                </tr>

                                                                <tr>
                                                                    <td class="text-left">Transaction Staff</td>
                                                                    <td class="text-left"><a href="">@item.TransactionStaff</a></td>
                                                                </tr>

                                                                <tr>

                                                                    <td class="text-left">Receiving Country</td>
                                                                    <td class="text-left"> @item.ReceiverCountry</td>

                                                                </tr>

                                                                <tr>
                                                                    <td class="text-left">Sending Amount</td>
                                                                    <td class="text-left"> @item.SendingCurrencySymbol @item.AmountSent</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Fee</td>
                                                                    <td class="text-left"> @item.SendingCurrencySymbol @item.Fee</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Amount Paid</td>
                                                                    <td class="text-left"> @item.SendingCurrencySymbol @item.AmountPaid</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Exchange Rate</td>
                                                                    <td class="text-left"> 1 @item.SendingCurrency = @item.ExchangeRate @item.ReceivingCurrrency</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">@item.ReceiverName will Receive</td>
                                                                    <td class="text-left"> @item.ReceivingCurrencySymbol @item.ReceivingAmount @item.ReceivingCurrrency</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Payment Method</td>
                                                                    <td class="text-left">@item.PaymentMethod</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Date</td>
                                                                    <td class="text-left">@item.TransactionDate</td>
                                                                </tr>

                                                            </tbody>

                                                        </table>


                                                        <!--  -->
                                                        <!--  -->
                                                        @*<div class="dynamic_footer">
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-lg-6  col-sm-12 col-xs-12 col-lg-offset-3 text-center">
                                                                            <button type="button" class="btn btn-success" onclick="repeatKiiPayTransfer('@item.ReceiptNumber','@item.SenderNumber')">Repeat</button>
                                                                            <button type="button" style="color:grey" class="btn btn-warning" disabled><i class="fa fa-money"></i> Refund</button>
                                                                            <a href="@Url.Action("PrintReceiptOfKiiPayWallet","AgentDashboard" , new { @Area ="Agent", @TransactionId = item.Id , transactionService = FAXER.PORTAL.Areas.Agent.Models.TransactionType.KiiPayWallet , @AgentId = ViewBag.AgentId })" class="btn btn-primary " target="_blank"><i class="fa fa-print"></i> Print</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>*@

                                                        <div class="card-footer bg-light">
                                                            <div class="row">
                                                                <div class="col-lg-6  col-sm-12 col-xs-12 offset-lg-3 text-center">

                                                                    @*<a href="" class="btn btn-warning btn-round m-r-20"><i class="fa fa-money "></i> Refund </a>

                                                                        <a href="sender-cash-pickup-repeat.php" class="btn btn-inverse btn-round m-r-20"><i class="fa fa-refresh "></i> Repeat</a>*@

                                                                    <button type="button" class="btn btn-danger btn-round m-r-20"><i class="fa fa-remove"></i> Cancel</button>


                                                                    <a href="@Url.Action("PrintReceiptOfKiiPayWallet","AgentDashboard" , new { @Area ="Agent", @TransactionId = item.Id , transactionService = FAXER.PORTAL.Areas.Agent.Models.TransactionType.KiiPayWallet , @AgentId = ViewBag.AgentId })" class="btn btn-primary btn-round" target="_blank"><i class="fa fa-print"></i> Print</a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                }

                                            </div>

                                        </div>



                                    </div>
                                }


                                @if (Model.FilterKey == FAXER.PORTAL.Areas.Agent.Models.TransactionType.CashPickUp)
                                {
                                    <div class="card">

                                        <div class="card-header border-bottom">
                                            <h4 class="f-left f-left m-t-5 m-b-0">
                                                <label class="text-primary"> @ViewBag.AgentName </label>  <span>Account No: @ViewBag.AccountNo<br>Country: @ViewBag.AgentCountry</span>
                                            </h4>

                                            <button onclick="window.history.go(-1);" class=" btn btn-primary f-right btn-round">
                                                <i class="fa fa-angle-left m-r-5"></i> Back
                                            </button>
                                        </div>

                                        <div class="card-body">

                                            <div class="col-lg-6  col-sm-12 col-xs-12 offset-lg-3">
                                                <!-- CashPickUp -->
                                                @foreach (var item in Model.TransactionHistoryList)
                                                {

                                                    <!--  -->
                                                    <!--  -->

                                                    <div class="dt-responsive table-responsive">
                                                        <table width="100%">

                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div class="p-t-10 p-b-10">

                                                                            <h5>   @item.Type  </h5>
                                                                            <span class="text-primary">@item.ReceiptNumber</span>
                                                                        </div>
                                                                    </td>

                                                                    <td align="right">
                                                                        <div class="p-t-10 p-b-10">

                                                                            <h5>Cash Pickup  </h5>
                                                                            <span class="text-success">@item.Status</span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <table class="table table-striped table-bordered nowrap">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="text-left">MFCN</td>
                                                                    <td class="text-left">@item.MFCN</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Sender Name</td>
                                                                    <td class="text-left"> @item.SenderName</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Email Address</td>
                                                                    <td class="text-left"> @item.SenderEmail</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Sender Telephone</td>
                                                                    <td class="text-left"> @item.SenderNumber</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Receiver's Name</td>
                                                                    <td class="text-left"> @item.ReceiverName</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Email Address</td>
                                                                    <td class="text-left">@item.ReceiverEmail</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Receiver Telephone</td>
                                                                    <td class="text-left">@item.ReceiverNumber</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Agent Name</td>
                                                                    <td class="text-left"><a href="">@item.AgentName</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Agent Number</td>
                                                                    <td class="text-left"><a href="">@item.AgentNumber</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Transaction Staff</td>
                                                                    <td class="text-left"><a href="">@item.TransactionStaff</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">City</td>
                                                                    <td class="text-left"> @item.ReceiverCity</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Country</td>
                                                                    <td class="text-left"> @item.ReceiverCountry</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Sending Amount</td>
                                                                    <td class="text-left"> @item.SendingCurrencySymbol @item.AmountSent</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Fee</td>
                                                                    <td class="text-left"> @item.SendingCurrencySymbol @item.Fee</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Amount Paid</td>
                                                                    <td class="text-left">@item.SendingCurrencySymbol @item.AmountPaid</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Exchange Rate</td>
                                                                    <td class="text-left"> 1 @item.SendingCurrency = @item.ExchangeRate @item.ReceivingCurrrency</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left"> @ViewBag.ReceiverFirstName will receive</td>
                                                                    <td class="text-left"> @item.ReceivingCurrencySymbol @item.ReceivingAmount @item.ReceivingCurrrency</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Payment Method</td>
                                                                    <td class="text-left">@item.PaymentMethod</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Date</td>
                                                                    <td class="text-left">@item.TransactionDate</td>
                                                                </tr>
                                                            </tbody>

                                                        </table>


                                                        <!--  -->
                                                        <!--  -->
                                                        @*<div class="dynamic_footer">
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-lg-6  col-sm-12 col-xs-12 col-lg-offset-3 text-center">
                                                                            <button type="button" class="btn btn-success" onclick="repeatCashPickUpTransfer('@item.ReceiptNumber','@item.SenderNumber')">Repeat</button>
                                                                                <button type="button" class="btn btn-warning  "><i class="fa fa-money"></i> Refund</button>
                                                                            <a href="@Url.Action("PrintReceiptOfCashPickUp","AgentDashboard" , new { @Area ="Agent", @TransactionId = item.Id , transactionService = FAXER.PORTAL.Areas.Agent.Models.TransactionType.CashPickUp , AgentId = ViewBag.AgentId })" class="btn btn-primary " target="_blank"><i class="fa fa-print"></i> Print</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>*@
                                                        <div class="card-footer bg-light">
                                                            <div class="row">
                                                                <div class="col-lg-6  col-sm-12 col-xs-12 offset-lg-3 text-center">

                                                                    @*<a href="" class="btn btn-warning btn-round m-r-20"><i class="fa fa-money "></i> Refund </a>


                                                                        <a href="sender-cash-pickup-repeat.php" class="btn btn-inverse btn-round m-r-20"><i class="fa fa-refresh "></i> Repeat</a>

                                                                        <button type="button" class="btn btn-danger btn-round m-r-20"><i class="fa fa-remove"></i> Cancel</button>*@


                                                                    <a href="@Url.Action("PrintReceiptOfCashPickUp","AgentDashboard" , new { @Area ="Agent", @TransactionId = item.Id , transactionService = FAXER.PORTAL.Areas.Agent.Models.TransactionType.CashPickUp , AgentId = ViewBag.AgentId })" class="btn btn-primary  btn-round" target="_blank"><i class="fa fa-print"></i> Print</a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                }
                                            </div>
                                        </div>
                                    </div>

                                }




                                @if (Model.FilterKey == FAXER.PORTAL.Areas.Agent.Models.TransactionType.OtherWalletTransfer)
                                {
                                    <div class="card">

                                        <div class="card-header border-bottom">
                                            <h4 class="f-left f-left m-t-5 m-b-0">
                                                <label class="text-primary"> @ViewBag.AgentName </label>  <span>Account No: @ViewBag.AccountNo<br>Country: @ViewBag.AgentCountry</span>
                                            </h4>

                                            <button onclick="window.history.go(-1);" class=" btn btn-primary f-right btn-round">
                                                <i class="fa fa-angle-left m-r-5"></i> Back
                                            </button>
                                        </div>

                                        <div class="card-body">

                                            <div class="col-lg-6  col-sm-12 col-xs-12 offset-lg-3">
                                                <!-- CashPickUp -->
                                                @foreach (var item in Model.TransactionHistoryList)
                                                {

                                                    <!--  -->
                                                    <!--  -->
                                                    <div class="dt-responsive table-responsive">
                                                        <table width="100%">

                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div class="p-t-10 p-b-10">

                                                                            <h5>   @item.Type  </h5>
                                                                            <span class="text-primary">@item.ReceiptNumber</span>
                                                                        </div>
                                                                    </td>

                                                                    <td align="right">
                                                                        <div class="p-t-10 p-b-10">

                                                                            <h5>Other Wallet  </h5>
                                                                            <span class="text-success">@item.Status</span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>


                                                        <table class="table table-striped table-bordered nowrap">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="text-left">Sender</td>
                                                                    <td class="text-left"> @item.SenderName</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Email Address</td>
                                                                    <td class="text-left"> @item.SenderEmail</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Sender Telephone</td>
                                                                    <td class="text-left"> @item.SenderNumber</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Receiver Name</td>
                                                                    <td class="text-left">@item.ReceiverName</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Receiver Telephone</td>
                                                                    <td class="text-left"> @item.ReceiverNumber</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Agent Name</td>
                                                                    <td class="text-left"><a href="">@item.AgentName</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Agent Number</td>
                                                                    <td class="text-left"><a href="">@item.AgentNumber</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Transaction Staff</td>
                                                                    <td class="text-left"><a href="">@item.TransactionStaff</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">City</td>
                                                                    <td class="text-left"> @item.ReceiverCity</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left"> Country</td>
                                                                    <td class="text-left"> @item.ReceiverCountry</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Amount Sent</td>
                                                                    <td class="text-left"> @item.SendingCurrencySymbol @item.AmountSent</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Fee</td>
                                                                    <td class="text-left">@item.SendingCurrencySymbol @item.Fee</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Amount Paid</td>
                                                                    <td class="text-left"> @item.SendingCurrencySymbol @item.AmountPaid</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Exchange Rate</td>
                                                                    <td class="text-left"> @item.SendingCurrency 1 = @item.ExchangeRate @item.ReceivingCurrrency</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">@ViewBag.ReceiverFirstName will receive</td>
                                                                    <td class="text-left"> @item.ReceivingCurrencySymbol @item.ReceivingAmount @item.SendingCurrency</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Payment Method</td>
                                                                    <td class="text-left">@item.PaymentMethod</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Date</td>
                                                                    <td class="text-left">@item.TransactionDate</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <!--  -->
                                                        <!--
                                                        <div class="dynamic_footer">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-lg-6  col-sm-12 col-xs-12 col-lg-offset-3 text-center">
                                                                        @*<button type="button" class="btn btn-success" onclick="repeatMobileWalleTransfer('@item.ReceiptNumber','@item.SenderNumber')">Repeat</button>
                                                                            <button type="button" style="color:grey" class="btn btn-warning" disabled><i class="fa fa-money"></i> Refund</button>*@
                                                                        <a href="@Url.Action("PrintReceiptOfOtherWallet","AgentDashboard" , new { @Area ="Agent", @TransactionId = item.Id , transactionService = FAXER.PORTAL.Areas.Agent.Models.TransactionType.OtherWalletTransfer , @AgentId = ViewBag.AgentId })" class="btn btn-primary " target="_blank"><i class="fa fa-print"></i> Print</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>-->
                                                        <div class="card-footer bg-light">
                                                            <div class="row">
                                                                <div class="col-lg-6  col-sm-12 col-xs-12 offset-lg-3 text-center">

                                                                    <a href="" class="btn btn-warning btn-round m-r-20"><i class="fa fa-money "></i> Refund </a>


                                                                    <a href="sender-cash-pickup-repeat.php" class="btn btn-inverse btn-round m-r-20"><i class="fa fa-refresh "></i> Repeat</a>

                                                                    <button type="button" class="btn btn-danger btn-round m-r-20"><i class="fa fa-remove"></i> Cancel</button>

                                                                    <a href="@Url.Action("PrintReceiptOfOtherWallet","AgentDashboard" , new { @Area ="Agent", @TransactionId = item.Id , transactionService = FAXER.PORTAL.Areas.Agent.Models.TransactionType.OtherWalletTransfer , @AgentId = ViewBag.AgentId })" class="btn btn-primary btn-round" target="_blank"><i class="fa fa-print"></i> Print</a>


                                                                    <button type="button" class="btn btn-primary btn-round"><i class="fa fa-print"></i> Priint</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (Model.FilterKey == FAXER.PORTAL.Areas.Agent.Models.TransactionType.BankAccountDeposit)
                                {
                                    <div class="card">

                                        <div class="card-header border-bottom">
                                            <h4 class="f-left f-left m-t-5 m-b-0">
                                                <label class="text-primary"> @ViewBag.AgentName </label>  <span>Account No: @ViewBag.AccountNo<br>Country: @ViewBag.AgentCountry</span>
                                            </h4>

                                            <button onclick="window.history.go(-1);" class=" btn btn-primary f-right btn-round">
                                                <i class="fa fa-angle-left m-r-5"></i> Back
                                            </button>
                                        </div>

                                        <div class="card-body">

                                            <div class="col-lg-6  col-sm-12 col-xs-12 offset-lg-3">
                                                <!-- CashPickUp -->
                                                @foreach (var item in Model.TransactionHistoryList)
                                                {

                                                    <!--  -->
                                                    <!--  -->
                                                    <div class="dt-responsive table-responsive">
                                                        <table width="100%">

                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div class="p-t-10 p-b-10">

                                                                            <h5>   @item.Type  </h5>
                                                                            <span class="text-primary">@item.ReceiptNumber</span>
                                                                        </div>
                                                                    </td>

                                                                    <td align="right">
                                                                        <div class="p-t-10 p-b-10">

                                                                            <h5> Bank Deposit  </h5>
                                                                            <span class="text-success">@item.Status</span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <table class="table table-striped table-bordered nowrap">
                                                            <tbody>

                                                                <tr>
                                                                    <td class="text-left">Sender</td>
                                                                    <td class="text-left"> @item.SenderName</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Email Address</td>
                                                                    <td class="text-left"> @item.SenderEmail</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Telephone</td>
                                                                    <td class="text-left"> @item.SenderNumber</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Receiver Name</td>
                                                                    <td class="text-left"> @item.ReceiverName</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Bank Name</td>
                                                                    <td class="text-left"> @item.BankName</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Bank Branch</td>
                                                                    <td class="text-left"> @item.BankBranch</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Account Number</td>
                                                                    <td class="text-left">@item.AccountNumber</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Agent Name</td>
                                                                    <td class="text-left"><a href="">@item.AgentName</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Agent Number</td>
                                                                    <td class="text-left"><a href="">@item.AgentNumber</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Transaction Staff</td>
                                                                    <td class="text-left"><a href="">@item.TransactionStaff</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Receiver Country</td>
                                                                    <td class="text-left"> @item.ReceiverCountry</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Amount Sent</td>
                                                                    <td class="text-left"> @item.SendingCurrencySymbol @item.AmountSent</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Fee</td>
                                                                    <td class="text-left">@item.SendingCurrencySymbol @item.Fee</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Amount Paid</td>
                                                                    <td class="text-left"> @item.SendingCurrencySymbol @item.AmountPaid</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Exchange Rate</td>
                                                                    <td class="text-left"> 1 @item.SendingCurrency  = @item.ExchangeRate @item.ReceivingCurrrency</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">@ViewBag.ReceiverFirstName will receive</td>
                                                                    <td class="text-left"> @item.ReceivingCurrencySymbol @item.ReceivingAmount @item.SendingCurrency</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Payment Method</td>
                                                                    <td class="text-left">@item.PaymentMethod</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Date</td>
                                                                    <td class="text-left">@item.TransactionDate</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <!--
                                                        <div class="dynamic_footer">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-lg-6  col-sm-12 col-xs-12 col-lg-offset-3 text-center">
                                                                        @*<button type="button" class="btn btn-success" onclick="repeatBankAccountDeposit('@item.ReceiptNumber','@item.SenderNumber')">Repeat</button>
                                                                            <button type="button" style="color:grey" class="btn btn-warning" disabled><i class="fa fa-money"></i> Refund</button>*@
                                                                        <a href="@Url.Action("PrintReceiptOfBankDeposit","AgentDashboard" , new { @Area ="Agent", @TransactionId = item.Id , transactionService = FAXER.PORTAL.Areas.Agent.Models.TransactionType.BankAccountDeposit , @AgentId = ViewBag.AgentId })" class="btn btn-primary " target="_blank"><i class="fa fa-print"></i> Print</a>
                                                                        @if (item.BankStatus == FAXER.PORTAL.DB.BankDepositStatus.Failed || item.BankStatus == FAXER.PORTAL.DB.BankDepositStatus.Cancel && item.IsRetryableCountry == true)
                                                                        {
                                                                            <a href="@Url.Action("RetryBankTransaction", "SenderTransactionActivity", new { area = "Admin", transactionId = item.Id ,  SenderId = 0 ,  @AgentId = ViewBag.AgentId })" class="btn btn-success radius-20">Retry</a>


                                                                        }
                                                                        @if (item.BankStatus != FAXER.PORTAL.DB.BankDepositStatus.Failed)
                                                                        {
                                                                            <a href="@Url.Action("RecheckBankTransaction", "SenderTransactionActivity", new { area = "Admin", transactionId = item.Id ,  SenderId = 0 ,  @AgentId = ViewBag.AgentId })" class="btn btn-success radius-20">Recheck</a>

                                                                        }


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>-->

                                                        <div class="card-footer bg-light">
                                                            <div class="row">
                                                                <div class="col-lg-6  col-sm-12 col-xs-12 offset-lg-3 text-center">

                                                                    @*<a href="" class="btn btn-warning btn-round m-r-20"><i class="fa fa-money "></i> Refund </a>


                                                                        <a href="sender-cash-pickup-repeat.php" class="btn btn-inverse btn-round m-r-20"><i class="fa fa-refresh "></i> Repeat</a>*@
                                                                    @if (item.BankStatus == FAXER.PORTAL.DB.BankDepositStatus.Failed || item.BankStatus == FAXER.PORTAL.DB.BankDepositStatus.Cancel && item.IsRetryableCountry == true)
                                                                    {
                                                                        <a href="@Url.Action("RetryBankTransaction", "SenderTransactionActivity", new { area = "Admin", transactionId = item.Id ,  SenderId = 0 ,  @AgentId = ViewBag.AgentId })" class="btn btn-inverse btn-round m-r-20">Retry</a>


                                                                    }    @if (item.BankStatus != FAXER.PORTAL.DB.BankDepositStatus.Failed)
                                                                    {
                                                                        <a href="@Url.Action("RecheckBankTransaction", "SenderTransactionActivity", new { area = "Admin", transactionId = item.Id ,  SenderId = 0 ,  @AgentId = ViewBag.AgentId })" class="btn btn-success btn-round">Recheck</a>

                                                                    }


                                                                    <a href="@Url.Action("PrintReceiptOfBankDeposit","AgentDashboard" , new { @Area ="Agent", @TransactionId = item.Id , transactionService = FAXER.PORTAL.Areas.Agent.Models.TransactionType.BankAccountDeposit , @AgentId = ViewBag.AgentId })" class="btn btn-primary  btn-round" target="_blank"><i class="fa fa-print"></i> Print</a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--  -->
                                                    <!--  -->
                                                }

                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (Model.FilterKey == FAXER.PORTAL.Areas.Agent.Models.TransactionType.PayBillsTopUp)
                                {<div class="card">

                                        <div class="card-header border-bottom">
                                            <h4 class="f-left f-left m-t-5 m-b-0">
                                                <label class="text-primary"> @ViewBag.AgentName </label>  <span>Account No: @ViewBag.AccountNo<br>Country: @ViewBag.AgentCountry</span>
                                            </h4>

                                            <button onclick="window.history.go(-1);" class=" btn btn-primary f-right btn-round">
                                                <i class="fa fa-angle-left m-r-5"></i> Back
                                            </button>
                                        </div>

                                        <div class="card-body">

                                            <div class="col-lg-6  col-sm-12 col-xs-12 offset-lg-3">
                                                <!-- CashPickUp -->
                                                @foreach (var item in Model.TransactionHistoryList)
                                                {
                                                    <div class="dt-responsive table-responsive">
                                                        <table width="100%">

                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div class="p-t-10 p-b-10">

                                                                            <h5>   @item.Type  </h5>
                                                                            <span class="text-primary">@item.ReceiptNumber</span>
                                                                        </div>
                                                                    </td>

                                                                    <td align="right">
                                                                        <div class="p-t-10 p-b-10">

                                                                            <h5> Bill Payment   </h5>
                                                                            <span class="text-success">@item.Status</span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table class="table table-striped table-bordered nowrap">
                                                            <tbody>

                                                                <tr>
                                                                    <td class="text-left">Name</td>
                                                                    <td class="text-left">@item.ReceiverName</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Wallet Number</td>
                                                                    <td class="text-left"><a href="">@item.ReceiverNumber</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Customer Account Number</td>
                                                                    <td class="text-left"> @item.AccountNumber</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Agent Name</td>
                                                                    <td class="text-left"><a href="">@item.AgentName</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Agent Number</td>
                                                                    <td class="text-left"><a href="">@item.AgentNumber</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Transaction Staff</td>
                                                                    <td class="text-left"><a href="">@item.TransactionStaff</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Sending Amount</td>
                                                                    <td class="text-left"> @item.SendingCurrencySymbol @item.AmountSent</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Fee</td>
                                                                    <td class="text-left">@item.SendingCurrencySymbol @item.Fee</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Amount Paid</td>
                                                                    <td class="text-left"> @item.SendingCurrencySymbol @item.AmountPaid</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Exchange Rate</td>
                                                                    <td class="text-left"> @item.SendingCurrency 1 = @item.ExchangeRate @item.ReceivingCurrrency</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">@ViewBag.ReceiverFirstName will receive</td>
                                                                    <td class="text-left"> @item.ReceivingCurrencySymbol @item.ReceivingAmount @item.SendingCurrency</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Payment Method</td>
                                                                    <td class="text-left">@item.PaymentMethod</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Date</td>
                                                                    <td class="text-left">@item.TransactionDate</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>


                                                        <!--  -->
                                                        <!--
                                                        <div class="dynamic_footer">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-lg-6  col-sm-12 col-xs-12 col-lg-offset-3 text-center">
                                                                        @*<a href="@Url.Action("TopUpAnAccount","AgentPayBills")" type="button" class="btn btn-success  "><i class="fa fa-repeat"></i> Repeat</a>
                                                                            <button type="button" style="color:grey" class="btn btn-warning" disabled><i class="fa fa-money"></i> Refund</button>*@
                                                                        <a href="@Url.Action("PrintReceiptOfPayBillTopUp","AgentDashboard" , new { @Area ="Agent", @TransactionId = item.Id , transactionService = FAXER.PORTAL.Areas.Agent.Models.TransactionType.PayBillsTopUp , @AgentId = ViewBag.AgentId })" class="btn btn-primary " target="_blank"><i class="fa fa-print"></i> Print</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> -->

                                                        <div class="card-footer bg-light">
                                                            <div class="row">
                                                                <div class="col-lg-6  col-sm-12 col-xs-12 offset-lg-3 text-center">

                                                                    @*<a href="" class="btn btn-warning btn-round m-r-20"><i class="fa fa-money "></i> Refund </a>


                                                                        <a href="sender-cash-pickup-repeat.php" class="btn btn-inverse btn-round m-r-20"><i class="fa fa-refresh "></i> Repeat</a>

                                                                        <button type="button" class="btn btn-danger btn-round m-r-20"><i class="fa fa-remove"></i> Cancel</button>*@

                                                                    <a href="@Url.Action("PrintReceiptOfPayBillTopUp","AgentDashboard" , new { @Area ="Agent", @TransactionId = item.Id , transactionService = FAXER.PORTAL.Areas.Agent.Models.TransactionType.PayBillsTopUp , @AgentId = ViewBag.AgentId })" class="btn btn-primary btn-round" target="_blank"><i class="fa fa-print"></i> Print</a>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (Model.FilterKey == FAXER.PORTAL.Areas.Agent.Models.TransactionType.PayBillsMonthly && Model.FilterType == FAXER.PORTAL.Areas.Agent.Models.Type.BillPayment)
                                {
                                    <!-- CashPickUp -->
                                    <div class="card">

                                        <div class="card-header border-bottom">
                                            <h4 class="f-left f-left m-t-5 m-b-0">
                                                <label class="text-primary"> @ViewBag.AgentName </label>  <span>Account No: @ViewBag.AccountNo<br>Country: @ViewBag.AgentCountry</span>
                                            </h4>

                                            <button onclick="window.history.go(-1);" class=" btn btn-primary f-right btn-round">
                                                <i class="fa fa-angle-left m-r-5"></i> Back
                                            </button>
                                        </div>

                                        <div class="card-body">

                                            <div class="col-lg-6  col-sm-12 col-xs-12 offset-lg-3">
                                                @foreach (var item in Model.TransactionHistoryList)
                                                {
                                                    <!--  -->

                                                    <div class="dt-responsive table-responsive">
                                                        <table width="100%">

                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div class="p-t-10 p-b-10">

                                                                            <h5>   @item.Type  </h5>
                                                                            <span class="text-primary">@item.ReceiptNumber</span>
                                                                        </div>
                                                                    </td>

                                                                    <td align="right">
                                                                        <div class="p-t-10 p-b-10">

                                                                            <h5>  Bill Payment  </h5>
                                                                            <span class="text-success">@item.Status</span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table class="table table-striped table-bordered nowrap">
                                                            <tbody>

                                                                <tr>
                                                                    <td class="text-left">Name</td>
                                                                    <td class="text-left">@item.ReceiverName</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Wallet Number</td>
                                                                    <td class="text-left"><a href="">@item.ReceiverNumber</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Customer Account Number</td>
                                                                    <td class="text-left"> @item.AccountNumber</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Agent Name</td>
                                                                    <td class="text-left"><a href="">@item.AgentName</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Agent Number</td>
                                                                    <td class="text-left"><a href="">@item.AgentNumber</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Transaction Staff</td>
                                                                    <td class="text-left"><a href="">@item.TransactionStaff</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Sending Amount</td>
                                                                    <td class="text-left"> @item.SendingCurrencySymbol @item.AmountSent</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Fee</td>
                                                                    <td class="text-left">@item.SendingCurrencySymbol @item.Fee</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Amount Paid</td>
                                                                    <td class="text-left"> @item.SendingCurrencySymbol @item.AmountPaid</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Exchange Rate</td>
                                                                    <td class="text-left"> @item.SendingCurrency 1 = @item.ExchangeRate @item.ReceivingCurrrency</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">@ViewBag.ReceiverFirstName will receive</td>
                                                                    <td class="text-left"> @item.ReceivingCurrencySymbol @item.ReceivingAmount @item.SendingCurrency</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Payment Method</td>
                                                                    <td class="text-left">@item.PaymentMethod</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">Date</td>
                                                                    <td class="text-left">@item.TransactionDate</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <!--  -->
                                                        <!--
                                                        <div class="dynamic_footer">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-lg-6  col-sm-12 col-xs-12 col-lg-offset-3 text-center">
                                                                        @*<a href="@Url.Action("PayAMonthlyBill","AgentPayBills")" type="button" class="btn btn-success  "><i class="fa fa-repeat"></i> Repeat</a>
                                                                            <button type="button" style="color:grey" class="btn btn-warning" disabled><i class="fa fa-money"></i> Refund</button>*@
                                                                        <a href="@Url.Action("PrintReceiptOfPayBillTopUp","AgentDashboard" , new { @Area ="Agent", @TransactionId = item.Id , transactionService = FAXER.PORTAL.Areas.Agent.Models.TransactionType.PayBillsMonthly , @AgentId = ViewBag.AgentId })" class="btn btn-primary " target="_blank"><i class="fa fa-print"></i> Print</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                             -->
                                                        <div class="card-footer bg-light">
                                                            <div class="row">
                                                                <div class="col-lg-6  col-sm-12 col-xs-12 offset-lg-3 text-center">

                                                                    @*<a href="" class="btn btn-warning btn-round m-r-20"><i class="fa fa-money "></i> Refund </a>


                                                                        <a href="sender-cash-pickup-repeat.php" class="btn btn-inverse btn-round m-r-20"><i class="fa fa-refresh "></i> Repeat</a>

                                                                        <button type="button" class="btn btn-danger btn-round m-r-20"><i class="fa fa-remove"></i> Cancel</button>*@


                                                                    <a href="@Url.Action("PrintReceiptOfPayBillTopUp","AgentDashboard" , new { @Area ="Agent", @TransactionId = item.Id , transactionService = FAXER.PORTAL.Areas.Agent.Models.TransactionType.PayBillsMonthly , @AgentId = ViewBag.AgentId })" class="btn btn-primary btn-round" target="_blank"><i class="fa fa-print"></i> Print</a>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
