@using PagedList;
@using PagedList.Mvc;
@model IPagedList<FAXER.PORTAL.Areas.Admin.ViewModels.ViewRegisteredStaffViewModel>
@{
    ViewBag.Title = "Index";
    //Layout = "~/Areas/Admin/Views/Shared/New_Layout.cshtml";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string[] Alpha = ViewBag.Alpha;
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            Riddha.UI.Toast("@ViewBag.Message", 4);
        };
    </script>
}




<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">View-Registered Staff Details</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <a href="avoide:javascript;" class="btn btn-info pull-right m-l-20
                       waves-effect waves-light btn-rounded" data-toggle="modal" data-target="#registration_staff">Register a Staff</a>

                <ol class="breadcrumb">
                    <li><a href="/Admin/AdminDashboard">Dashboard</a></li>
                    <li class="active">View-Registered Staff Details</li>
                </ol>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <div class="hideoption" id="pop">
                        <div class="btn-  pull-left">
                            <button href="" class="btn btn-success btn-sm  waves-effect waves-light">
                                <span class="btn-label"><i class="fa fa-envelope"></i></span> </span> SMS
                            </button>
                            <button data-toggle="modal" data-target="#emailpopup" href="" class="btn btn-warning btn-sm  waves-effect waves-light">
                                <span class="btn-label"><i class="fa fa-envelope"></i></span> Email
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.DropDownList("Country", (IEnumerable<SelectListItem>)ViewBag.Countries, "Filter By Country", new { @class = "form-control", id = "Country", onchange = "Fliter();" })

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.DropDownList("City", (IEnumerable<SelectListItem>)ViewBag.SCities, "Choose City", new { @class = "form-control", id = "city", onchange = "Fliter();" })
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="white-box">
                                <div class="hideoption" id="pop">
                                    <div class="btn-  pull-left">
                                        <button href="" class="btn btn-success btn-sm  waves-effect waves-light">
                                            <span class="btn-label"><i class="fa fa-envelope"></i></span> </span> SMS
                                        </button>
                                        <button data-toggle="modal" data-target="#emailpopup" href="" class="btn btn-warning btn-sm  waves-effect waves-light">
                                            <span class="btn-label"><i class="fa fa-envelope"></i></span> Email
                                        </button>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped  " cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <td align="center">
                                                    <div class="checkbox checkbox-success ">
                                                        <input id="checkAll" type="checkbox" class="check_boxa">
                                                        <label for="checkAll" name="name" class="check_boxa"> </label>
                                                    </div>
                                                    Select All
                                                </td>
                                                <td><strong>SN.</strong></td>

                                                <td><strong>Staff Name  </strong></td>
                                                <td><strong>DoB </strong></td>
                                                <td><strong>Gender</strong></td>
                                                <td><strong>Private Email   </strong></td>

                                                <td><strong>MFS Email   </strong></td>
                                                <td><strong>Full Address    </strong></td>
                                                <td><strong>Country</strong></td>
                                                <td><strong>City</strong></td>
                                                <td><strong>Telephone</strong></td>
                                                <td><strong>Time at Address    </strong></td>
                                                <td><strong>Staff MFS Code   </strong></td>
                                                <td><strong>Status</strong></td>
                                                <td><strong>Action</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody style="margin-bottom: 30px !important;">
                                            @{
                                                int i = 0;
                                            }
                                            @foreach (var item in Model)
                                            {
                                                i++;

                                                <tr>
                                                    <td align="center">
                                                        <div class="checkbox checkbox-success">
                                                            <input type="checkbox" name="" class="check_boxa" onclick="return pushId('@item.PrivateEmail',this);">
                                                            <label name="name" class="check_boxa"> </label>
                                                        </div>
                                                    </td>
                                                    <td>@i</td>
                                                    <td><a href="@Url.Action("ViewRegisteredStaffDetailsMore","ViewRegisteredStaffDetails", new { @staffId = item.StaffId})">@item.StaffFirstName @item.StaffMiddleName @item.StaffLastName </a></td>
                                                    <td>
                                                        @item.StaffDOB
                                                    </td>
                                                    <td>@item.StaffGender</td>
                                                    <td>@item.PrivateEmail</td>
                                                    <td>@item.MFSEmail</td>

                                                    <td>@item.StaffAddress1, @item.StaffCity, @item.StaffCountry</td>
                                                    <td>@item.StaffCountry</td>
                                                    <td>@item.StaffCity</td>
                                                    <td>@item.StaffTelephone</td>
                                                    <td>
                                                        @item.TimeAtCurrentAddress
                                                        <br /><br /><a href="@Url.Action("ViewPreviousAddress","ViewRegisteredStaffDetails", new { @staffId=item.StaffId})">Previous Addresses</a>
                                                    </td>
                                                    <td>@item.StaffMFSCode</td>
                                                    <td>@item.Status </td>
                                                    <td>
                                                        @*<div class="dropdown-primary dropdown">
                                                                <div class="dropdown-toggle" data-toggle="dropdown">
                                                                    <img src="assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                                                    <span>John Doe</span>
                                                                    <i class="feather icon-chevron-down"></i>
                                                                </div>
                                                                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                                                    <li>
                                                                        <a href="#!">
                                                                            <i class="feather icon-settings"></i> Settings
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="user-profile.html">
                                                                            <i class="feather icon-user"></i> Profile
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="email-inbox.html">
                                                                            <i class="feather icon-mail"></i> My Messages
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="auth-lock-screen.html">
                                                                            <i class="feather icon-lock"></i> Lock Screen
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/Admin/Login/AdminLogOut">
                                                                            <i class="feather icon-log-out"></i> Logout
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>*@
                                                        <div class="btn-group m-r-10">

                                                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-success dropdown-toggle btn-rounded waves-effect waves-light" type="button">
                                                                Action <span class="caret"></span>
                                                            </button>
                                                            <ul role="menu" class="dropdown-menu">
                                                                <li><a href="@Url.Action("ViewRegisteredStaffDetailsMore","ViewRegisteredStaffDetails", new { @staffId = item.StaffId})" class="btn btn-xs btn-info waves-effect waves-light "> <span class="btn-label"><i class="fa fa-info"></i></span> More Details</a></li>
                                                                <li><a href="#" class="btn btn-xs btn-success waves-effect waves-light "><span class="btn-label"><i class=" ti-pencil-alt"></i></span> Update</a></li>
                                                                @if (item.Status == "Active")
                                                                {
                                                                    <li><a href="" class="btn btn-xs btn-primary waves-effect waves-light disabled"><span class="btn-label"><i class="  ti-check-box"></i></span>Activate</a></li>
                                                                    <li><a href="@Url.Action("changeStatus","ViewRegisteredStaffDetails", new { @staffId = item.StaffId})" class="btn btn-xs btn-warning waves-effect waves-light "><span class="btn-label"><i class=" ti-na"></i></span>Deactivated</a></li>
                                                                }
                                                                else
                                                                {
                                                                    <li><a href="@Url.Action("changeStatus","ViewRegisteredStaffDetails", new { @staffId = item.StaffId})" class="btn btn-xs btn-primary waves-effect waves-light "><span class="btn-label"><i class="  ti-check-box"></i></span>Activate</a></li>
                                                                    <li><a href="" class="btn btn-xs btn-warning waves-effect waves-light disabled "><span class="btn-label"><i class=" ti-na"></i></span>Deactivated</a></li>
                                                                }



                                                                <li><a href="@Url.Action("deleteStaff","ViewRegisteredStaffDetails", new { @staffId= item.StaffId})" class="btn btn-xs btn-danger waves-effect waves-light " id="sa-params"><span class="btn-label"><i class=" ti-trash"></i></span> Delete</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>

                                    Page @(Model.PageCount < Model.PageNumber ? 0 :
                                                        Model.PageNumber) of @Model.PageCount

                                                        @Html.PagedListPager(Model, page => Url.Action("Index",
                                                            new { @page = page }))

                                                        <div class="clearfix mt100"></div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div id="registration_staff" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title">MoneyFax Service-Register a Staff</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="icon_al">
                                                    <i class="fa fa-user-plus icon_x3 text-warning" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-9">
                                                <h4>To start staff registration, use the initial information provided by the staff to complete the registration process</h4>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="@Url.Action("RegisterAStaff","ViewRegisteredStaffDetails")" class="btn btn-warning waves-effect waves-light btn-rounded">Register a Staff</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="emailpopup" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                                        <div class="modal-body">
                                            <div class="col-lg-9 col-md-8">

                                                <div class="dashboard_header">
                                                    <h1>Compose</h1>
                                                </div>

                                                <div class="dashboard_body">
                                                    <div class=" ">
                                                        <div class=" ">


                                                            <div class="col-lg-3">
                                                                <label>From</label>
                                                            </div>

                                                            <div class="col-lg-8 ">
                                                                <div class="form-group">
                                                                    customerservice@gmail.com
                                                                    @Html.TextBox("customerservice@gmail.com", new { @value = "customerservice@gmail.com", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>




                                                            <div class="col-lg-3">
                                                                <label>Subject</label>
                                                            </div>

                                                            <div class="col-lg-8 ">
                                                                <div class="form-group">
                                                                                                                @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @placeholder = "Message Subject" })
                                                                    <input type="text" name="subject" />
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>


                                                            <div class="clearfix"></div>




                                                            <div class="col-lg-12 ">
                                                                <div class="form-group">
                                                                    <label>Body</label>
                                                                    <textarea rows="5" class="form-control" name="body"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>




                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-lg-12 ">


                                                    <button class="fbtn btn-next" type="submit" name="Draft" onclick="sendEmail();">&nbsp &nbsp &nbsp &nbsp Send > &nbsp &nbsp &nbsp &nbsp &nbsp <i class="" aria-hidden="true"></i></button>

                                                    <br>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>*@
                    @section scripts{
                        <script type="text/javascript">

                            function Fliter() {
                                var country = document.getElementById("Country").value;
                                var city = document.getElementById("city").value;
                                window.location.href = "/Admin/ViewRegisteredStaffDetails/Index?CountryCode=" + country + "&City=" + city;
                            }

                            var idArray = [];
                            function pushId(Id, control) {

                                $("#pop").show();
                                //$(".hideoption").show();
                                var checkbox = $(control);
                                setTimeout(function () { checkbox.prop('checked', !checkbox.prop('checked')); }, 10);
                                if (idArray.includes(Id)) {
                                    var a = idArray.indexOf(Id);
                                    idArray.splice(a, 1);
                                }
                                else {
                                    idArray.push(Id);
                                }
                                return false;
                            }

                            function sendEmail() {

                                var subject = document.getElementsByName("subject")[0].value;
                                var body = document.getElementsByName("body")[0].value;
                                window.location.href = "/Admin/ViewRegisteredStaffDetails/sendEmails?emails=" + idArray + "&subject=" + subject + "&body=" + body;
                            }




                        </script>
                    }

                    @*<div class="pcoded-content">
                            <div class="pcoded-inner-content">

                                <div class="main-body">
                                    <div class="page-wrapper">

                                        <div class="page-header">
                                            <div class="row align-items-end">
                                                <div class="col-lg-8">
                                                    <div class="page-header-title">
                                                        <div class="d-inline">
                                                            <h4>Registered Staff</h4>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="page-header-breadcrumb">
                                                        <ul class="breadcrumb-title">
                                                            <li class="breadcrumb-item">
                                                                <a href="index.php"> <i class="feather icon-home"></i> </a>
                                                            </li>

                                                            <li class="breadcrumb-item">
                                                                <a href="#!">Registered Staff</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="page-body">
                                            <div class="row">
                                                <!--  -->
                                                <div class="col-xl-4 col-md-6">
                                                    <div class="card bg-c-yellow text-white">
                                                        <div class="card-block">
                                                            <div class="row align-items-center">
                                                                <div class="col">
                                                                    <p class="m-b-5"><b>Total Registered Staff  </b></p>
                                                                    <h4 class="m-b-0">@ViewBag.TotalRegisteredStaff</h4>
                                                                </div>
                                                                <div class="col col-auto text-right">
                                                                    <i class="fa fa-users f-40 text-c-yellow"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6">
                                                    <div class="card bg-c-green text-white">
                                                        <div class="card-block">
                                                            <div class="row align-items-center">
                                                                <div class="col">
                                                                    <p class="m-b-5"><b>Total Staff on Holidays</b></p>
                                                                    <h4 class="m-b-0">@ViewBag.TotalHolidayStaff</h4>
                                                                </div>
                                                                <div class="col col-auto text-right">
                                                                    <i class="feather icon-credit-card f-40 text-c-green"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6">
                                                    <div class="card bg-c-pink text-white">
                                                        <div class="card-block">
                                                            <div class="row align-items-center">
                                                                <div class="col">
                                                                    <p class="m-b-5"><b> Total Countries Staff </b></p>
                                                                    <h4 class="m-b-0">@ViewBag.TotalInActiveStaff</h4>
                                                                </div>
                                                                <div class="col col-auto text-right">
                                                                    <i class="feather icon-book f-40 text-c-pink"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--  -->

                                                <div class="col-sm-12">

                                                    <div class="card">

                                                        <div class="card-block">
                                                            <div class="row ">
                                                                <!--  -->
                                                                <div class="col-xl-4 col-md-6">
                                                                    <div class="form-group">
                                                                        @Html.DropDownList("Country", (IEnumerable<SelectListItem>)ViewBag.Countries, "Filter By Country", new { @class = "form-control form-control-round form-control-bold", id = "Country", onchange = "filter();" })

                                                                    </div>
                                                                </div>
                                                                <!--  -->
                                                                <!--  -->
                                                                <div class="col-xl-4 col-md-6">
                                                                    <div class="form-group">
                                                                        @Html.DropDownList("City", (IEnumerable<SelectListItem>)ViewBag.SCities, "Choose City", new { @class = "form-control form-control-round form-control-bold", id = "City", onchange = "filter();" })
                                                                    </div>
                                                                </div>
                                                                <!--  -->
                                                                <!--  -->
                                                                <div class="col-xl-4 col-md-6">
                                                                    <div class="form-group">

                                                                        <input name="Search" class="form-control form-control-round form-control-bold" id="search" placeholder="Search Staff" onkeyup="filter();">
                                                                    </div>
                                                                    <!--  -->
                                                                </div>
                                                            </div>

                                                            <div class="m-b-15">


                                                                <button class="btn btn-primary btn-round" data-toggle="modal" data-target="#email">Send Email</button>


                                                                <button class="btn btn-secondary btn-round" data-toggle="modal" data-target="#SMS">Send SMS</button>



                                                            </div>
                                                            <div class="  row row-eq-height>.alpha-box" id="search-result">
                                                                @foreach (var item in Alpha)
                                                                {
                                                                    <div class=" col-lg-4">
                                                                        <div class="list-tag alpha-box p-20 m-b-30">


                                                                            <h2 class="text-bold"> @item.ToUpper()</h2>
                                                                            <ul class="scroll-list">

                                                                                @foreach (var data in Model)
                                                                                {
                                                                                    if (data.FirstLetterOfStaff.StartsWith(item))
                                                                                    {

                                                                                        if (data.StaffMiddleName == null)
                                                                                        {
                                                                                            <li><a href="@Url.Action("StaffDashBoard", "ViewRegisteredStaffDetails", new { StaffId = data.StaffId })"> @data.StaffFirstName @data.StaffLastName </a></li>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <li><a href="@Url.Action("StaffDashBoard", "ViewRegisteredStaffDetails", new { StaffId = data.StaffId})"> @data.StaffFirstName @data.StaffMiddleName @data.StaffLastName </a></li>
                                                                                        }



                                                                                    }


                                                                                    <!--  -->
                                                                                }

                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>




                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div id="styleSelector">
                                </div>
                            </div>
                        </div>*@

                    @*@section Scripts{
                            <script type="text/javascript">
                                function filter() {

                                    var Country = $("#Country").val();
                                    var City = $("#City").val();
                                    var Search = $("#Search").val();

                                    window.location.href = "/Admin/ViewRegisteredStaffDetails/Index?Country=" + Country + "&City=" + City + "&Search=" + Search;

                                }

                                jQuery("input[name='Search']").val('@ViewBag.Search');


                            </script>

                        }*@