@model FAXER.PORTAL.Areas.KiiPayPersonal.ViewModels.MobileMoneyTransferViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/KiiPayPersonal/Views/Shared/_Layout_KiiPayPersonal.cshtml";
}



<!--  -->
<div class="real_form pattern2 pdt40 ">
    <div class="container">
        @using (Html.BeginForm())
        {


            <div class="row">
                <!-- Available balance -->
                <div class="col-lg-4 col-lg-offset-4 ">
                    <div class="text-right wallet-balance  mb15">
                        <h5>Available balance</h5>
                        <h1 class="text-primary">@FAXER.PORTAL.Common.CardUserSession.LoggedCardUserViewModel.CardUserCurrencySymbol @FAXER.PORTAL.Common.CardUserSession.LoggedCardUserViewModel.BalanceOnCard </h1>
                    </div>
                </div>
                <!-- Available balance -->
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">




                    <div class="login_signup mb50 clearfix text-center">
                        <h3>Pay a Mobile Wallet</h3>
                        <hr>


                        <div class="form-group">
                            @Html.DropDownListFor(model => model.RecentMobileNumber, (IEnumerable<SelectListItem>)ViewBag.RecentMobileNumbers, "Recent Mobile  Number", new { @class = "form-blue", @id = "phoneNumber", @onchange = "selectPhoneNumber();" })

                        </div>

                        <div class="form-group">
                            <h2 class="text-primary text-center">OR</h2>
                        </div>


                        <div class="form-group">
                            @Html.TextBoxFor(model => model.MobileNumber, new { @placeholder = "Enter Mobile Number", @class = "form-blue", @id = "phoneTextBox" })
                            @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })

                        </div>



                        <h4 class="text-center mb30">Sending Money to another Country?   <a href="@Url.Action("SendingMoneyAbroadMobile")">Change</a></h4>



                    </div>
                    <div class="clearfix"></div>


                    <div class="text-center   clearfix">
                        <hr>

                        <button type="submit" class="btn btn-primary btn-lg mb30">Continue <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        <!-- back btn -->
                        <div class="clearfix ">

                            <center>
                                <a href="@Url.Action("Index","TransferMoneyNow")" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                            </center>
                        </div>
                        <!-- back btn end-->
                    </div>
                </div>

                <!--  -->

            </div>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function selectPhoneNumber() {
            debugger;
            var phoneNumber = $("#phoneNumber").val();
            $("#phoneTextBox").val(phoneNumber);
            return;

        }



    </script>

}
