@model FAXER.PORTAL.Areas.KiiPayPersonal.ViewModels.SendingMoneyAbroadMobileViewModel
@{
    ViewBag.Title = "SendingMoneyAbroadMobile";
    Layout = "~/Areas/KiiPayPersonal/Views/Shared/_Layout_KiiPayPersonal.cshtml";
}



<!--  -->
<div class="real_form pattern2 pdt40 ">
    <div class="container">

        <div class="row">
            <!-- Available balance -->
            <div class="col-lg-4 col-lg-offset-4 ">
                <div class="text-right wallet-balance  mb15">
                    <h5>Available balance</h5>
                    <h1 class="text-primary">@FAXER.PORTAL.Common.CardUserSession.LoggedCardUserViewModel.CardUserCurrencySymbol  @FAXER.PORTAL.Common.CardUserSession.LoggedCardUserViewModel.BalanceOnCard </h1>
                </div>
            </div>
            <!-- Available balance -->
            @using (Html.BeginForm())
            {


                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">




                    <div class="login_signup mb50 clearfix text-center">
                        <h3>Send Money to a Mobile Wallet</h3>
                        <hr>

                        <div class="form-group mb30">
                            @Html.DropDownListFor(model => model.CountryCode, (IEnumerable<SelectListItem>)ViewBag.Countries, "Select Country", new { @class = "form-blue", @id="countryCode", @onchange= "getCountryPhoneCode()" })

                        </div>

                        <div class="form-group contact-no-group">
                            <div class="countr-code-lg">
                                <span id="countryPhoneCode">@Model.CountryPhoneCode</span> -
                            </div>
                            @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-blue contact-no-lg", @maxlength = "10", @minlength = "10", @placeholder = "Enter Mobile Number ", @id = "phoneTextBox" })
                            @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group mb20">
                            <h2 class="text-primary text-center">OR</h2>
                        </div>

                        <div class="form-group mb30">
                            @Html.DropDownListFor(model => model.RecentlyPaidMobileNumber, (IEnumerable<SelectListItem>)ViewBag.RecentMobileNumbers, "Select Recently  Paid Mobile No.", new { @class = "form-blue", @id= "phoneNumber", @onchange = "selectPhoneNumber();" })

                        </div>



                    </div>
                    <div class="clearfix"></div>
                    @Html.HiddenFor(model=>model.CountryPhoneCode)

                    <div class="text-center   clearfix">
                        <hr>

                        <button type="submit" class="btn btn-primary btn-lg  mb30 ">Continue <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        <!-- back btn -->
                        <div class="clearfix ">

                            <center>
                                <a href="@Url.Action("Index","MobileMoneyTransfer")" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                            </center>
                        </div>
                        <!-- back btn end-->
                    </div>
                </div>
            }
            <!--  -->

        </div>

    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function getCountryPhoneCode() {
            var countryCode = $("#countryCode").val();
            $.getJSON("/KiiPayPersonal/MobileMoneyTransfer/GetCountryPhoneCode?code=" + countryCode, function (result) {
                $("#countryPhoneCode").text(result.code);
            });
        }
        function selectPhoneNumber() {
            var phoneNumber = $("#phoneNumber").val();
            $("#phoneTextBox").val(phoneNumber);
        }
    </script>
    
    }