@model FAXER.PORTAL.Areas.Admin.ViewModels.FeedBackViewModel
@{
    ViewBag.Title = "AddFeedback";
    Layout = "~/Areas/Admin/Views/Shared/New_Layout.cshtml";
}

@*@using (Html.BeginForm())
{
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">

            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="white-box">
                        <div class="card" style="">

                            <div class="card-header border-bottom">
                                <h2 class="f-left f-left m-t-5 m-b-0" style="float:left;"> Add Feedback</h2>
                                <a href="@Url.Action("Index","FeedBack")" class=" btn btn-info pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light btn-rounded" style="float:right;">
                                    <i class="icofont icofont-eye m-r-5"></i> View Feedback
                                </a>

                            </div>

                            <div class="card-body">


                                <div class="row">
                                    <div class="col-md-12">
                                        <hr />
                                        <div class="col-lg-4  col-sm-12 col-xs-12 offset-lg-4">
                                              
                                            <div class="form-group">

                                                <label> Country</label>
                                                @Html.DropDownListFor(x => x.Country, (IEnumerable<SelectListItem>)ViewBag.Countries, "Select Country", new { @class = "form-control", @id = "Country" })
                                                @Html.ValidationMessageFor(x => x.Country, "", new { @class = "text-danger" })

                                            </div>

                                              
                                              
                                            <div class="form-group">
                                                <label>Platform </label>
                                                @Html.EnumDropDownListFor(x => x.Platform, new { @class = "form-control form-control-lg form-control-round form-control-bold", @id = "Platform" })
                                                @Html.ValidationMessage("Platform", "", new { @class = "text-danger" })

                                            </div>
                                              
                                              
                                            <div class="form-group">
                                                <label>Customer Type</label>
                                                @Html.EnumDropDownListFor(x => x.CustomerType, new { @class = "form-control form-control-lg form-control-round form-control-bold", @id = "CustomerType" })
                                                @Html.ValidationMessage("CustomerType", "", new { @class = "text-danger" })

                                            </div>
                                              
                                              
                                            <div class="form-group" id="ExpiryDatediv">
                                                <label>Customer Name </label>

                                                @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control", @placeholder = "Enter Name" })
                                                @Html.ValidationMessageFor(x => x.CustomerName, "", new { @class = "text-danger" })

                                            </div>
                                              
                                              

                                            <div class="form-group">
                                                <label>Feedback/Title</label>
                                                @Html.TextAreaFor(x => x.FeedBack, new { @class = "form-control", @placeholder = "Enter FeedBack" })
                                                @Html.ValidationMessageFor(x => x.FeedBack, "", new { @class = "text-danger" })
                                            </div>
                                              


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-light">
                                <div class="row">
                                    <div class="col-lg-4  col-sm-12 col-xs-12 offset-lg-4">
                                        <a href="@Url.Action("Index","FeedBack")" class="btn btn-danger btn-round pull-left"><i class="fa fa-remove"></i> Cancel</a>
                                        <button type="submit" class="btn btn-primary btn-round pull-right"><i class="fa fa-save"></i> Save</button>


                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>


            </div>

        </div>
    </div>
}*@


@using (Html.BeginForm())
{
    <div class="pcoded-content">
        <div class="pcoded-inner-content">

            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-body">
                        <div class="row">

                            <div class="col-sm-12">

                                <div class="card">

                                    <div class="card-header border-bottom">
                                        <h4 class="f-left f-left m-t-5 m-b-0">Add Feedback  </h4>
                                        <a href="@Url.Action("Index","FeedBack")" class=" btn btn-primary f-right btn-round">
                                            <i class="icofont icofont-eye m-r-5"></i> View Feedback
                                        </a>
                                    </div>

                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-lg-4  col-sm-12 col-xs-12 offset-lg-4">
                                                <!--  -->

                                                <div class="form-group">
                                                    <label>Country</label>

                                                    @Html.DropDownListFor(x => x.Country, (IEnumerable<SelectListItem>)ViewBag.Countries, "Select Country", new { @class = "form-control  form-control-lg form-control-round form-control-bold", @id = "Country" })
                                                    @Html.ValidationMessageFor(x => x.Country, "", new { @class = "text-danger" })

                                                </div>

                                                <!--  -->
                                                <!--  -->

                                                <div class="form-group">
                                                    <label>Platform</label>
                                                    @Html.EnumDropDownListFor(x => x.Platform, new { @class = "form-control form-control-lg form-control-round form-control-bold", @id = "Platform" })
                                                    @Html.ValidationMessage("Platform", "", new { @class = "text-danger" })
                                                </div>

                                                <!--  -->
                                                <!--  -->

                                                <div class="form-group">
                                                    <label>Customer Type</label>
                                                    @Html.EnumDropDownListFor(x => x.CustomerType, new { @class = "form-control form-control-lg form-control-round form-control-bold", @id = "CustomerType" })
                                                    @Html.ValidationMessage("CustomerType", "", new { @class = "text-danger" })
                                                </div>

                                                <!--  -->
                                                <!--  -->

                                                <div class="form-group">
                                                    <label>Customer Name</label>
                                                    @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control  form-control-lg form-control-round form-control-bold", @placeholder = "Enter Name" })
                                                    @Html.ValidationMessageFor(x => x.CustomerName, "", new { @class = "text-danger" })
                                                </div>

                                                <!--  -->
                                                <!--  -->

                                                <div class="form-group">
                                                    <label>Feedback</label>
                                                    @Html.TextAreaFor(x => x.FeedBack, new { @class = "form-control  form-control-lg  form-control-bold", @placeholder = "Enter FeedBack" , @rows ="5" })
                                                    @Html.ValidationMessageFor(x => x.FeedBack, "", new { @class = "text-danger" })


                                                </div>

                                                <!--  -->








                                            </div>

                                        </div>

                                    </div>

                                    <div class="card-footer bg-light">
                                        <div class="row">
                                            <div class="col-lg-4  col-sm-12 col-xs-12 offset-lg-4">
                                                <a  href="@Url.Action("Index","FeedBack")" class="btn btn-danger btn-round pull-left"><i class="fa fa-remove"></i> Cancel</a>

                                                <button type="submit" class="btn btn-primary btn-round pull-right"><i class="fa fa-save"></i> Add Feedback</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

}

