@using PagedList;
@using PagedList.Mvc;

@model IPagedList<FAXER.PORTAL.Areas.Admin.ViewModels.ExchangeRateSettingViewModel>

@{
    ViewBag.Title = "ViewExchangeRate";
    Layout = "~/Areas/Admin/Views/Shared/New_Layout.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">

                        <div class="col-sm-12">

                            <div class="card">

                                <div class="card-header border-bottom">
                                    <h4 class="f-left f-left m-t-5 m-b-0">Exchange Rates</h4>
                                    <a href="@Url.Action("SetExchangeRateForAux", "AUXExchangeRate")" class=" btn btn-primary f-right btn-round">
                                            <i class="fa fa-plus m-r-5"></i> Set Rate
                                        </a>
                                </div>

                                <div class="card-body">
                                    <div class="row m-t-20 m-b-20">
                                        <!--  -->
                                        <div class="col-xl-4 col-md-6">
                                            <div class="form-group">
                                                <input type="text" name="datefilter" class=" form-control form-control-round form-control-bold" value="" placeholder="From to Date" autocomplete="off" id="Date" onchange="filter();">
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-xl-4 col-md-6">
                                            <div class="form-group">
                                                @Html.DropDownList("SendingCountry", (IEnumerable<SelectListItem>)ViewBag.SendingCountries, "Filter By Country", new { @class = "form-control  form-control-round form-control-bold", @id = "SendingCountry", @onchange = "filter();" })

                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-xl-4 col-md-6">
                                            <div class="form-group">
                                                @Html.DropDownList("City", (IEnumerable<SelectListItem>)ViewBag.Cities, "Choose City", new { @class = "form-control  form-control-round form-control-bold", @id = "City", @onchange = "filter();" })

                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-6">
                                            <div class="form-group">

                                                <select class="js-example-data-array form-control form-control-round form-control-bold" name="Method" id="Method" onchange="filter()">
                                                    <option value="0">Select Method</option>
                                                    <option value="7">All</option>
                                                    <option value="1">CashPickUp</option>
                                                    <option value="2">KiiPayWallet</option>
                                                    <option value="3">OtherWallet</option>
                                                    <option value="4">BankDeposit</option>
                                                    <option value="5">BillPayment</option>
                                                    <option value="6">ServicePayment</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--  -->
                                    </div>
                                    <div class="dt-responsive table-responsive">
                                        <table @*id="basic-btn"*@ class="table table-striped table-bordered nowrap ">
                                            <thead>
                                                <tr>

                                                    <th>Sending Country</th>
                                                    <th>Receiving Country</th>
                                                    <th>Sending Currency</th>
                                                    <th>Receiving Currency</th>
                                                    <th>Agent Name</th>
                                                    <th>Agent AccountNo</th>
                                                    <th>Method</th>
                                                    <th>Rate</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model)
                                                {

                                                    <tr>
                                                        <td>@item.SourceCountryName</td>
                                                        <td>@item.DestinationCountryName</td>
                                                        <td>@item.SourceCurrencyCode</td>
                                                        <td>@item.DestinationCurrencyCode</td>
                                                        <td>@item.AgentName</td>
                                                        <td>@item.AgentAccountNO</td>
                                                        <td>@item.TransferMethodName</td>

                                                        <td>@item.Rate </td>
                                                        <td class="action-icon">
                                                                <a href="@Url.Action("SetExchangeRateForAux", "AUXExchangeRate", new { @id = item.Id })" class=" ">Change</a>
                                                            </td>
                                                    </tr>
                                                }

                                            </tbody>

                                        </table>
                                        Page @(Model.PageCount<Model.PageNumber?0:Model.PageNumber) of @Model.PageCount
                                        @Html.PagedListPager(Model, page => Url.Action("ViewExchangeRate", new { @page = page }))
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


@section scripts{
    <script type="text/javascript">

        function filter() {

            var date = $("#Date").val();
            var sendingCountry = $("#SendingCountry").val();
            var city = $("#City").val();
            var Method = $("#Method").val();

            window.location.href = "/Admin/AUXExchangeRate/ViewExchangeRate?SendingCountry=" + sendingCountry + "&City=" + city + "&Date=" + date + "&Method=" + Method;

        }
        $("#Method").val('@ViewBag.Method');

    </script>
}

