@model FAXER.PORTAL.Areas.KiiPayBusiness.ViewModels.BankAccountDepositInternationalVM
@{
    ViewBag.Title = "InternationalBankAccountDeposit";
    Layout = "~/Areas/KiiPayBusiness/Views/Shared/_Layout_KiiPayBusiness.cshtml";
}
@using (Html.BeginForm())
{
    <!--  -->
    <div class="real_form pattern2 pdt40 ">
        <div class="container">

            <div class="row">
                <!-- Available balance -->
                <div class="col-lg-4 col-lg-offset-4 ">
                    <div class="text-right wallet-balance  mb15">
                        <h5>Available balance</h5>
                        <h1 class="text-primary">$175.<small class="text-primary">86</small></h1>
                    </div>
                </div>
                <!-- Available balance -->
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">


                    <div class="login_signup mb50 clearfix text-center">
                        <h3>Bank Account Deposit</h3>
                        <hr>

                        <div class="form-group mb30">
                            @Html.DropDownListFor(model => model.PayingToCountry, (IEnumerable<SelectListItem>)ViewBag.Countries,"Select Country" , new { @class = "form-blue" })
                        </div>
                        @Html.ValidationMessageFor(model => model.PayingToCountry , "" , new { @class="text-danger"})
                        <div class="form-group mb30">
                            @Html.DropDownListFor(model => model.AccountNumber, (IEnumerable<SelectListItem>)ViewBag.RecentAccountNumbers, "Select Recent Account No" , new { @class = "form-blue" })

                        </div>
                        @Html.ValidationMessageFor(model => model.AccountNumber , "" , new { @class="text-danger"})


                        <div class="form-group mb20">
                            <h2 class="text-primary text-center">OR</h2>
                        </div>



                        <div class="form-group   mb20">
                            @Html.TextBoxFor(model => model.AccountOwnerName , new { @type = "number" ,@placeholder = "Account owner" ,@class="form-blue" })
                            
                        </div>
                        @Html.ValidationMessageFor(model => model.AccountOwnerName , "" , new { @class="text-danger"})


                        <div class="form-group contact-no-group">
                            <div class="countr-code-lg">
                                977-
                            </div>
                            @Html.TextBoxFor(model => model.MobileNumber , new { @type = "number" ,@class="form-blue contact-no-lg" ,@maxlength="10" ,@minlength="10"  ,@placeholder="Enter Mobile Number "})
                            
                        </div>
                        @Html.ValidationMessageFor(model => model.MobileNumber , "" , new { @class="text-danger"})

                        <div class="form-group mb30">
                            @Html.DropDownListFor(model => model.BankId, (IEnumerable<SelectListItem>)ViewBag.Banks, "Select Bank" , new { @class = "form-blue" })
                        </div>
                        @Html.ValidationMessageFor(model => model.BankId, "", new { @class = "text-danger" })

                        <div class="form-group mb30">
                            @Html.DropDownListFor(model => model.BranchId, (IEnumerable<SelectListItem>)ViewBag.Branches, "Select Branches" ,new { @class = "form-blue" })
                        </div>
                        @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })

                        <div class="form-group mb20">
                            <h2 class="text-primary text-center">OR</h2>
                        </div>

                        <div class="form-group   mb20">
                            @Html.TextBoxFor(model => model.BranchCode , new { @class= "form-blue" , @type = "number" ,  @placeholder = "Branch Code" })
                        </div>
                        @Html.ValidationMessageFor(model => model.BranchCode , "" , new { @class="text-danger"})

                        <div class="form-group   mb20">
                            @Html.TextBoxFor(model => model.AccountNumber , new { @type = "number" ,@placeholder = "Account Number", @class="form-blue"})
                            
                        </div>
                        @Html.ValidationMessageFor(model => model.AccountNumber , "" , new { @class="text-danger"})

                    </div>
                    <div class="clearfix"></div>


                    <div class="text-center   clearfix">
                        <hr>

                        <button type="submit" class="btn btn-primary btn-lg   ">Continue <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        <div class="clearfix mb30"> </div>
                        <a href=" " class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                    </div>
                </div>

                <!--  -->

            </div>

        </div>
    </div>

}