@model FAXER.PORTAL.Models.SenderWithdrawMoneyFromWalletViewModel
@{
    ViewBag.Title = "SenderWithdrawMoneyFromWallet";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
    string[] AvailableBalance = Model.AvailableBalance.ToString("0.00").Split('.');
}


@using (Html.BeginForm())
{
    <!--  -->
    <div class="real_form pattern2 pdt40 ">
        <div class="container">
            <div class="row">
                @Html.HiddenFor(model => model.AvailableBalance)
                @Html.HiddenFor(model => model.AvailableCurrency)
                @Html.HiddenFor(model => model.CardHolderName)
                <!-- Available balance -->
                <div class="col-lg-4 col-lg-offset-4 ">
                    <div class="text-right wallet-balance  mb15">
                        <h5>Available balance</h5>
                        <h1 class="text-primary">@Model.AvailableCurrency @AvailableBalance[0].<small class="text-primary">@AvailableBalance[1]</small></h1>
                    </div>
                </div>
                <!-- Available balance -->

                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">

                    <div class="login_signup mb50 clearfix text-center">
                        <div class="flex-container amount-group flex-middle">
                            <div>
                                <div class="userimage  ">
                                    <img src="~/Content/images/user.svg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="font-30 text-primary">@Model.CardHolderName</span>
                            </div>
                        </div>
                        <hr>
                        <div class="clearfix">

                        </div>



                        <ul class="paymentmethod-list mt20 mb20">
                            <h4 class="text-left">Select Bank Account</h4>
                            @{
                                int index = 0;
                            }
                            @foreach (var item in Model.Banks)
                            {
                                @Html.HiddenFor(model => model.Banks[index].BankId)
                                <li>
                                    <label>

                                        @Html.RadioButtonFor(model => Model.Banks[index].IsChecked, true, new { @type = "radio", @id = item.BankId, @onchange = "RadioChange();",  @checked="true"})

                                        @*<input type="radio" name="@Model.Banks[index].IsChecked" value="false" id="@item.BankId"  onchange="RadioChange()" >*@
                                        <span class="cardsaved hidden-xs"><img src="~/Content/images/icon/svg/bank.svg" width="40"></span>
                                        <span class="title">@item.BankName</span> <span class="subtitle">@item.BankName @item.FormattedAccNo</span>
                                    </label>
                                </li>
                                index++;
                            }

                            <li>
                                <label class="text-left">
                                    <a href="@Url.Action("AddNewBankAccount", "SenderPersonalKeyPayBankAccount")"><i class="fa fa-plus"></i> Add a New Bank Account</a>
                                </label>
                            </li>

                        </ul>

                        <div class="clearfix">  </div>


                    </div>
                    <div class="clearfix"></div>
                    <div class="text-center  clearfix">
                        <hr>
                        <button type="submit" class="btn btn-primary btn-lg mb30">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        <!-- back btn -->
                        <div class="clearfix ">

                            <center>
                                <a href="javascript:history.back()" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                            </center>
                        </div>
                        <!-- back btn end-->
                    </div>
                </div>



                <!--  -->

            </div>

        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        //function RadioChange() {
        //    debugger;

        //    //$("input[type=radio]").each(function (event) {
        //    //    this.checked = false;

        //    //});
        //    $("input[type=radio]").prop("checked", false);
        //    event.target.checked = true;

        //}

        function RadioChange() {
           
            $("input[type=radio]").prop('checked', false)
            event.target.checked = true;
            event.target.value = true;
            if (event.target.id > 0) {

                $("02").show();
                $("01").hide();
                //$("form").submit();

            } else {


                $("01").show();
                $("02").hide();
                //window.location.href = "AddMoneyToWalletEnterCardInformation";
            }
        }
    </script>
}

