@model FAXER.PORTAL.Areas.KiiPayBusiness.ViewModels.KiiPayECardUserDetailsVm
@{
    ViewBag.Title = "UpdateEcardUserDetails";
    Layout = "~/Areas/KiiPayBusiness/Views/Shared/_Layout_KiiPayBusiness.cshtml";
}

@using (Html.BeginForm())
{
    <!--  -->
    <div class="real_form pattern2 pdt40 pdb40 ">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2  ">

                    <div class="login_signup mb50 clearfix">
                        <h3> KiiPay User Details </h3>
                        <hr>


                    
                            <!--  -->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>City</label>
                                    @Html.TextBoxFor(model => model.City, new { @type = "text", @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    @Html.TextBoxFor(model => model.Address, new { @type = "text", @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Mobile Number</label>
                                    @Html.TextBoxFor(model => model.MobileNo, new { @type = "text", @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    @Html.TextBoxFor(model => model.EmailAddress, new { @type = "text", @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-12 mt30">
                                <div class="form-group text-center">
                                    <a class="btn btn-primary btn-lg  radius-20" data-toggle="modal" data-target="#myModal">Update</a>
                                </div>
                            </div>
                            <!--  -->


                        <div class="clearfix"></div>
                        <div class="text-center  clearfix">
                            <hr>
                            <!-- back btn -->
                            <div class="clearfix ">

                                <center>
                                    <a href="javascript:history.back()" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                                </center>
                            </div>
                            <!-- back btn end-->
                        </div>
                    </div>

                    <!--  -->

                </div>

            </div>
        </div>
    </div>
    <!-- KiiPay Confirmation -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">KiiPay Confirmation</h4>
                </div>
                <div class="modal-body uk-text-center ">
                    <div class="form-group">
                        <p class="mb0">Enter the code sent to your mobile number</p> <div class="clearfix"><br></div>
                        @Html.TextBoxFor(model => model.MobileCode, new { @type = "number", @placeholder = "Enter code", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MobileCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm radius-20">Confirm</button>
                    <button type="button" class="btn btn-default btn-sm radius-20" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

}


