@model FAXER.PORTAL.Areas.Businesses.ViewModels.BusinessRegistrationsSignUpVm
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Areas/Businesses/Views/Shared/_Business_Layout.cshtml";
}

<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h1>Business Information </h1>
            </div>
        </div>
    </div>
</div>
<!--  -->
<!--  -->
@using (Html.BeginForm())
{
    <form>
        <div class="real_form">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="login_signup">


                            <!--  -->
                            <!--  -->
                            <div class="form-group">
                                <div class="col-lg-5">
                                    <label>Company/Business Name <span class="required">*</span></label>
                                </div>

                                <div class="col-lg-6 ">
                                    @Html.TextBoxFor(model => model.BusinessName, new { @class = "form-control", @placeholder = "" })
                                    @Html.ValidationMessageFor(Model => Model.BusinessName, "", new { @class = "text-danger" })
                                    @*<input type="text" name="" class="form-control" placeholder="">*@
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <!--  -->
                            <!--  -->
                            <div class="form-group">
                                <div class="col-lg-5">
                                    <label>Business Registration Number/License<span class="required">*</span></label>
                                </div>
                                <div class="col-lg-6 ">
                                    @Html.TextBoxFor(model => model.RegistrationNumber, new { @class = "form-control", @placeholder = "" })
                                    @Html.ValidationMessageFor(Model => Model.RegistrationNumber, "", new { @class = "text-danger" })
                                </div>	<div class="clearfix"></div>
                            </div>

                            <!--  -->
                            <!--  -->
                            <div class="form-group">
                                <div class="col-lg-5">
                                    <label>Business/Company Type<span class="required">*</span></label>
                                </div>

                                <div class="col-lg-6 ">
                                    @Html.EnumDropDownListFor(model => model.BusinessType, new { @class = "form-control", @placeholder = "" })
                                    @Html.ValidationMessageFor(Model => Model.BusinessType, "", new { @class = "text-danger" })

                                </div><div class="clearfix"></div>
                            </div>

                            <!--  -->
                            <!--  -->
                            <div class="form-group">
                                <div class="col-lg-5">
                                    <label> Address Line 1<span class="required">*</span></label>
                                </div>

                                <div class="col-lg-6 ">
                                    @Html.TextBoxFor(model => model.AddressLine1, new { @class = "form-control", @placeholder = "" })
                                    @Html.ValidationMessageFor(Model => Model.AddressLine1, "", new { @class = "text-danger" })

                                </div><div class="clearfix"></div>
                            </div>

                            <!--  -->
                            <!--  -->
                            <div class="form-group">
                                <div class="col-lg-5">
                                    <label> Address Line 2</label>
                                </div>

                                <div class="col-lg-6 ">
                                    @Html.TextBoxFor(model => model.AddressLine2, new { @class = "form-control", @placeholder = "" })
                                </div><div class="clearfix"></div>
                            </div>

                            <!--  -->
                            <!--  -->
                            <div class="form-group">
                                <div class="col-lg-5">
                                    <label>City <span class="required">*</span></label>
                                </div>

                                <div class="col-lg-6 ">
                                    @Html.TextBoxFor(model => model.City, new { @class = "form-control", @placeholder = "" })
                                    @Html.ValidationMessageFor(Model => Model.City, "", new { @class = "text-danger" })
                                </div>	<div class="clearfix"></div>
                            </div>

                            <!--  -->
                            <!--  -->
                            <div class="form-group">
                                <div class="col-lg-5">
                                    <label>Province / Region / State<span class="required">*</span></label>
                                </div>

                                <div class="col-lg-6 ">
                                    @Html.TextBoxFor(model => model.State, new { @class = "form-control", @placeholder = "" })
                                    @Html.ValidationMessageFor(Model => Model.State, "", new { @class = "text-danger" })
                                </div>	<div class="clearfix"></div>
                            </div>

                            <!--  -->
                            <!--  -->
                            <div class="form-group">
                                <div class="col-lg-5">
                                    <label>Post Code / Zipcode<span class="required">*</span></label>
                                </div>

                                <div class="col-lg-6 ">
                                    @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control", @placeholder = "" })
                                    @Html.ValidationMessageFor(Model => Model.ZipCode, "", new { @class = "text-danger" })
                                </div>	<div class="clearfix"></div>
                            </div>

                            <!--  -->
                            <!--  -->
                            <div class="form-group">
                                <div class="col-lg-5">
                                    <label>Country<span class="required">*</span></label>
                                </div>

                                <div class="col-lg-6 ">
                                    @Html.DropDownListFor(model => model.Country, (IEnumerable<SelectListItem>)ViewBag.Country, "Select Country", new { @class = "form-control", @placeholder = "" })
                                    @Html.ValidationMessageFor(Model => Model.Country, "", new { @class = "text-danger" })
                                </div><div class="clearfix"></div>
                            </div>

                            <!--  -->
                            <!--  -->
                            <div class="form-group">
                                <div class="col-lg-5">
                                    <label>Mobile No.<span class="required">*</span></label>
                                </div>

                                <div class="col-lg-6 ">
                                    @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control", @placeholder = "" })
                                    @Html.ValidationMessageFor(Model => Model.MobileNumber, "", new { @class = "text-danger" })
                                </div><div class="clearfix"></div>
                            </div>

                            <!--  -->
                            <!--  -->
                            <div class="form-group">
                                <div class="col-lg-5">
                                    <label>Office No. </label>
                                </div>

                                <div class="col-lg-6 ">
                                    @Html.TextBoxFor(model => model.OfficeNumber, new { @class = "form-control", @placeholder = "" })
                                    @Html.ValidationMessageFor(Model => Model.OfficeNumber, "", new { @class = "text-danger" })
                                </div><div class="clearfix"></div>
                            </div>

                            <!--  -->


                            <h3>Contact Person Information</h3>
                            <hr>
                            <!--  -->
                            <div class="form-group">
                                <div class="col-lg-5">
                                    <label>Contact Person Name<span class="required">*</span></label>
                                </div>

                                <div class="col-lg-6 ">
                                    @Html.TextBoxFor(model => model.ContactPersonName, new { @class = "form-control", @placeholder = "" })
                                    @Html.ValidationMessageFor(Model => Model.ContactPersonName, "", new { @class = "text-danger" })

                                </div><div class="clearfix"></div>
                            </div>

                            <!--  -->
                            <!--  -->
                            <div class="form-group">
                                <div class="col-lg-5">
                                    <label>Contact No.<span class="required">*</span></label>
                                </div>

                                <div class="col-lg-6 ">
                                    @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control", @placeholder = "" })
                                    @Html.ValidationMessageFor(Model => Model.ContactNo, "", new { @class = "text-danger" })

                                </div><div class="clearfix"></div>
                            </div>

                            <!--  -->
                            <h3>Login Information</h3>
                            <hr>

                            <!--  -->
                            <div class="col-lg-5">
                                <label>Username (email address) <span class="required">*</span></label>
                            </div>

                            <div class="col-lg-6 ">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "", @type = "Email" })
                                    @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-5">
                                <label>Password <span class="required">*</span></label>
                            </div>

                            <div class="col-lg-6 ">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "", @type = "password" })
                                    @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-5">
                                <label>Confirm Password <span class="required">*</span></label>
                            </div>

                            <div class="col-lg-6 ">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "", @type = "password" })
                                    @Html.ValidationMessageFor(Model => Model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <small id="emailHelp" class="form-text text-muted"><b>Password Policy </b>:<i> Password should contain atleast one upper case, one number, one special character and one lower case</i></small>
                                </div>
                            </div>

                            <!--  -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="dynamic_footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">

                        <button type="submit" class="fbtn btn-next">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        @* <a href="/Businesses/BusinessRegistration/BusinessContactDetails" class="fbtn btn-next">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>*@
                    </div>
                </div>
            </div>
        </div>
    </form>
}