@model List<FAXER.PORTAL.Areas.Admin.ViewModels.ViewAgentMFBCPaymentsViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<!-- ============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">View - Agent MFBC Payments</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">


                <ol class="breadcrumb">
                    <li><a href="/Admin/AdminDashboard">Dashboard</a></li>
                    <li class="active">View - Agent MFBC Payments</li>
                </ol>

            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                @Html.DropDownList("Country", (IEnumerable<SelectListItem>)ViewBag.Countries, "Filter By Country", new { @class = "form-control", id = "Country", onchange = "Fliter();" })

            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.DropDownList("City", (IEnumerable<SelectListItem>)ViewBag.SCities, "Choose City", new { @class = "form-control", id = "city", onchange = "Fliter();" })
            </div>
        </div>
        <div class="clearfix"></div>



        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">


                    <div class="table-responsive">
                        <table class="csv display nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <td rowspan="2">SN<strong></strong></td>
                                    <td rowspan="2"><strong>Business Name</strong></td>
                                    <td rowspan="2"><strong>Business MF Code</strong></td>
                                    <td rowspan="2"><strong>Card User's Full Name</strong></td>
                                    <td colspan="4"><strong>Card User's Photo ID</strong></td>
                                    <td rowspan="2"><strong>MFBC Number</strong></td>
                                    <td rowspan="2"><strong>Total Credit on MFBC</strong></td>
                                    <td colspan="3"><strong>Money Withdrawal</strong></td>
                                    <td colspan="3"><strong>Agent</strong></td>


                                    <td rowspan="2"><strong>Withdrawal Receipt  </strong></td>
                                    <td rowspan="2">
                                        <strong>
                                            Balance on Business Card
                                        </strong>
                                    </td>


                                </tr>


                                <tr>
                                    <td><strong>Type</strong></td>
                                    <td><strong>No.</strong></td>
                                    <td><strong>Exp Date</strong></td>
                                    <td><strong>Issuing Country</strong></td>



                                    <td><strong>Amt</strong></td>
                                    <td><strong>Time</strong></td>
                                    <td><strong>Date</strong></td>



                                    <td><strong>Verifier</strong></td>
                                    <td><strong> Name</strong></td>
                                    <td><strong> MF Code</strong></td>
                                </tr>


                            </thead>


                            <tbody>
                                @{ int i = 0; }
                                @foreach (var item in Model)
                                {
                                    i++;
                                    <tr>



                                        <td>@i</td>
                                        <td>@item.BusinessName</td>
                                        <td>@item.BusinessMobileNo</td>
                                        <td>@item.CardUserFullName</td>
                                        <td>@item.CardUserPhotoIDType</td>
                                        <td>@item.CardUserPhotoIDNumber</td>
                                        <td>@item.CardUserPhotoIDExpDate</td>
                                        <td>@item.CardUserPhotoIDIssuingCountry</td>

                                        <td>@item.MFBCNumber</td>
                                        <td>@item.TotalCreditOnMFBC @item.Currency</td>
                                        <td>@item.MoneyWDAmount @item.Currency</td>
                                        <td>@item.MoneyWDTime</td>
                                        <td>@item.MoneyWDDate</td>



                                        <td>@item.AgentVerifier </td>
                                        <td>@item.AgentName</td>
                                        <td>@item.AgentMFSCode</td>
                                        <td><a href="@Url.Action("PrintReceiptPDF","ViewAgentMFBCPayments", item)" target="_blank" class="btn btn-sm btn-warning btn-rounded">PDF Receipt</a></td>
                                        <td> @item.BalanceOnBusinessCard @item.Currency</td>



                                    </tr>

                                }





                            </tbody>


                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- .row -->
        <!--/.row -->
        <!--row -->
    </div>
</div>


@section scripts{
    <script type="text/javascript">

        function Fliter() {
            var country = document.getElementById("Country").value;
            var city = document.getElementById("city").value;
            window.location.href = "/Admin/ViewAgentMFBCPayments/Index?CountryCode=" + country + "&City=" + city;
        }


    </script>
}