
@model FAXER.PORTAL.Models.SenderMobileEnrterAmountVm
@{
    ViewBag.Title = "EditInternationalRequest";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
}

@using (Html.BeginForm())
{


    <div class="real_form pattern2 pdt40 ">
        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">

                    <div class="login_signup mb50 clearfix text-center">
                        <div class="flex-container amount-group flex-middle">
                            <div>
                                <div class="userimage  ">
                                    <img src="@Model.ImageUrl" alt="">
                                </div>
                            </div>

                            @Html.HiddenFor(x => x.SendingCurrencyCode)
                            @Html.HiddenFor(x => x.SendingCurrencySymbol)
                            @Html.HiddenFor(x => x.ReceivingCurrencyCode)
                            @Html.HiddenFor(x => x.ReceivingCurrencyCode)
                            @Html.HiddenFor(x => x.ImageUrl)
                            @Html.HiddenFor(x => x.Id)
                            @Html.HiddenFor(x => x.TotalAmount)
                            @Html.HiddenFor(x => x.ReceiverName)
                            @Html.HiddenFor(x => x.ReceiverId)
                            @Html.HiddenFor(x => x.Fee)
                            @Html.HiddenFor(x => x.ExchangeRate)

                            <div>
                                <span class="font-30 text-primary"> @Model.ReceiverName</span>
                            </div>
                        </div>

                        <div class="amount-group mb5  row ">

                            <div class="col-lg-5">
                                <label>Sending Amount</label>
                                @Html.TextBoxFor(x => x.SendingAmount, new { @class = "amount", @placeholder = "£0.00", @type = "number", id = "SendingAmount", @onchange = "GetPaymentSummary()", @step = ".01" })
                                @Html.ValidationMessageFor(model => model.SendingAmount, "", new { @class = "text-danger" })
                                <div class="gbpusd">
                                    @Model.SendingCurrencyCode
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <span class="text-primary font-20">OR</span>
                            </div>
                            <div class="col-lg-5">
                                <label>Receiving Amount</label>
                                @Html.TextBoxFor(x => x.ReceivingAmount, new { @class = "amount", @placeholder = "£0.00", @type = "number", id = "ReceivingAmount", @onchange = "GetPaymentSummary()", @step = ".01" })
                                @Html.ValidationMessageFor(model => model.ReceivingAmount, "", new { @class = "text-danger" })
                                <div class="gbpusd">
                                    @Model.ReceivingCurrencyCode
                                </div>
                            </div>
                        </div>


                        <div class="pinside20">

                            <div class="estimate-calculator" style="">
                                <div class="wrapper">

                                    <dl>
                                        <dt>Fee</dt>
                                        <dd class="fee" id="Fee" data-outbound-currency="USD"> @Model.SendingCurrencySymbol  <span name="Fee"> @Model.Fee</span></dd>
                                    </dl>
                                    <dl>
                                        <dt>You pay</dt>
                                        <dd class="fee" data-outbound-currency="USD" id="TotalAmount"> @Model.SendingCurrencySymbol <span name="TotalAmount"> @Model.TotalAmount</span></dd>
                                    </dl>
                                    <dl>
                                        <dt>They receive</dt>
                                        <dd class="fee" data-outbound-currency="USD"> @Model.ReceivingCurrencySymbol <span name="ReceivingAmount"> @Model.ReceivingAmount</span></dd>
                                    </dl>
                                    <div class="clearfix">

                                    </div>
                                </div>
                                <div class="exchange-rate-holder">
                                    Exchange rate
                                    <span data-outbound-currency="GBP">@Model.SendingCurrencyCode 1</span> = <span class="exchange-rate" data-inbound-currency="GHS">@Model.ReceivingCurrencyCode @Model.ExchangeRate</span>
                                </div>

                            </div>
                            <div class="amount-group  mb0">
                                @Html.TextBoxFor(x => x.PaymentReference, new { @class = "reference", @placeholder = "Add Note (Optional)" })
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>

                    <div class="text-center   clearfix">
                        <hr>

                        <button type="submit" class="btn btn-primary btn-lg  mb30 ">Send This Amount <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        <!-- back btn -->
                        <div class="clearfix ">

                            <center>
                                <a href="javascript:history.back()" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                            </center>
                        </div>
                        <!-- back btn end-->
                    </div>
                </div>

                <!--  -->

            </div>

        </div>
    </div>


}

@section Scripts{

    <script type="text/javascript">


        function GetPaymentSummary() {
            debugger;
            var SendingAmount = $("#SendingAmount").val();
            var ReceivingAmount = $("#ReceivingAmount").val();

            //GetPaymentSummary
            $.getJSON("/SenderSendARequest/GetPaymentSummary?SendingAmount=" + SendingAmount + "&ReceivingAmount=" + ReceivingAmount, function (result) {

                for (var item in result) {

                    var selector = '[name="' + item + '"]';
                    $(selector).val(result[item]);
                    $(selector).text(result[item]);
                }
            })
        }

    </script>
}