
@{

    Layout = "~/Areas/EmailTemplate/Views/Shared/_Layout_Receipt.cshtml";
}
<div style="padding:20px">


    <h4 style="text-align:center">
        Virtual Account Deposit Confirmation of Payment Receipt
    </h4>
    <table width="100%">
        <tbody>
            <tr>
                <td><b>MF Receipt Number</b></td>
                <td><b>@ViewBag.ReceiptNumber</b></td>
            </tr>
            <tr>
                <td><b>Date</b></td>
                <td><b>@ViewBag.Date</b></td>
            </tr>
            <tr>
                <td><b>Time</b></td>
                <td><b>@ViewBag.Time</b></td>
            </tr>
            <tr>
                <td><b>Sender's Full Name</b></td>
                <td><b>@ViewBag.FaxerFullName</b></td>
            </tr>
            <tr>
                <td><b>Sender's Country</b></td>
                <td><b>@ViewBag.FaxerCountry</b></td>
            </tr>
            <tr>
                <td><b>Virtual Account No</b></td>
                <td><b>@ViewBag.MFTCCardNumber</b></td>
            </tr>
            <tr>
                <td><b>Virtual Account Registered Country</b></td>
                <td><b>@ViewBag.CardUserCountry</b></td>
            </tr>
            <tr>
                <td><b>Virtual Account Registered City</b></td>
                <td><b>@ViewBag.CardUserCity</b></td>
            </tr>
            @if (!string.IsNullOrEmpty(ViewBag.StaffName))
            {
                @*<tr>

                    <td><b>Staff Name</b></td>
                    <td><b>@ViewBag.StaffName</b></td>
                </tr>
                <tr>
                    <td><b>Staff MF Code</b></td>
                    <td><b>@ViewBag.StaffCode</b></td>
                </tr>*@
                <tr>
                    <td><b>Deposit Type</b></td>
                    <td><b>@ViewBag.DepositType</b></td>
                </tr>
            }
            <tr>
                <td><b>Deposit Amount </b></td>
                <td><b>@ViewBag.AmountTopUp @ViewBag.SendingCurrency</b></td>
            </tr>
            <tr>
                <td><b>Deposit Fees</b></td>
                <td><b>@ViewBag.Fee @ViewBag.SendingCurrency</b></td>

            </tr>
            <tr>
                <td><b>Exchange Rates</b></td>
                <td><b>@ViewBag.ExchangeRate</b></td>
            </tr>
            <tr>
                <td>
                    <b>
                        Deposit Amount + Fees
                    </b>
                </td>
                <td><b>@ViewBag.TotalAmount @ViewBag.SendingCurrency</b></td>
            </tr>
            <tr>
                <td>
                    <b>
                        Amount deposited into virtual account
                    </b>
                </td>
                <td><b>@ViewBag.AmountInLocalCurrency @ViewBag.ReceivingCurrency</b></td>
            </tr>

           

            <tr>
                <td><b>Amount available to Withdraw / Make Purchase with</b></td>
                <td><b>@ViewBag.BalanceOnCard @ViewBag.ReceivingCurrency</b></td>
            </tr>


        </tbody>
    </table>
</div>
