@model  FAXER.PORTAL.Models.EstimateFaxingFee
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Index", "EstimateFee", FormMethod.Post))
{


    @Html.ValidationSummary(true)


    <div class="progress">
        <div class="progress-bar  " role="progressbar" aria-valuenow="40"
             aria-valuemin="0" aria-valuemax="100" style="width:7%">

        </div>
        <div class="arrow"></div>
    </div>

    <!--  -->
    <div class="dynamic_bg_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Estimate Sending Fees</h1>
                </div>

            </div>
        </div>


    </div>
    <!--  -->



    <div class="real_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">                   
                    <div class="col-lg-6">
                        @*@Html.DropDownListFor(model => model.Faxing, ViewBag.Faxing as IEnumerable<SelectListItem>, "Select Sending Country", htmlAttributes: new { @class = "form-control", id = "Country" })*@
                        @Html.DropDownListFor(model => model.Faxing, null, "Select Sending Country", htmlAttributes: new { @class = "form-control", id = "Country" })
                        @Html.ValidationMessageFor(model => model.Faxing, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="col-lg-6">                      
                        @Html.DropDownListFor(model => model.Receiving, null,"Select Receiving Country", htmlAttributes: new { @class = "form-control", id = "RecCountry" })
                        @Html.ValidationMessageFor(model => model.Receiving, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dynamic_footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <input type="submit" value="Next >" class="fbtn btn-next" aria-hidden="true" />                    
                </div>
            </div>
        </div>
    </div>
}


